# **Top 5 Queries from Chapter 4 and 5**

# _<u>Top 1: Chapter 4 Correlated Subqueries</u>_

- Write a query that will return the largest orderId where the customer's id is 85
- Provided tables: Sales.Orders TSQLV4
- Desired Output:

**TSQLV4**:

| orderid |
| --- |
| 10248 |

**Northwinds2022TSQLV7**:

| OrderId |
| --- |
| 10248 |

In [ ]:

----------------------------------------------------------------------------
--TSQLV4
----------------------------------------------------------------------------

USE TSQLV4;


SELECT MAX(O2.orderid)
FROM Sales.Orders AS O2
WHERE O2.custid = 85;

---------------------------------------------------------------------------
--Northwinds2022TSQLV4
----------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT MAX(O2.OrderID)
FROM Sales.[Order] AS O2
WHERE O2.CustomerId = 85;

## **Explanation:**

The question generally asks us to write a query that will get the *MAXIMUM* orderid of a customer with his or her id being 85. There are times where a single customer may have multiple orders so we want to find the one with the largest id number. We first find the *MAX* of orderid which will receive that information *FROM* Sales.Orders table. We then filter the *custid* from Sales.Orders table where it must equal 85. This can be generally useful if the company wants to look at order information for a certain customer.

## _<u>TOP 2 Chapter 4 Excercise 1:</u>_

Write a query that returns all orders placed on the last day of activity that can be found in the  
Orders table:

- Tables involved: TSQLV4 Sales._Order_
- Desired Output:

**TSQLV4:**

| orderid | orderdate | custid | empid |
| --- | --- | --- | --- |
| 11077 | 2016-05-06 | 65 | 1 |
| 11076 | 2016-05-06 | 9 | 4 |
| 11075 | 2016-05-06 | 68 | 8 |
| 11074 | 2016-05-06 | 73 | 7<br> |

**Northwinds2022TSQLV7:**

| Orderid | OrderDate | Customerid | Employeeid |
| --- | --- | --- | --- |
| 11077 | 2016-05-06 | 65 | 1 |
| 11076 | 2016-05-06 | 9 | 4 |
| 11075 | 2016-05-06 | 68 | 8 |
| 11074 | 2016-05-06 | 73 | 7 |

In [ ]:
--------------------------------------------------------------------
--TSQLV4
--------------------------------------------------------------------

USE TSQLV4;

SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate =
(SELECT MAX(O.orderdate) FROM Sales.Orders AS O);

-------------------------------------------------------------------
--NORTHWINDS2022TSQLV7
-------------------------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT OrderID, OrderDate, CustomerID, EmployeeId
FROM Sales.[Order]
WHERE orderdate =
(SELECT MAX(O.OrderDate) FROM Sales.[Order] AS O);

## **Explanation:**

The code above was able to achieve the answer the question wanted which finds the orders made within the last day of the order dates. We achieve this by *SELECT* order information (orderid, orderdate) and customer information (custid) and employee information (empid) *FROM* the Sales.Orders table. We then filter using *WHERE* our orderdate will equal a subquery that will return the *MAX* value for orderdate *FROM* Sales.Orders defined as O. This will return 2016-05-06 from the subquery. Overall we will get all results with orderdate only as 2016-05-06. This query can be useful to learn about how to utilize subquery and how a company wants to see what sales were made on their last day of activities.

## _<u>Top 3: Chapter 4 NULL trouble</u>_

- Insert into the Sales.Orders table a new row where we dont have a customer, we have a employee with the id as 1, order date, required date, and shipped date all set to February 12, 2022,  shipper id is 1, the freight price being $123.00, and shipping details with ship name, address, city, region, postal code, and country all set to 'abc'?
- Provided tables: Sales.Orders TSQLV4
- Desired Output:

**TSQLV4:**

| custid | empid | orderdate | requireddate | shippeddate | shipperid | freight | shipname | shipaddress | shipcity | shipregion | shippostalcode | shipcountry |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| NULL | 1 | 20220212 | 20220212 | 20220212 | 1 | 123.00 | abc | abc | abc | abc | abc | abc |

**Northwinds2022TSQLV7:**

| CustomerId | EmployeeId | OrderDate | RequiredDate | ShipToDate | ShipperId | Freight | ShipToName | ShipToAddress | ShipToCity | ShipToRegion | ShipToPostalCode | ShipToCountry |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| NULL | 1 | 20220212 | 20220212 | 20220212 | 1 | 123.00 | abc | abc | abc | abc | abc | abc |

In [ ]:
----------------------------------------------------------------------------
--TSQLV4
----------------------------------------------------------------------------

--USE TSQLV4;

--INSERT INTO Sales.Orders
--  (custid, empid, orderdate, requireddate, shippeddate, shipperid,
--   freight, shipname, shipaddress, shipcity, shipregion,
--   shippostalcode, shipcountry)
--  VALUES(NULL, 1, '20220212', '20220212',
--         '20220212', 1, 123.00, N'abc', N'abc', N'abc',
--         N'abc', N'abc', N'abc');

----------------------------------------------------------------------------
--Northwinds2022TSQLV7
----------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

INSERT INTO Sales.[Order]
  (CustomerId, EmployeeId, OrderDate, RequiredDate, ShipToDate, ShipperId,
   Freight, ShipToName, ShipToAddress, ShipToCity, ShipToRegion,
   ShipToPostalCode, ShipToCountry)
  VALUES(NULL, 1, '20220212', '20220212',
         '20220212', 1, 123.00, N'abc', N'abc', N'abc',
         N'abc', N'abc', N'abc');

## **Explanation:**

The question asked us to enter a new row into Sales.Orders with the required information provided to us above. In the code, we *INSERT INTO* Sales.Orders table while in parenthesis we indicate all attributes in Sales.Orders which include custid, empid, orderdate, requireddate, shippeddate, shipperid, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry. Then we indicate the *VALUES* which in parenthesis includes NULL, 1, '20220212', '20220212','20220212', 1, 123.00, N'abc', N'abc', N'abc',N'abc', N'abc', N'abc' and these all correlate with the attributes in that order. The *N* also indicates it will be a Unicode. This code will overall add a new row into our table. This can be useful to learn more about Insertion when it comes to SQL and how having NULL on certain primary keys can cause a problem in the database.

## _<u>TOP 4: Views and ORDER BY</u>_

- Create a view called 'USACusts' in the Sales schema which will include all attributes from the Sales.Customers table, however we will filter only those who are from 'USA' and we will sort the customer's region from ascending order.  Then create a query that will return the customer's id, company name, and region from the newly created view.  
- <span style="color: var(--vscode-foreground);">Tables Provided: Sales.Customers TSQLV4</span>
- Desired Output:

**TSQLV4:**

| custid | companyname | region |
| --- | --- | --- |
| 55 | Customer KZQZT | AK |
| 45 | Customer QXPPT | CA |
| 71 | Customer LCOUJ | ID |
| 78 | Customer NLTYP | MT |
| 65 | Customer NYUHS | NM |
| 48 | Customer DVFMB | OR |
| 32 | Customer YSIQX | OR |
| 36 | Customer LVJSO | OR |
| 77 | Customer LCYBZ | OR |
| 82 | Customer EYHKM | WA |
| 89 | Customer YBQTI | WA |
| 43 | Customer UISOJ | WA |
| 75 | Customer XOJYP | WY |

**Northwinds2022TSQLV7:**

| CustomerID | CustomerCompanyName | CustomerRegion |
| --- | --- | --- |
| 55 | Customer KZQZT | AK |
| 45 | Customer QXPPT | CA |
| 71 | Customer LCOUJ | ID |
| 78 | Customer NLTYP | MT |
| 65 | Customer NYUHS | NM |
| 48 | Customer DVFMB | OR |
| 32 | Customer YSIQX | OR |
| 36 | Customer LVJSO | OR |
| 77 | Customer LCYBZ | OR |
| 82 | Customer EYHKM | WA |
| 89 | Customer YBQTI | WA |
| 43 | Customer UISOJ | WA |
| 75 | Customer XOJYP | WY<br><br> |

In [ ]:
----------------------------------------------------------------------------
--TSQLV4
----------------------------------------------------------------------------

--USE TSQLV4;

--DROP VIEW IF EXISTS Sales.USACusts;
--GO
--CREATE OR ALTER VIEW Sales.USACusts
--AS
--SELECT
--custid, companyname, contactname, contacttitle, address,
--city, region, postalcode, country, phone, fax
--FROM Sales.Customers
--WHERE country = N'USA';
--GO

--SELECT custid, companyname, region
--FROM Sales.USACusts;

----------------------------------------------------------------------------
--Northwinds2022TSQLV7
----------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

DROP VIEW IF EXISTS Sales.USACusts;
GO
CREATE OR ALTER VIEW Sales.USACusts
AS
SELECT
CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.[Customer]
WHERE CustomerCountry = N'USA';
GO

SELECT CustomerId, CustomerCompanyName, CustomerRegion
FROM Sales.USACusts;

## **Explanation:**

Firstly, we will check if there is any table views called Sales.USACusts that exist and if it does it will be deleted which is what _DROP VIEW_ will achieve. Then we _CREATE VIEW_ called Sales.USACusts which will create a new view _FROM_ the Sales.\[Customers\] and *SELECT* all attributes from that table. However, we will filter it *WHERE* Customer's country must equal N'USA', N meaning Unicode and USA meaning the country USA. Then we run that batch with *GO*. Finally, we *SELECT* customer's id, customer's company name, and customer's region to test if it all worked. This code overall can be useful to understand more able how *VIEWS* can be helpful when trying to achieve filtered results and save the results.

## _<u>Top 5: Chapter 4 Example Inner-Join Compared to Subqueries</u>_

- Write a query that returns all orderID placed by employees with a last name starting with the letter D
- Provided tables: HR.Employees and Sales.Orders TSQLV4
- Desired Output:

**TSQLV4:**

| orderid |
| --- |
| 10258 |
| 10270 |
| 10275 |
| 10285 |
| 10292 |
| 10293 |
| 10304 |
| 10306 |
| 10311 |
| 10314 |
| 10316 |
| 10325 |
| 10340 |
| 10351 |
| 10357 |
| 10361 |
| 10364 |
| 10371 |
| 10374 |
| 10376 |
| 10377 |
| 10385 |
| 10387 |
| 10393 |
| 10394 |
| 10396 |
| 10400 |
| 10401 |
| 10405 |
| 10453 |
| 10461 |
| 10465 |
| 10469 |
| 10473 |
| 10482 |
| 10486 |
| 10508 |
| 10524 |
| 10525 |
| 10537 |
| 10542 |
| 10546 |
| 10558 |
| 10562 |
| 10567 |
| 10579 |
| 10587 |
| 10591 |
| 10598 |
| 10604 |
| 10605 |
| 10612 |
| 10616 |
| 10618 |
| 10626 |
| 10630 |
| 10653 |
| 10655 |
| 10664 |
| 10665 |
| 10668 |
| 10671 |
| 10677 |
| 10680 |
| 10689 |
| 10690 |
| 10709 |
| 10710 |
| 10713 |
| 10717 |
| 10718 |
| 10733 |
| 10743 |
| 10746 |
| 10773 |
| 10776 |
| 10785 |
| 10788 |
| 10789 |
| 10792 |
| 10800 |
| 10813 |
| 10821 |
| 10825 |
| 10827 |
| 10834 |
| 10835 |
| 10842 |
| 10850 |
| 10859 |
| 10877 |
| 10886 |
| 10888 |
| 10894 |
| 10900 |
| 10902 |
| 10909 |
| 10910 |
| 10916 |
| 10921 |
| 10928 |
| 10946 |
| 10950 |
| 10952 |
| 10968 |
| 10969 |
| 10975 |
| 10976 |
| 10981 |
| 10984 |
| 10991 |
| 10992 |
| 10995 |
| 11012 |
| 11023 |
| 11027 |
| 11038 |
| 11039 |
| 11064 |
| 11067 |
| 11069 |
| 11071 |
| 11077 |
| 10255 |
| 10263 |
| 10324 |
| 10331 |
| 10386 |
| 10411 |
| 10475 |
| 10501 |
| 10506 |
| 10538 |
| 10557 |
| 10566 |
| 10577 |
| 10586 |
| 10646 |
| 10672 |
| 10687 |
| 10705 |
| 10736 |
| 10745 |
| 10750 |
| 10771 |
| 10782 |
| 10799 |
| 10828 |
| 10829 |
| 10837 |
| 10849 |
| 10853 |
| 10871 |
| 10889 |
| 10893 |
| 10905 |
| 10942 |
| 10951 |
| 10953 |
| 10963 |
| 10970 |
| 10978 |
| 11016 |
| 11017 |
| 11022 |
| 11058 |

**Northwinds2022TSQLV7:**

| OrderID |
| --- |
| 10258 |
| 10270 |
| 10275 |
| 10285 |
| 10292 |
| 10293 |
| 10304 |
| 10306 |
| 10311 |
| 10314 |
| 10316 |
| 10325 |
| 10340 |
| 10351 |
| 10357 |
| 10361 |
| 10364 |
| 10371 |
| 10374 |
| 10376 |
| 10377 |
| 10385 |
| 10387 |
| 10393 |
| 10394 |
| 10396 |
| 10400 |
| 10401 |
| 10405 |
| 10453 |
| 10461 |
| 10465 |
| 10469 |
| 10473 |
| 10482 |
| 10486 |
| 10508 |
| 10524 |
| 10525 |
| 10537 |
| 10542 |
| 10546 |
| 10558 |
| 10562 |
| 10567 |
| 10579 |
| 10587 |
| 10591 |
| 10598 |
| 10604 |
| 10605 |
| 10612 |
| 10616 |
| 10618 |
| 10626 |
| 10630 |
| 10653 |
| 10655 |
| 10664 |
| 10665 |
| 10668 |
| 10671 |
| 10677 |
| 10680 |
| 10689 |
| 10690 |
| 10709 |
| 10710 |
| 10713 |
| 10717 |
| 10718 |
| 10733 |
| 10743 |
| 10746 |
| 10773 |
| 10776 |
| 10785 |
| 10788 |
| 10789 |
| 10792 |
| 10800 |
| 10813 |
| 10821 |
| 10825 |
| 10827 |
| 10834 |
| 10835 |
| 10842 |
| 10850 |
| 10859 |
| 10877 |
| 10886 |
| 10888 |
| 10894 |
| 10900 |
| 10902 |
| 10909 |
| 10910 |
| 10916 |
| 10921 |
| 10928 |
| 10946 |
| 10950 |
| 10952 |
| 10968 |
| 10969 |
| 10975 |
| 10976 |
| 10981 |
| 10984 |
| 10991 |
| 10992 |
| 10995 |
| 11012 |
| 11023 |
| 11027 |
| 11038 |
| 11039 |
| 11064 |
| 11067 |
| 11069 |
| 11071 |
| 11077 |
| 10255 |
| 10263 |
| 10324 |
| 10331 |
| 10386 |
| 10411 |
| 10475 |
| 10501 |
| 10506 |
| 10538 |
| 10557 |
| 10566 |
| 10577 |
| 10586 |
| 10646 |
| 10672 |
| 10687 |
| 10705 |
| 10736 |
| 10745 |
| 10750 |
| 10771 |
| 10782 |
| 10799 |
| 10828 |
| 10829 |
| 10837 |
| 10849 |
| 10853 |
| 10871 |
| 10889 |
| 10893 |
| 10905 |
| 10942 |
| 10951 |
| 10953 |
| 10963 |
| 10970 |
| 10978 |
| 11016 |
| 11017 |
| 11022 |
| 11058 |

In [ ]:
-------------------------------------------------
--TSQLV4
-------------------------------------------------

--USE TSQLV4;

--SELECT O.orderid 
--FROM HR.Employees AS E 
--  INNER JOIN Sales.Orders AS O 
--    ON E.empid = O.empid 
--WHERE E.lastname LIKE N'D%';

-------------------------------------------------
--Northwinds2022TSQLV7
-------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT O.orderid 
FROM HumanResources.[Employee] AS E 
  INNER JOIN Sales.[Order] AS O 
    ON E.EmployeeID = O.EmployeeId
WHERE E.EmployeeLastName LIKE N'D%';

## **Explanation:** 

The question asked us to write a query to return all _orderid_ that were made by an employee whose last name begins with the letter D. To achieve this we will only _SELECT_ _orderid_ with its alias being defined _AS O_ from Sales.Orders. We also need the HR.Employees table defined _AS E_ because we need to _INNER JOIN_ with the Sales.Orders table to find correlating orders with employees. This is where we use _ON_ statement to make sure our employee id from HR.Employees match with our employee id from the Sales.Order table. Finally, we filter by using a _WHERE_ statement to find the employee's lastname from the HR.Employees table but we use the _LIKE_ function to search a specified pattern where in our case we use 'N' prefix (indicating it will be in Unicode format) and that our letter will 'D' as the first letter and '%' meaning it will be zero or more characters. This query can overall be useful for companies trying to filter out all employees

# **Excercise Questions**

## _Chapter 4 Excercise 1:_

Write a query that returns all orders placed on the last day of activity that can be found in the  
Orders table:

- Tables involved: TSQLV4 Sales._Order_
- Desired Output:

**TSQLV4:**

| orderid | orderdate | custid | empid |
| --- | --- | --- | --- |
| 11077 | 2016-05-06 | 65 | 1 |
| 11076 | 2016-05-06 | 9 | 4 |
| 11075 | 2016-05-06 | 68 | 8 |
| 11074 | 2016-05-06 | 73 | 7<br> |

**Northwinds2022TSQLV7:**

| Orderid | OrderDate | Customerid | Employeeid |
| --- | --- | --- | --- |
| 11077 | 2016-05-06 | 65 | 1 |
| 11076 | 2016-05-06 | 9 | 4 |
| 11075 | 2016-05-06 | 68 | 8 |
| 11074 | 2016-05-06 | 73 | 7<br> |

In [ ]:
--------------------------------------------------------------------
--TSQLV4
--------------------------------------------------------------------

--USE TSQLV4;

--SELECT orderid, orderdate, custid, empid
--FROM Sales.Orders
--WHERE orderdate =
--(SELECT MAX(O.orderdate) FROM Sales.Orders AS O);

-------------------------------------------------------------------
--NORTHWINDS2022TSQLV7
-------------------------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT OrderID, OrderDate, CustomerID, EmployeeId
FROM Sales.[Order]
WHERE orderdate =
(SELECT MAX(O.OrderDate) FROM Sales.[Order] AS O);

## **Explanation:**

The code above was able to achieve the answer the question wanted which finds the orders made within the last day of the order dates. we achieve this by SELECT order information (orderid, orderdate) and customer information (custid) and employee information (empid) FROM the Sales.Orders table. We then filter using WHERE our orderdate will equal a subquery that will return the MAX value for orderdate FROM Sales.Orders defined as O. This will return 2016-05-06 from the subquery. Overall we will get all results with orderdate only as 2016-05-06. This query can be useful to learn about how to utilize subquery and how a company wants to see what sales were made on their last day of activities.

## _Chapter 5 Excercise 1:_

- The following query attempts to filter orders that were not placed on the last day of the year. It’s supposed to return the order ID, order date, customer ID, employee ID, and respective end-of-year date for each order:
- Tables involved: TSQLV4 Sales.Orders

**TSQLV4 Desired output:**

|orderid|orderdate|custid|empid|endofyear|
|---|---|---|---|---|
|10248|2014-07-04|85|5|2014-12-31|
|10249|2014-07-05|79|6|2014-12-31|
|10250|2014-07-08|34|4|2014-12-31|
|10251|2014-07-08|84|3|2014-12-31|
|10252|2014-07-09|76|4|2014-12-31|
|10253|2014-07-10|34|3|2014-12-31|
|10254|2014-07-11|14|5|2014-12-31|
|10255|2014-07-12|68|9|2014-12-31|
|10256|2014-07-15|88|3|2014-12-31|
|10257|2014-07-16|35|4|2014-12-31|
|10258|2014-07-17|20|1|2014-12-31|
|10259|2014-07-18|13|4|2014-12-31|
|10260|2014-07-19|56|4|2014-12-31|
|10261|2014-07-19|61|4|2014-12-31|
|10262|2014-07-22|65|8|2014-12-31|
|10263|2014-07-23|20|9|2014-12-31|
|10264|2014-07-24|24|6|2014-12-31|
|10265|2014-07-25|7|2|2014-12-31|
|10266|2014-07-26|87|3|2014-12-31|
|10267|2014-07-29|25|4|2014-12-31|
|10268|2014-07-30|33|8|2014-12-31|
|10269|2014-07-31|89|5|2014-12-31|
|10270|2014-08-01|87|1|2014-12-31|
|10271|2014-08-01|75|6|2014-12-31|
|10272|2014-08-02|65|6|2014-12-31|
|10273|2014-08-05|63|3|2014-12-31|
|10274|2014-08-06|85|6|2014-12-31|
|10275|2014-08-07|49|1|2014-12-31|
|10276|2014-08-08|80|8|2014-12-31|
|10277|2014-08-09|52|2|2014-12-31|
|10278|2014-08-12|5|8|2014-12-31|
|10279|2014-08-13|44|8|2014-12-31|
|10280|2014-08-14|5|2|2014-12-31|
|10281|2014-08-14|69|4|2014-12-31|
|10282|2014-08-15|69|4|2014-12-31|
|10283|2014-08-16|46|3|2014-12-31|
|10284|2014-08-19|44|4|2014-12-31|
|10285|2014-08-20|63|1|2014-12-31|
|10286|2014-08-21|63|8|2014-12-31|
|10287|2014-08-22|67|8|2014-12-31|
|10288|2014-08-23|66|4|2014-12-31|
|10289|2014-08-26|11|7|2014-12-31|
|10290|2014-08-27|15|8|2014-12-31|
|10291|2014-08-27|61|6|2014-12-31|
|10292|2014-08-28|81|1|2014-12-31|
|10293|2014-08-29|80|1|2014-12-31|
|10294|2014-08-30|65|4|2014-12-31|
|10295|2014-09-02|85|2|2014-12-31|
|10296|2014-09-03|46|6|2014-12-31|
|10297|2014-09-04|7|5|2014-12-31|
|10298|2014-09-05|37|6|2014-12-31|
|10299|2014-09-06|67|4|2014-12-31|
|10300|2014-09-09|49|2|2014-12-31|
|10301|2014-09-09|86|8|2014-12-31|
|10302|2014-09-10|76|4|2014-12-31|
|10303|2014-09-11|30|7|2014-12-31|
|10304|2014-09-12|80|1|2014-12-31|
|10305|2014-09-13|55|8|2014-12-31|
|10306|2014-09-16|69|1|2014-12-31|
|10307|2014-09-17|48|2|2014-12-31|
|10308|2014-09-18|2|7|2014-12-31|
|10309|2014-09-19|37|3|2014-12-31|
|10310|2014-09-20|77|8|2014-12-31|
|10311|2014-09-20|18|1|2014-12-31|
|10312|2014-09-23|86|2|2014-12-31|
|10313|2014-09-24|63|2|2014-12-31|
|10314|2014-09-25|65|1|2014-12-31|
|10315|2014-09-26|38|4|2014-12-31|
|10316|2014-09-27|65|1|2014-12-31|
|10317|2014-09-30|48|6|2014-12-31|
|10318|2014-10-01|38|8|2014-12-31|
|10319|2014-10-02|80|7|2014-12-31|
|10320|2014-10-03|87|5|2014-12-31|
|10321|2014-10-03|38|3|2014-12-31|
|10322|2014-10-04|58|7|2014-12-31|
|10323|2014-10-07|39|4|2014-12-31|
|10324|2014-10-08|71|9|2014-12-31|
|10325|2014-10-09|39|1|2014-12-31|
|10326|2014-10-10|8|4|2014-12-31|
|10327|2014-10-11|24|2|2014-12-31|
|10328|2014-10-14|28|4|2014-12-31|
|10329|2014-10-15|75|4|2014-12-31|
|10330|2014-10-16|46|3|2014-12-31|
|10331|2014-10-16|9|9|2014-12-31|
|10332|2014-10-17|51|3|2014-12-31|
|10333|2014-10-18|87|5|2014-12-31|
|10334|2014-10-21|84|8|2014-12-31|
|10335|2014-10-22|37|7|2014-12-31|
|10336|2014-10-23|60|7|2014-12-31|
|10337|2014-10-24|25|4|2014-12-31|
|10338|2014-10-25|55|4|2014-12-31|
|10339|2014-10-28|51|2|2014-12-31|
|10340|2014-10-29|9|1|2014-12-31|
|10341|2014-10-29|73|7|2014-12-31|
|10342|2014-10-30|25|4|2014-12-31|
|10343|2014-10-31|44|4|2014-12-31|
|10344|2014-11-01|89|4|2014-12-31|
|10345|2014-11-04|63|2|2014-12-31|
|10346|2014-11-05|65|3|2014-12-31|
|10347|2014-11-06|21|4|2014-12-31|
|10348|2014-11-07|86|4|2014-12-31|
|10349|2014-11-08|75|7|2014-12-31|
|10350|2014-11-11|41|6|2014-12-31|
|10351|2014-11-11|20|1|2014-12-31|
|10352|2014-11-12|28|3|2014-12-31|
|10353|2014-11-13|59|7|2014-12-31|
|10354|2014-11-14|58|8|2014-12-31|
|10355|2014-11-15|4|6|2014-12-31|
|10356|2014-11-18|86|6|2014-12-31|
|10357|2014-11-19|46|1|2014-12-31|
|10358|2014-11-20|41|5|2014-12-31|
|10359|2014-11-21|72|5|2014-12-31|
|10360|2014-11-22|7|4|2014-12-31|
|10361|2014-11-22|63|1|2014-12-31|
|10362|2014-11-25|9|3|2014-12-31|
|10363|2014-11-26|17|4|2014-12-31|
|10364|2014-11-26|19|1|2014-12-31|
|10365|2014-11-27|3|3|2014-12-31|
|10366|2014-11-28|29|8|2014-12-31|
|10367|2014-11-28|83|7|2014-12-31|
|10368|2014-11-29|20|2|2014-12-31|
|10369|2014-12-02|75|8|2014-12-31|
|10370|2014-12-03|14|6|2014-12-31|
|10371|2014-12-03|41|1|2014-12-31|
|10372|2014-12-04|62|5|2014-12-31|
|10373|2014-12-05|37|4|2014-12-31|
|10374|2014-12-05|91|1|2014-12-31|
|10375|2014-12-06|36|3|2014-12-31|
|10376|2014-12-09|51|1|2014-12-31|
|10377|2014-12-09|72|1|2014-12-31|
|10378|2014-12-10|24|5|2014-12-31|
|10379|2014-12-11|61|2|2014-12-31|
|10380|2014-12-12|37|8|2014-12-31|
|10381|2014-12-12|46|3|2014-12-31|
|10382|2014-12-13|20|4|2014-12-31|
|10383|2014-12-16|4|8|2014-12-31|
|10384|2014-12-16|5|3|2014-12-31|
|10385|2014-12-17|75|1|2014-12-31|
|10386|2014-12-18|21|9|2014-12-31|
|10387|2014-12-18|70|1|2014-12-31|
|10388|2014-12-19|72|2|2014-12-31|
|10389|2014-12-20|10|4|2014-12-31|
|10390|2014-12-23|20|6|2014-12-31|
|10391|2014-12-23|17|3|2014-12-31|
|10392|2014-12-24|59|2|2014-12-31|
|10393|2014-12-25|71|1|2014-12-31|
|10394|2014-12-25|36|1|2014-12-31|
|10395|2014-12-26|35|6|2014-12-31|
|10396|2014-12-27|25|1|2014-12-31|
|10397|2014-12-27|60|5|2014-12-31|
|10398|2014-12-30|71|2|2014-12-31|
|10400|2015-01-01|19|1|2015-12-31|
|10401|2015-01-01|65|1|2015-12-31|
|10402|2015-01-02|20|8|2015-12-31|
|10403|2015-01-03|20|4|2015-12-31|
|10404|2015-01-03|49|2|2015-12-31|
|10405|2015-01-06|47|1|2015-12-31|
|10406|2015-01-07|62|7|2015-12-31|
|10407|2015-01-07|56|2|2015-12-31|
|10408|2015-01-08|23|8|2015-12-31|
|10409|2015-01-09|54|3|2015-12-31|
|10410|2015-01-10|10|3|2015-12-31|
|10411|2015-01-10|10|9|2015-12-31|
|10412|2015-01-13|87|8|2015-12-31|
|10413|2015-01-14|41|3|2015-12-31|
|10414|2015-01-14|21|2|2015-12-31|
|10415|2015-01-15|36|3|2015-12-31|
|10416|2015-01-16|87|8|2015-12-31|
|10417|2015-01-16|73|4|2015-12-31|
|10418|2015-01-17|63|4|2015-12-31|
|10419|2015-01-20|68|4|2015-12-31|
|10420|2015-01-21|88|3|2015-12-31|
|10421|2015-01-21|61|8|2015-12-31|
|10422|2015-01-22|27|2|2015-12-31|
|10423|2015-01-23|31|6|2015-12-31|
|10424|2015-01-23|51|7|2015-12-31|
|10425|2015-01-24|41|6|2015-12-31|
|10426|2015-01-27|29|4|2015-12-31|
|10427|2015-01-27|59|4|2015-12-31|
|10428|2015-01-28|66|7|2015-12-31|
|10429|2015-01-29|37|3|2015-12-31|
|10430|2015-01-30|20|4|2015-12-31|
|10431|2015-01-30|10|4|2015-12-31|
|10432|2015-01-31|75|3|2015-12-31|
|10433|2015-02-03|60|3|2015-12-31|
|10434|2015-02-03|24|3|2015-12-31|
|10435|2015-02-04|16|8|2015-12-31|
|10436|2015-02-05|7|3|2015-12-31|
|10437|2015-02-05|87|8|2015-12-31|
|10438|2015-02-06|79|3|2015-12-31|
|10439|2015-02-07|51|6|2015-12-31|
|10440|2015-02-10|71|4|2015-12-31|
|10441|2015-02-10|55|3|2015-12-31|
|10442|2015-02-11|20|3|2015-12-31|
|10443|2015-02-12|66|8|2015-12-31|
|10444|2015-02-12|5|3|2015-12-31|
|10445|2015-02-13|5|3|2015-12-31|
|10446|2015-02-14|79|6|2015-12-31|
|10447|2015-02-14|67|4|2015-12-31|
|10448|2015-02-17|64|4|2015-12-31|
|10449|2015-02-18|7|3|2015-12-31|
|10450|2015-02-19|84|8|2015-12-31|
|10451|2015-02-19|63|4|2015-12-31|
|10452|2015-02-20|71|8|2015-12-31|
|10453|2015-02-21|4|1|2015-12-31|
|10454|2015-02-21|41|4|2015-12-31|
|10455|2015-02-24|87|8|2015-12-31|
|10456|2015-02-25|39|8|2015-12-31|
|10457|2015-02-25|39|2|2015-12-31|
|10458|2015-02-26|76|7|2015-12-31|
|10459|2015-02-27|84|4|2015-12-31|
|10460|2015-02-28|24|8|2015-12-31|
|10461|2015-02-28|46|1|2015-12-31|
|10462|2015-03-03|16|2|2015-12-31|
|10463|2015-03-04|76|5|2015-12-31|
|10464|2015-03-04|28|4|2015-12-31|
|10465|2015-03-05|83|1|2015-12-31|
|10466|2015-03-06|15|4|2015-12-31|
|10467|2015-03-06|49|8|2015-12-31|
|10468|2015-03-07|39|3|2015-12-31|
|10469|2015-03-10|89|1|2015-12-31|
|10470|2015-03-11|9|4|2015-12-31|
|10471|2015-03-11|11|2|2015-12-31|
|10472|2015-03-12|72|8|2015-12-31|
|10473|2015-03-13|38|1|2015-12-31|
|10474|2015-03-13|58|5|2015-12-31|
|10475|2015-03-14|76|9|2015-12-31|
|10476|2015-03-17|35|8|2015-12-31|
|10477|2015-03-17|60|5|2015-12-31|
|10478|2015-03-18|84|2|2015-12-31|
|10479|2015-03-19|65|3|2015-12-31|
|10480|2015-03-20|23|6|2015-12-31|
|10481|2015-03-20|67|8|2015-12-31|
|10482|2015-03-21|43|1|2015-12-31|
|10483|2015-03-24|89|7|2015-12-31|
|10484|2015-03-24|11|3|2015-12-31|
|10485|2015-03-25|47|4|2015-12-31|
|10486|2015-03-26|35|1|2015-12-31|
|10487|2015-03-26|62|2|2015-12-31|
|10488|2015-03-27|25|8|2015-12-31|
|10489|2015-03-28|59|6|2015-12-31|
|10490|2015-03-31|35|7|2015-12-31|
|10491|2015-03-31|28|8|2015-12-31|
|10492|2015-04-01|10|3|2015-12-31|
|10493|2015-04-02|41|4|2015-12-31|
|10494|2015-04-02|15|4|2015-12-31|
|10495|2015-04-03|42|3|2015-12-31|
|10496|2015-04-04|81|7|2015-12-31|
|10497|2015-04-04|44|7|2015-12-31|
|10498|2015-04-07|35|8|2015-12-31|
|10499|2015-04-08|46|4|2015-12-31|
|10500|2015-04-09|41|6|2015-12-31|
|10501|2015-04-09|6|9|2015-12-31|
|10502|2015-04-10|58|2|2015-12-31|
|10503|2015-04-11|37|6|2015-12-31|
|10504|2015-04-11|89|4|2015-12-31|
|10505|2015-04-14|51|3|2015-12-31|
|10506|2015-04-15|39|9|2015-12-31|
|10507|2015-04-15|3|7|2015-12-31|
|10508|2015-04-16|56|1|2015-12-31|
|10509|2015-04-17|6|4|2015-12-31|
|10510|2015-04-18|71|6|2015-12-31|
|10511|2015-04-18|9|4|2015-12-31|
|10512|2015-04-21|21|7|2015-12-31|
|10513|2015-04-22|86|7|2015-12-31|
|10514|2015-04-22|20|3|2015-12-31|
|10515|2015-04-23|63|2|2015-12-31|
|10516|2015-04-24|37|2|2015-12-31|
|10517|2015-04-24|53|3|2015-12-31|
|10518|2015-04-25|80|4|2015-12-31|
|10519|2015-04-28|14|6|2015-12-31|
|10520|2015-04-29|70|7|2015-12-31|
|10521|2015-04-29|12|8|2015-12-31|
|10522|2015-04-30|44|4|2015-12-31|
|10523|2015-05-01|72|7|2015-12-31|
|10524|2015-05-01|5|1|2015-12-31|
|10525|2015-05-02|9|1|2015-12-31|
|10526|2015-05-05|87|4|2015-12-31|
|10527|2015-05-05|63|7|2015-12-31|
|10528|2015-05-06|32|6|2015-12-31|
|10529|2015-05-07|50|5|2015-12-31|
|10530|2015-05-08|59|3|2015-12-31|
|10531|2015-05-08|54|7|2015-12-31|
|10532|2015-05-09|19|7|2015-12-31|
|10533|2015-05-12|24|8|2015-12-31|
|10534|2015-05-12|44|8|2015-12-31|
|10535|2015-05-13|3|4|2015-12-31|
|10536|2015-05-14|44|3|2015-12-31|
|10537|2015-05-14|68|1|2015-12-31|
|10538|2015-05-15|11|9|2015-12-31|
|10539|2015-05-16|11|6|2015-12-31|
|10540|2015-05-19|63|3|2015-12-31|
|10541|2015-05-19|34|2|2015-12-31|
|10542|2015-05-20|39|1|2015-12-31|
|10543|2015-05-21|46|8|2015-12-31|
|10544|2015-05-21|48|4|2015-12-31|
|10545|2015-05-22|43|8|2015-12-31|
|10546|2015-05-23|84|1|2015-12-31|
|10547|2015-05-23|72|3|2015-12-31|
|10548|2015-05-26|79|3|2015-12-31|
|10549|2015-05-27|63|5|2015-12-31|
|10550|2015-05-28|30|7|2015-12-31|
|10551|2015-05-28|28|4|2015-12-31|
|10552|2015-05-29|35|2|2015-12-31|
|10553|2015-05-30|87|2|2015-12-31|
|10554|2015-05-30|56|4|2015-12-31|
|10555|2015-06-02|71|6|2015-12-31|
|10556|2015-06-03|73|2|2015-12-31|
|10557|2015-06-03|44|9|2015-12-31|
|10558|2015-06-04|4|1|2015-12-31|
|10559|2015-06-05|7|6|2015-12-31|
|10560|2015-06-06|25|8|2015-12-31|
|10561|2015-06-06|24|2|2015-12-31|
|10562|2015-06-09|66|1|2015-12-31|
|10563|2015-06-10|67|2|2015-12-31|
|10564|2015-06-10|65|4|2015-12-31|
|10565|2015-06-11|51|8|2015-12-31|
|10566|2015-06-12|7|9|2015-12-31|
|10567|2015-06-12|37|1|2015-12-31|
|10568|2015-06-13|29|3|2015-12-31|
|10569|2015-06-16|65|5|2015-12-31|
|10570|2015-06-17|51|3|2015-12-31|
|10571|2015-06-17|20|8|2015-12-31|
|10572|2015-06-18|5|3|2015-12-31|
|10573|2015-06-19|3|7|2015-12-31|
|10574|2015-06-19|82|4|2015-12-31|
|10575|2015-06-20|52|5|2015-12-31|
|10576|2015-06-23|80|3|2015-12-31|
|10577|2015-06-23|82|9|2015-12-31|
|10578|2015-06-24|11|4|2015-12-31|
|10579|2015-06-25|45|1|2015-12-31|
|10580|2015-06-26|56|4|2015-12-31|
|10581|2015-06-26|21|3|2015-12-31|
|10582|2015-06-27|6|3|2015-12-31|
|10583|2015-06-30|87|2|2015-12-31|
|10584|2015-06-30|7|4|2015-12-31|
|10585|2015-07-01|88|7|2015-12-31|
|10586|2015-07-02|66|9|2015-12-31|
|10587|2015-07-02|61|1|2015-12-31|
|10588|2015-07-03|63|2|2015-12-31|
|10589|2015-07-04|32|8|2015-12-31|
|10590|2015-07-07|51|4|2015-12-31|
|10591|2015-07-07|83|1|2015-12-31|
|10592|2015-07-08|44|3|2015-12-31|
|10593|2015-07-09|44|7|2015-12-31|
|10594|2015-07-09|55|3|2015-12-31|
|10595|2015-07-10|20|2|2015-12-31|
|10596|2015-07-11|89|8|2015-12-31|
|10597|2015-07-11|59|7|2015-12-31|
|10598|2015-07-14|65|1|2015-12-31|
|10599|2015-07-15|11|6|2015-12-31|
|10600|2015-07-16|36|4|2015-12-31|
|10601|2015-07-16|35|7|2015-12-31|
|10602|2015-07-17|83|8|2015-12-31|
|10603|2015-07-18|71|8|2015-12-31|
|10604|2015-07-18|28|1|2015-12-31|
|10605|2015-07-21|51|1|2015-12-31|
|10606|2015-07-22|81|4|2015-12-31|
|10607|2015-07-22|71|5|2015-12-31|
|10608|2015-07-23|79|4|2015-12-31|
|10609|2015-07-24|18|7|2015-12-31|
|10610|2015-07-25|41|8|2015-12-31|
|10611|2015-07-25|91|6|2015-12-31|
|10612|2015-07-28|71|1|2015-12-31|
|10613|2015-07-29|35|4|2015-12-31|
|10614|2015-07-29|6|8|2015-12-31|
|10615|2015-07-30|90|2|2015-12-31|
|10616|2015-07-31|32|1|2015-12-31|
|10617|2015-07-31|32|4|2015-12-31|
|10618|2015-08-01|51|1|2015-12-31|
|10619|2015-08-04|51|3|2015-12-31|
|10620|2015-08-05|42|2|2015-12-31|
|10621|2015-08-05|38|4|2015-12-31|
|10622|2015-08-06|67|4|2015-12-31|
|10623|2015-08-07|25|8|2015-12-31|
|10624|2015-08-07|78|4|2015-12-31|
|10625|2015-08-08|2|3|2015-12-31|
|10626|2015-08-11|5|1|2015-12-31|
|10627|2015-08-11|71|8|2015-12-31|
|10628|2015-08-12|7|4|2015-12-31|
|10629|2015-08-12|30|4|2015-12-31|
|10630|2015-08-13|39|1|2015-12-31|
|10631|2015-08-14|41|8|2015-12-31|
|10632|2015-08-14|86|8|2015-12-31|
|10633|2015-08-15|20|7|2015-12-31|
|10634|2015-08-15|23|4|2015-12-31|
|10635|2015-08-18|49|8|2015-12-31|
|10636|2015-08-19|87|4|2015-12-31|
|10637|2015-08-19|62|6|2015-12-31|
|10638|2015-08-20|47|3|2015-12-31|
|10639|2015-08-20|70|7|2015-12-31|
|10640|2015-08-21|86|4|2015-12-31|
|10641|2015-08-22|35|4|2015-12-31|
|10642|2015-08-22|73|7|2015-12-31|
|10643|2015-08-25|1|6|2015-12-31|
|10644|2015-08-25|88|3|2015-12-31|
|10645|2015-08-26|34|4|2015-12-31|
|10646|2015-08-27|37|9|2015-12-31|
|10647|2015-08-27|61|4|2015-12-31|
|10648|2015-08-28|67|5|2015-12-31|
|10649|2015-08-28|50|5|2015-12-31|
|10650|2015-08-29|21|5|2015-12-31|
|10651|2015-09-01|86|8|2015-12-31|
|10652|2015-09-01|31|4|2015-12-31|
|10653|2015-09-02|25|1|2015-12-31|
|10654|2015-09-02|5|5|2015-12-31|
|10655|2015-09-03|66|1|2015-12-31|
|10656|2015-09-04|32|6|2015-12-31|
|10657|2015-09-04|71|2|2015-12-31|
|10658|2015-09-05|63|4|2015-12-31|
|10659|2015-09-05|62|7|2015-12-31|
|10660|2015-09-08|36|8|2015-12-31|
|10661|2015-09-09|37|7|2015-12-31|
|10662|2015-09-09|48|3|2015-12-31|
|10663|2015-09-10|9|2|2015-12-31|
|10664|2015-09-10|28|1|2015-12-31|
|10665|2015-09-11|48|1|2015-12-31|
|10666|2015-09-12|68|7|2015-12-31|
|10667|2015-09-12|20|7|2015-12-31|
|10668|2015-09-15|86|1|2015-12-31|
|10669|2015-09-15|73|2|2015-12-31|
|10670|2015-09-16|25|4|2015-12-31|
|10671|2015-09-17|26|1|2015-12-31|
|10672|2015-09-17|5|9|2015-12-31|
|10673|2015-09-18|90|2|2015-12-31|
|10674|2015-09-18|38|4|2015-12-31|
|10675|2015-09-19|25|5|2015-12-31|
|10676|2015-09-22|80|2|2015-12-31|
|10677|2015-09-22|3|1|2015-12-31|
|10678|2015-09-23|71|7|2015-12-31|
|10679|2015-09-23|7|8|2015-12-31|
|10680|2015-09-24|55|1|2015-12-31|
|10681|2015-09-25|32|3|2015-12-31|
|10682|2015-09-25|3|3|2015-12-31|
|10683|2015-09-26|18|2|2015-12-31|
|10684|2015-09-26|56|3|2015-12-31|
|10685|2015-09-29|31|4|2015-12-31|
|10686|2015-09-30|59|2|2015-12-31|
|10687|2015-09-30|37|9|2015-12-31|
|10688|2015-10-01|83|4|2015-12-31|
|10689|2015-10-01|5|1|2015-12-31|
|10690|2015-10-02|34|1|2015-12-31|
|10691|2015-10-03|63|2|2015-12-31|
|10692|2015-10-03|1|4|2015-12-31|
|10693|2015-10-06|89|3|2015-12-31|
|10694|2015-10-06|63|8|2015-12-31|
|10695|2015-10-07|90|7|2015-12-31|
|10696|2015-10-08|89|8|2015-12-31|
|10697|2015-10-08|47|3|2015-12-31|
|10698|2015-10-09|20|4|2015-12-31|
|10699|2015-10-09|52|3|2015-12-31|
|10700|2015-10-10|71|3|2015-12-31|
|10701|2015-10-13|37|6|2015-12-31|
|10702|2015-10-13|1|4|2015-12-31|
|10703|2015-10-14|24|6|2015-12-31|
|10704|2015-10-14|62|6|2015-12-31|
|10705|2015-10-15|35|9|2015-12-31|
|10706|2015-10-16|55|8|2015-12-31|
|10707|2015-10-16|4|4|2015-12-31|
|10708|2015-10-17|77|6|2015-12-31|
|10709|2015-10-17|31|1|2015-12-31|
|10710|2015-10-20|27|1|2015-12-31|
|10711|2015-10-21|71|5|2015-12-31|
|10712|2015-10-21|37|3|2015-12-31|
|10713|2015-10-22|71|1|2015-12-31|
|10714|2015-10-22|71|5|2015-12-31|
|10715|2015-10-23|9|3|2015-12-31|
|10716|2015-10-24|64|4|2015-12-31|
|10717|2015-10-24|25|1|2015-12-31|
|10718|2015-10-27|39|1|2015-12-31|
|10719|2015-10-27|45|8|2015-12-31|
|10720|2015-10-28|61|8|2015-12-31|
|10721|2015-10-29|63|5|2015-12-31|
|10722|2015-10-29|71|8|2015-12-31|
|10723|2015-10-30|89|3|2015-12-31|
|10724|2015-10-30|51|8|2015-12-31|
|10725|2015-10-31|21|4|2015-12-31|
|10726|2015-11-03|19|4|2015-12-31|
|10727|2015-11-03|66|2|2015-12-31|
|10728|2015-11-04|62|4|2015-12-31|
|10729|2015-11-04|47|8|2015-12-31|
|10730|2015-11-05|9|5|2015-12-31|
|10731|2015-11-06|14|7|2015-12-31|
|10732|2015-11-06|9|3|2015-12-31|
|10733|2015-11-07|5|1|2015-12-31|
|10734|2015-11-07|31|2|2015-12-31|
|10735|2015-11-10|45|6|2015-12-31|
|10736|2015-11-11|37|9|2015-12-31|
|10737|2015-11-11|85|2|2015-12-31|
|10738|2015-11-12|74|2|2015-12-31|
|10739|2015-11-12|85|3|2015-12-31|
|10740|2015-11-13|89|4|2015-12-31|
|10741|2015-11-14|4|4|2015-12-31|
|10742|2015-11-14|10|3|2015-12-31|
|10743|2015-11-17|4|1|2015-12-31|
|10744|2015-11-17|83|6|2015-12-31|
|10745|2015-11-18|63|9|2015-12-31|
|10746|2015-11-19|14|1|2015-12-31|
|10747|2015-11-19|59|6|2015-12-31|
|10748|2015-11-20|71|3|2015-12-31|
|10749|2015-11-20|38|4|2015-12-31|
|10750|2015-11-21|87|9|2015-12-31|
|10751|2015-11-24|68|3|2015-12-31|
|10752|2015-11-24|53|2|2015-12-31|
|10753|2015-11-25|27|3|2015-12-31|
|10754|2015-11-25|49|6|2015-12-31|
|10755|2015-11-26|9|4|2015-12-31|
|10756|2015-11-27|75|8|2015-12-31|
|10757|2015-11-27|71|6|2015-12-31|
|10758|2015-11-28|68|3|2015-12-31|
|10759|2015-11-28|2|3|2015-12-31|
|10760|2015-12-01|50|4|2015-12-31|
|10761|2015-12-02|65|5|2015-12-31|
|10762|2015-12-02|24|3|2015-12-31|
|10763|2015-12-03|23|3|2015-12-31|
|10764|2015-12-03|20|6|2015-12-31|
|10765|2015-12-04|63|3|2015-12-31|
|10766|2015-12-05|56|4|2015-12-31|
|10767|2015-12-05|76|4|2015-12-31|
|10768|2015-12-08|4|3|2015-12-31|
|10769|2015-12-08|83|3|2015-12-31|
|10770|2015-12-09|34|8|2015-12-31|
|10771|2015-12-10|20|9|2015-12-31|
|10772|2015-12-10|44|3|2015-12-31|
|10773|2015-12-11|20|1|2015-12-31|
|10774|2015-12-11|24|4|2015-12-31|
|10775|2015-12-12|78|7|2015-12-31|
|10776|2015-12-15|20|1|2015-12-31|
|10777|2015-12-15|31|7|2015-12-31|
|10778|2015-12-16|5|3|2015-12-31|
|10779|2015-12-16|52|3|2015-12-31|
|10780|2015-12-16|46|2|2015-12-31|
|10781|2015-12-17|87|2|2015-12-31|
|10782|2015-12-17|12|9|2015-12-31|
|10783|2015-12-18|34|4|2015-12-31|
|10784|2015-12-18|49|4|2015-12-31|
|10785|2015-12-18|33|1|2015-12-31|
|10786|2015-12-19|62|8|2015-12-31|
|10787|2015-12-19|41|2|2015-12-31|
|10788|2015-12-22|63|1|2015-12-31|
|10789|2015-12-22|23|1|2015-12-31|
|10790|2015-12-22|31|6|2015-12-31|
|10791|2015-12-23|25|6|2015-12-31|
|10792|2015-12-23|91|1|2015-12-31|
|10793|2015-12-24|4|3|2015-12-31|
|10794|2015-12-24|61|6|2015-12-31|
|10795|2015-12-24|20|8|2015-12-31|
|10796|2015-12-25|35|3|2015-12-31|
|10797|2015-12-25|17|7|2015-12-31|
|10798|2015-12-26|38|2|2015-12-31|
|10799|2015-12-26|39|9|2015-12-31|
|10800|2015-12-26|72|1|2015-12-31|
|10801|2015-12-29|8|4|2015-12-31|
|10802|2015-12-29|73|4|2015-12-31|
|10803|2015-12-30|88|4|2015-12-31|
|10804|2015-12-30|72|6|2015-12-31|
|10805|2015-12-30|77|2|2015-12-31|
|10808|2016-01-01|55|2|2016-12-31|
|10809|2016-01-01|88|7|2016-12-31|
|10810|2016-01-01|42|2|2016-12-31|
|10811|2016-01-02|47|8|2016-12-31|
|10812|2016-01-02|66|5|2016-12-31|
|10813|2016-01-05|67|1|2016-12-31|
|10814|2016-01-05|84|3|2016-12-31|
|10815|2016-01-05|71|2|2016-12-31|
|10816|2016-01-06|32|4|2016-12-31|
|10817|2016-01-06|39|3|2016-12-31|
|10818|2016-01-07|49|7|2016-12-31|
|10819|2016-01-07|12|2|2016-12-31|
|10820|2016-01-07|65|3|2016-12-31|
|10821|2016-01-08|75|1|2016-12-31|
|10822|2016-01-08|82|6|2016-12-31|
|10823|2016-01-09|46|5|2016-12-31|
|10824|2016-01-09|24|8|2016-12-31|
|10825|2016-01-09|17|1|2016-12-31|
|10826|2016-01-12|7|6|2016-12-31|
|10827|2016-01-12|9|1|2016-12-31|
|10828|2016-01-13|64|9|2016-12-31|
|10829|2016-01-13|38|9|2016-12-31|
|10830|2016-01-13|81|4|2016-12-31|
|10831|2016-01-14|70|3|2016-12-31|
|10832|2016-01-14|41|2|2016-12-31|
|10833|2016-01-15|56|6|2016-12-31|
|10834|2016-01-15|81|1|2016-12-31|
|10835|2016-01-15|1|1|2016-12-31|
|10836|2016-01-16|20|7|2016-12-31|
|10837|2016-01-16|5|9|2016-12-31|
|10838|2016-01-19|47|3|2016-12-31|
|10839|2016-01-19|81|3|2016-12-31|
|10840|2016-01-19|47|4|2016-12-31|
|10841|2016-01-20|76|5|2016-12-31|
|10842|2016-01-20|80|1|2016-12-31|
|10843|2016-01-21|84|4|2016-12-31|
|10844|2016-01-21|59|8|2016-12-31|
|10845|2016-01-21|63|8|2016-12-31|
|10846|2016-01-22|76|2|2016-12-31|
|10847|2016-01-22|71|4|2016-12-31|
|10848|2016-01-23|16|7|2016-12-31|
|10849|2016-01-23|39|9|2016-12-31|
|10850|2016-01-23|84|1|2016-12-31|
|10851|2016-01-26|67|5|2016-12-31|
|10852|2016-01-26|65|8|2016-12-31|
|10853|2016-01-27|6|9|2016-12-31|
|10854|2016-01-27|20|3|2016-12-31|
|10855|2016-01-27|55|3|2016-12-31|
|10856|2016-01-28|3|3|2016-12-31|
|10857|2016-01-28|5|8|2016-12-31|
|10858|2016-01-29|40|2|2016-12-31|
|10859|2016-01-29|25|1|2016-12-31|
|10860|2016-01-29|26|3|2016-12-31|
|10861|2016-01-30|89|4|2016-12-31|
|10862|2016-01-30|44|8|2016-12-31|
|10863|2016-02-02|35|4|2016-12-31|
|10864|2016-02-02|4|4|2016-12-31|
|10865|2016-02-02|63|2|2016-12-31|
|10866|2016-02-03|5|5|2016-12-31|
|10867|2016-02-03|48|6|2016-12-31|
|10868|2016-02-04|62|7|2016-12-31|
|10869|2016-02-04|72|5|2016-12-31|
|10870|2016-02-04|91|5|2016-12-31|
|10871|2016-02-05|9|9|2016-12-31|
|10872|2016-02-05|30|5|2016-12-31|
|10873|2016-02-06|90|4|2016-12-31|
|10874|2016-02-06|30|5|2016-12-31|
|10875|2016-02-06|5|4|2016-12-31|
|10876|2016-02-09|9|7|2016-12-31|
|10877|2016-02-09|67|1|2016-12-31|
|10878|2016-02-10|63|4|2016-12-31|
|10879|2016-02-10|90|3|2016-12-31|
|10880|2016-02-10|24|7|2016-12-31|
|10881|2016-02-11|12|4|2016-12-31|
|10882|2016-02-11|71|4|2016-12-31|
|10883|2016-02-12|48|8|2016-12-31|
|10884|2016-02-12|45|4|2016-12-31|
|10885|2016-02-12|76|6|2016-12-31|
|10886|2016-02-13|34|1|2016-12-31|
|10887|2016-02-13|29|8|2016-12-31|
|10888|2016-02-16|30|1|2016-12-31|
|10889|2016-02-16|65|9|2016-12-31|
|10890|2016-02-16|18|7|2016-12-31|
|10891|2016-02-17|44|7|2016-12-31|
|10892|2016-02-17|50|4|2016-12-31|
|10893|2016-02-18|39|9|2016-12-31|
|10894|2016-02-18|71|1|2016-12-31|
|10895|2016-02-18|20|3|2016-12-31|
|10896|2016-02-19|50|7|2016-12-31|
|10897|2016-02-19|37|3|2016-12-31|
|10898|2016-02-20|54|4|2016-12-31|
|10899|2016-02-20|46|5|2016-12-31|
|10900|2016-02-20|88|1|2016-12-31|
|10901|2016-02-23|35|4|2016-12-31|
|10902|2016-02-23|24|1|2016-12-31|
|10903|2016-02-24|34|3|2016-12-31|
|10904|2016-02-24|89|3|2016-12-31|
|10905|2016-02-24|88|9|2016-12-31|
|10906|2016-02-25|91|4|2016-12-31|
|10907|2016-02-25|74|6|2016-12-31|
|10908|2016-02-26|66|4|2016-12-31|
|10909|2016-02-26|70|1|2016-12-31|
|10910|2016-02-26|90|1|2016-12-31|
|10911|2016-02-26|30|3|2016-12-31|
|10912|2016-02-26|37|2|2016-12-31|
|10913|2016-02-26|62|4|2016-12-31|
|10914|2016-02-27|62|6|2016-12-31|
|10915|2016-02-27|80|2|2016-12-31|
|10916|2016-02-27|64|1|2016-12-31|
|10917|2016-03-02|69|4|2016-12-31|
|10918|2016-03-02|10|3|2016-12-31|
|10919|2016-03-02|47|2|2016-12-31|
|10920|2016-03-03|4|4|2016-12-31|
|10921|2016-03-03|83|1|2016-12-31|
|10922|2016-03-03|34|5|2016-12-31|
|10923|2016-03-03|41|7|2016-12-31|
|10924|2016-03-04|5|3|2016-12-31|
|10925|2016-03-04|34|3|2016-12-31|
|10926|2016-03-04|2|4|2016-12-31|
|10927|2016-03-05|40|4|2016-12-31|
|10928|2016-03-05|29|1|2016-12-31|
|10929|2016-03-05|25|6|2016-12-31|
|10930|2016-03-06|76|4|2016-12-31|
|10931|2016-03-06|68|4|2016-12-31|
|10932|2016-03-06|9|8|2016-12-31|
|10933|2016-03-06|38|6|2016-12-31|
|10934|2016-03-09|44|3|2016-12-31|
|10935|2016-03-09|88|4|2016-12-31|
|10936|2016-03-09|32|3|2016-12-31|
|10937|2016-03-10|12|7|2016-12-31|
|10938|2016-03-10|63|3|2016-12-31|
|10939|2016-03-10|49|2|2016-12-31|
|10940|2016-03-11|9|8|2016-12-31|
|10941|2016-03-11|71|7|2016-12-31|
|10942|2016-03-11|66|9|2016-12-31|
|10943|2016-03-11|11|4|2016-12-31|
|10944|2016-03-12|10|6|2016-12-31|
|10945|2016-03-12|52|4|2016-12-31|
|10946|2016-03-12|83|1|2016-12-31|
|10947|2016-03-13|11|3|2016-12-31|
|10948|2016-03-13|30|3|2016-12-31|
|10949|2016-03-13|10|2|2016-12-31|
|10950|2016-03-16|49|1|2016-12-31|
|10951|2016-03-16|68|9|2016-12-31|
|10952|2016-03-16|1|1|2016-12-31|
|10953|2016-03-16|4|9|2016-12-31|
|10954|2016-03-17|47|5|2016-12-31|
|10955|2016-03-17|24|8|2016-12-31|
|10956|2016-03-17|6|6|2016-12-31|
|10957|2016-03-18|35|8|2016-12-31|
|10958|2016-03-18|54|7|2016-12-31|
|10959|2016-03-18|31|6|2016-12-31|
|10960|2016-03-19|35|3|2016-12-31|
|10961|2016-03-19|62|8|2016-12-31|
|10962|2016-03-19|63|8|2016-12-31|
|10963|2016-03-19|28|9|2016-12-31|
|10964|2016-03-20|74|3|2016-12-31|
|10965|2016-03-20|55|6|2016-12-31|
|10966|2016-03-20|14|4|2016-12-31|
|10967|2016-03-23|79|2|2016-12-31|
|10968|2016-03-23|20|1|2016-12-31|
|10969|2016-03-23|15|1|2016-12-31|
|10970|2016-03-24|8|9|2016-12-31|
|10971|2016-03-24|26|2|2016-12-31|
|10972|2016-03-24|40|4|2016-12-31|
|10973|2016-03-24|40|6|2016-12-31|
|10974|2016-03-25|75|3|2016-12-31|
|10975|2016-03-25|10|1|2016-12-31|
|10976|2016-03-25|35|1|2016-12-31|
|10977|2016-03-26|24|8|2016-12-31|
|10978|2016-03-26|50|9|2016-12-31|
|10979|2016-03-26|20|8|2016-12-31|
|10980|2016-03-27|24|4|2016-12-31|
|10981|2016-03-27|34|1|2016-12-31|
|10982|2016-03-27|10|2|2016-12-31|
|10983|2016-03-27|71|2|2016-12-31|
|10984|2016-03-30|71|1|2016-12-31|
|10985|2016-03-30|37|2|2016-12-31|
|10986|2016-03-30|54|8|2016-12-31|
|10987|2016-03-31|19|8|2016-12-31|
|10988|2016-03-31|65|3|2016-12-31|
|10989|2016-03-31|61|2|2016-12-31|
|10990|2016-04-01|20|2|2016-12-31|
|10991|2016-04-01|63|1|2016-12-31|
|10992|2016-04-01|77|1|2016-12-31|
|10993|2016-04-01|24|7|2016-12-31|
|10994|2016-04-02|83|2|2016-12-31|
|10995|2016-04-02|58|1|2016-12-31|
|10996|2016-04-02|63|4|2016-12-31|
|10997|2016-04-03|46|8|2016-12-31|
|10998|2016-04-03|91|8|2016-12-31|
|10999|2016-04-03|56|6|2016-12-31|
|11000|2016-04-06|65|2|2016-12-31|
|11001|2016-04-06|24|2|2016-12-31|
|11002|2016-04-06|71|4|2016-12-31|
|11003|2016-04-06|78|3|2016-12-31|
|11004|2016-04-07|50|3|2016-12-31|
|11005|2016-04-07|90|2|2016-12-31|
|11006|2016-04-07|32|3|2016-12-31|
|11007|2016-04-08|60|8|2016-12-31|
|11008|2016-04-08|20|7|2016-12-31|
|11009|2016-04-08|30|2|2016-12-31|
|11010|2016-04-09|66|2|2016-12-31|
|11011|2016-04-09|1|3|2016-12-31|
|11012|2016-04-09|25|1|2016-12-31|
|11013|2016-04-09|69|2|2016-12-31|
|11014|2016-04-10|47|2|2016-12-31|
|11015|2016-04-10|70|2|2016-12-31|
|11016|2016-04-10|4|9|2016-12-31|
|11017|2016-04-13|20|9|2016-12-31|
|11018|2016-04-13|48|4|2016-12-31|
|11019|2016-04-13|64|6|2016-12-31|
|11020|2016-04-14|56|2|2016-12-31|
|11021|2016-04-14|63|3|2016-12-31|
|11022|2016-04-14|34|9|2016-12-31|
|11023|2016-04-14|11|1|2016-12-31|
|11024|2016-04-15|19|4|2016-12-31|
|11025|2016-04-15|87|6|2016-12-31|
|11026|2016-04-15|27|4|2016-12-31|
|11027|2016-04-16|10|1|2016-12-31|
|11028|2016-04-16|39|2|2016-12-31|
|11029|2016-04-16|14|4|2016-12-31|
|11030|2016-04-17|71|7|2016-12-31|
|11031|2016-04-17|71|6|2016-12-31|
|11032|2016-04-17|89|2|2016-12-31|
|11033|2016-04-17|68|7|2016-12-31|
|11034|2016-04-20|55|8|2016-12-31|
|11035|2016-04-20|76|2|2016-12-31|
|11036|2016-04-20|17|8|2016-12-31|
|11037|2016-04-21|30|7|2016-12-31|
|11038|2016-04-21|76|1|2016-12-31|
|11039|2016-04-21|47|1|2016-12-31|
|11040|2016-04-22|32|4|2016-12-31|
|11041|2016-04-22|14|3|2016-12-31|
|11042|2016-04-22|15|2|2016-12-31|
|11043|2016-04-22|74|5|2016-12-31|
|11044|2016-04-23|91|4|2016-12-31|
|11045|2016-04-23|10|6|2016-12-31|
|11046|2016-04-23|86|8|2016-12-31|
|11047|2016-04-24|19|7|2016-12-31|
|11048|2016-04-24|10|7|2016-12-31|
|11049|2016-04-24|31|3|2016-12-31|
|11050|2016-04-27|24|8|2016-12-31|
|11051|2016-04-27|41|7|2016-12-31|
|11052|2016-04-27|34|3|2016-12-31|
|11053|2016-04-27|59|2|2016-12-31|
|11054|2016-04-28|12|8|2016-12-31|
|11055|2016-04-28|35|7|2016-12-31|
|11056|2016-04-28|19|8|2016-12-31|
|11057|2016-04-29|53|3|2016-12-31|
|11058|2016-04-29|6|9|2016-12-31|
|11059|2016-04-29|67|2|2016-12-31|
|11060|2016-04-30|27|2|2016-12-31|
|11061|2016-04-30|32|4|2016-12-31|
|11062|2016-04-30|66|4|2016-12-31|
|11063|2016-04-30|37|3|2016-12-31|
|11064|2016-05-01|71|1|2016-12-31|
|11065|2016-05-01|46|8|2016-12-31|
|11066|2016-05-01|89|7|2016-12-31|
|11067|2016-05-04|17|1|2016-12-31|
|11068|2016-05-04|62|8|2016-12-31|
|11069|2016-05-04|80|1|2016-12-31|
|11070|2016-05-05|44|2|2016-12-31|
|11071|2016-05-05|46|1|2016-12-31|
|11072|2016-05-05|20|4|2016-12-31|
|11073|2016-05-05|58|2|2016-12-31|
|11074|2016-05-06|73|7|2016-12-31|
|11075|2016-05-06|68|8|2016-12-31|
|11076|2016-05-06|9|4|2016-12-31|
|11077|2016-05-06|65|1|2016-12-31|


**Northwinds2022TSQLV7 Desired output:**

|OrderID|OrderDate|CustomerId|EmployeeId|endofyear|
|---|---|---|---|---|
|10248|2014-07-04|85|5|2014-12-31|
|10249|2014-07-05|79|6|2014-12-31|
|10250|2014-07-08|34|4|2014-12-31|
|10251|2014-07-08|84|3|2014-12-31|
|10252|2014-07-09|76|4|2014-12-31|
|10253|2014-07-10|34|3|2014-12-31|
|10254|2014-07-11|14|5|2014-12-31|
|10255|2014-07-12|68|9|2014-12-31|
|10256|2014-07-15|88|3|2014-12-31|
|10257|2014-07-16|35|4|2014-12-31|
|10258|2014-07-17|20|1|2014-12-31|
|10259|2014-07-18|13|4|2014-12-31|
|10260|2014-07-19|56|4|2014-12-31|
|10261|2014-07-19|61|4|2014-12-31|
|10262|2014-07-22|65|8|2014-12-31|
|10263|2014-07-23|20|9|2014-12-31|
|10264|2014-07-24|24|6|2014-12-31|
|10265|2014-07-25|7|2|2014-12-31|
|10266|2014-07-26|87|3|2014-12-31|
|10267|2014-07-29|25|4|2014-12-31|
|10268|2014-07-30|33|8|2014-12-31|
|10269|2014-07-31|89|5|2014-12-31|
|10270|2014-08-01|87|1|2014-12-31|
|10271|2014-08-01|75|6|2014-12-31|
|10272|2014-08-02|65|6|2014-12-31|
|10273|2014-08-05|63|3|2014-12-31|
|10274|2014-08-06|85|6|2014-12-31|
|10275|2014-08-07|49|1|2014-12-31|
|10276|2014-08-08|80|8|2014-12-31|
|10277|2014-08-09|52|2|2014-12-31|
|10278|2014-08-12|5|8|2014-12-31|
|10279|2014-08-13|44|8|2014-12-31|
|10280|2014-08-14|5|2|2014-12-31|
|10281|2014-08-14|69|4|2014-12-31|
|10282|2014-08-15|69|4|2014-12-31|
|10283|2014-08-16|46|3|2014-12-31|
|10284|2014-08-19|44|4|2014-12-31|
|10285|2014-08-20|63|1|2014-12-31|
|10286|2014-08-21|63|8|2014-12-31|
|10287|2014-08-22|67|8|2014-12-31|
|10288|2014-08-23|66|4|2014-12-31|
|10289|2014-08-26|11|7|2014-12-31|
|10290|2014-08-27|15|8|2014-12-31|
|10291|2014-08-27|61|6|2014-12-31|
|10292|2014-08-28|81|1|2014-12-31|
|10293|2014-08-29|80|1|2014-12-31|
|10294|2014-08-30|65|4|2014-12-31|
|10295|2014-09-02|85|2|2014-12-31|
|10296|2014-09-03|46|6|2014-12-31|
|10297|2014-09-04|7|5|2014-12-31|
|10298|2014-09-05|37|6|2014-12-31|
|10299|2014-09-06|67|4|2014-12-31|
|10300|2014-09-09|49|2|2014-12-31|
|10301|2014-09-09|86|8|2014-12-31|
|10302|2014-09-10|76|4|2014-12-31|
|10303|2014-09-11|30|7|2014-12-31|
|10304|2014-09-12|80|1|2014-12-31|
|10305|2014-09-13|55|8|2014-12-31|
|10306|2014-09-16|69|1|2014-12-31|
|10307|2014-09-17|48|2|2014-12-31|
|10308|2014-09-18|2|7|2014-12-31|
|10309|2014-09-19|37|3|2014-12-31|
|10310|2014-09-20|77|8|2014-12-31|
|10311|2014-09-20|18|1|2014-12-31|
|10312|2014-09-23|86|2|2014-12-31|
|10313|2014-09-24|63|2|2014-12-31|
|10314|2014-09-25|65|1|2014-12-31|
|10315|2014-09-26|38|4|2014-12-31|
|10316|2014-09-27|65|1|2014-12-31|
|10317|2014-09-30|48|6|2014-12-31|
|10318|2014-10-01|38|8|2014-12-31|
|10319|2014-10-02|80|7|2014-12-31|
|10320|2014-10-03|87|5|2014-12-31|
|10321|2014-10-03|38|3|2014-12-31|
|10322|2014-10-04|58|7|2014-12-31|
|10323|2014-10-07|39|4|2014-12-31|
|10324|2014-10-08|71|9|2014-12-31|
|10325|2014-10-09|39|1|2014-12-31|
|10326|2014-10-10|8|4|2014-12-31|
|10327|2014-10-11|24|2|2014-12-31|
|10328|2014-10-14|28|4|2014-12-31|
|10329|2014-10-15|75|4|2014-12-31|
|10330|2014-10-16|46|3|2014-12-31|
|10331|2014-10-16|9|9|2014-12-31|
|10332|2014-10-17|51|3|2014-12-31|
|10333|2014-10-18|87|5|2014-12-31|
|10334|2014-10-21|84|8|2014-12-31|
|10335|2014-10-22|37|7|2014-12-31|
|10336|2014-10-23|60|7|2014-12-31|
|10337|2014-10-24|25|4|2014-12-31|
|10338|2014-10-25|55|4|2014-12-31|
|10339|2014-10-28|51|2|2014-12-31|
|10340|2014-10-29|9|1|2014-12-31|
|10341|2014-10-29|73|7|2014-12-31|
|10342|2014-10-30|25|4|2014-12-31|
|10343|2014-10-31|44|4|2014-12-31|
|10344|2014-11-01|89|4|2014-12-31|
|10345|2014-11-04|63|2|2014-12-31|
|10346|2014-11-05|65|3|2014-12-31|
|10347|2014-11-06|21|4|2014-12-31|
|10348|2014-11-07|86|4|2014-12-31|
|10349|2014-11-08|75|7|2014-12-31|
|10350|2014-11-11|41|6|2014-12-31|
|10351|2014-11-11|20|1|2014-12-31|
|10352|2014-11-12|28|3|2014-12-31|
|10353|2014-11-13|59|7|2014-12-31|
|10354|2014-11-14|58|8|2014-12-31|
|10355|2014-11-15|4|6|2014-12-31|
|10356|2014-11-18|86|6|2014-12-31|
|10357|2014-11-19|46|1|2014-12-31|
|10358|2014-11-20|41|5|2014-12-31|
|10359|2014-11-21|72|5|2014-12-31|
|10360|2014-11-22|7|4|2014-12-31|
|10361|2014-11-22|63|1|2014-12-31|
|10362|2014-11-25|9|3|2014-12-31|
|10363|2014-11-26|17|4|2014-12-31|
|10364|2014-11-26|19|1|2014-12-31|
|10365|2014-11-27|3|3|2014-12-31|
|10366|2014-11-28|29|8|2014-12-31|
|10367|2014-11-28|83|7|2014-12-31|
|10368|2014-11-29|20|2|2014-12-31|
|10369|2014-12-02|75|8|2014-12-31|
|10370|2014-12-03|14|6|2014-12-31|
|10371|2014-12-03|41|1|2014-12-31|
|10372|2014-12-04|62|5|2014-12-31|
|10373|2014-12-05|37|4|2014-12-31|
|10374|2014-12-05|91|1|2014-12-31|
|10375|2014-12-06|36|3|2014-12-31|
|10376|2014-12-09|51|1|2014-12-31|
|10377|2014-12-09|72|1|2014-12-31|
|10378|2014-12-10|24|5|2014-12-31|
|10379|2014-12-11|61|2|2014-12-31|
|10380|2014-12-12|37|8|2014-12-31|
|10381|2014-12-12|46|3|2014-12-31|
|10382|2014-12-13|20|4|2014-12-31|
|10383|2014-12-16|4|8|2014-12-31|
|10384|2014-12-16|5|3|2014-12-31|
|10385|2014-12-17|75|1|2014-12-31|
|10386|2014-12-18|21|9|2014-12-31|
|10387|2014-12-18|70|1|2014-12-31|
|10388|2014-12-19|72|2|2014-12-31|
|10389|2014-12-20|10|4|2014-12-31|
|10390|2014-12-23|20|6|2014-12-31|
|10391|2014-12-23|17|3|2014-12-31|
|10392|2014-12-24|59|2|2014-12-31|
|10393|2014-12-25|71|1|2014-12-31|
|10394|2014-12-25|36|1|2014-12-31|
|10395|2014-12-26|35|6|2014-12-31|
|10396|2014-12-27|25|1|2014-12-31|
|10397|2014-12-27|60|5|2014-12-31|
|10398|2014-12-30|71|2|2014-12-31|
|10400|2015-01-01|19|1|2015-12-31|
|10401|2015-01-01|65|1|2015-12-31|
|10402|2015-01-02|20|8|2015-12-31|
|10403|2015-01-03|20|4|2015-12-31|
|10404|2015-01-03|49|2|2015-12-31|
|10405|2015-01-06|47|1|2015-12-31|
|10406|2015-01-07|62|7|2015-12-31|
|10407|2015-01-07|56|2|2015-12-31|
|10408|2015-01-08|23|8|2015-12-31|
|10409|2015-01-09|54|3|2015-12-31|
|10410|2015-01-10|10|3|2015-12-31|
|10411|2015-01-10|10|9|2015-12-31|
|10412|2015-01-13|87|8|2015-12-31|
|10413|2015-01-14|41|3|2015-12-31|
|10414|2015-01-14|21|2|2015-12-31|
|10415|2015-01-15|36|3|2015-12-31|
|10416|2015-01-16|87|8|2015-12-31|
|10417|2015-01-16|73|4|2015-12-31|
|10418|2015-01-17|63|4|2015-12-31|
|10419|2015-01-20|68|4|2015-12-31|
|10420|2015-01-21|88|3|2015-12-31|
|10421|2015-01-21|61|8|2015-12-31|
|10422|2015-01-22|27|2|2015-12-31|
|10423|2015-01-23|31|6|2015-12-31|
|10424|2015-01-23|51|7|2015-12-31|
|10425|2015-01-24|41|6|2015-12-31|
|10426|2015-01-27|29|4|2015-12-31|
|10427|2015-01-27|59|4|2015-12-31|
|10428|2015-01-28|66|7|2015-12-31|
|10429|2015-01-29|37|3|2015-12-31|
|10430|2015-01-30|20|4|2015-12-31|
|10431|2015-01-30|10|4|2015-12-31|
|10432|2015-01-31|75|3|2015-12-31|
|10433|2015-02-03|60|3|2015-12-31|
|10434|2015-02-03|24|3|2015-12-31|
|10435|2015-02-04|16|8|2015-12-31|
|10436|2015-02-05|7|3|2015-12-31|
|10437|2015-02-05|87|8|2015-12-31|
|10438|2015-02-06|79|3|2015-12-31|
|10439|2015-02-07|51|6|2015-12-31|
|10440|2015-02-10|71|4|2015-12-31|
|10441|2015-02-10|55|3|2015-12-31|
|10442|2015-02-11|20|3|2015-12-31|
|10443|2015-02-12|66|8|2015-12-31|
|10444|2015-02-12|5|3|2015-12-31|
|10445|2015-02-13|5|3|2015-12-31|
|10446|2015-02-14|79|6|2015-12-31|
|10447|2015-02-14|67|4|2015-12-31|
|10448|2015-02-17|64|4|2015-12-31|
|10449|2015-02-18|7|3|2015-12-31|
|10450|2015-02-19|84|8|2015-12-31|
|10451|2015-02-19|63|4|2015-12-31|
|10452|2015-02-20|71|8|2015-12-31|
|10453|2015-02-21|4|1|2015-12-31|
|10454|2015-02-21|41|4|2015-12-31|
|10455|2015-02-24|87|8|2015-12-31|
|10456|2015-02-25|39|8|2015-12-31|
|10457|2015-02-25|39|2|2015-12-31|
|10458|2015-02-26|76|7|2015-12-31|
|10459|2015-02-27|84|4|2015-12-31|
|10460|2015-02-28|24|8|2015-12-31|
|10461|2015-02-28|46|1|2015-12-31|
|10462|2015-03-03|16|2|2015-12-31|
|10463|2015-03-04|76|5|2015-12-31|
|10464|2015-03-04|28|4|2015-12-31|
|10465|2015-03-05|83|1|2015-12-31|
|10466|2015-03-06|15|4|2015-12-31|
|10467|2015-03-06|49|8|2015-12-31|
|10468|2015-03-07|39|3|2015-12-31|
|10469|2015-03-10|89|1|2015-12-31|
|10470|2015-03-11|9|4|2015-12-31|
|10471|2015-03-11|11|2|2015-12-31|
|10472|2015-03-12|72|8|2015-12-31|
|10473|2015-03-13|38|1|2015-12-31|
|10474|2015-03-13|58|5|2015-12-31|
|10475|2015-03-14|76|9|2015-12-31|
|10476|2015-03-17|35|8|2015-12-31|
|10477|2015-03-17|60|5|2015-12-31|
|10478|2015-03-18|84|2|2015-12-31|
|10479|2015-03-19|65|3|2015-12-31|
|10480|2015-03-20|23|6|2015-12-31|
|10481|2015-03-20|67|8|2015-12-31|
|10482|2015-03-21|43|1|2015-12-31|
|10483|2015-03-24|89|7|2015-12-31|
|10484|2015-03-24|11|3|2015-12-31|
|10485|2015-03-25|47|4|2015-12-31|
|10486|2015-03-26|35|1|2015-12-31|
|10487|2015-03-26|62|2|2015-12-31|
|10488|2015-03-27|25|8|2015-12-31|
|10489|2015-03-28|59|6|2015-12-31|
|10490|2015-03-31|35|7|2015-12-31|
|10491|2015-03-31|28|8|2015-12-31|
|10492|2015-04-01|10|3|2015-12-31|
|10493|2015-04-02|41|4|2015-12-31|
|10494|2015-04-02|15|4|2015-12-31|
|10495|2015-04-03|42|3|2015-12-31|
|10496|2015-04-04|81|7|2015-12-31|
|10497|2015-04-04|44|7|2015-12-31|
|10498|2015-04-07|35|8|2015-12-31|
|10499|2015-04-08|46|4|2015-12-31|
|10500|2015-04-09|41|6|2015-12-31|
|10501|2015-04-09|6|9|2015-12-31|
|10502|2015-04-10|58|2|2015-12-31|
|10503|2015-04-11|37|6|2015-12-31|
|10504|2015-04-11|89|4|2015-12-31|
|10505|2015-04-14|51|3|2015-12-31|
|10506|2015-04-15|39|9|2015-12-31|
|10507|2015-04-15|3|7|2015-12-31|
|10508|2015-04-16|56|1|2015-12-31|
|10509|2015-04-17|6|4|2015-12-31|
|10510|2015-04-18|71|6|2015-12-31|
|10511|2015-04-18|9|4|2015-12-31|
|10512|2015-04-21|21|7|2015-12-31|
|10513|2015-04-22|86|7|2015-12-31|
|10514|2015-04-22|20|3|2015-12-31|
|10515|2015-04-23|63|2|2015-12-31|
|10516|2015-04-24|37|2|2015-12-31|
|10517|2015-04-24|53|3|2015-12-31|
|10518|2015-04-25|80|4|2015-12-31|
|10519|2015-04-28|14|6|2015-12-31|
|10520|2015-04-29|70|7|2015-12-31|
|10521|2015-04-29|12|8|2015-12-31|
|10522|2015-04-30|44|4|2015-12-31|
|10523|2015-05-01|72|7|2015-12-31|
|10524|2015-05-01|5|1|2015-12-31|
|10525|2015-05-02|9|1|2015-12-31|
|10526|2015-05-05|87|4|2015-12-31|
|10527|2015-05-05|63|7|2015-12-31|
|10528|2015-05-06|32|6|2015-12-31|
|10529|2015-05-07|50|5|2015-12-31|
|10530|2015-05-08|59|3|2015-12-31|
|10531|2015-05-08|54|7|2015-12-31|
|10532|2015-05-09|19|7|2015-12-31|
|10533|2015-05-12|24|8|2015-12-31|
|10534|2015-05-12|44|8|2015-12-31|
|10535|2015-05-13|3|4|2015-12-31|
|10536|2015-05-14|44|3|2015-12-31|
|10537|2015-05-14|68|1|2015-12-31|
|10538|2015-05-15|11|9|2015-12-31|
|10539|2015-05-16|11|6|2015-12-31|
|10540|2015-05-19|63|3|2015-12-31|
|10541|2015-05-19|34|2|2015-12-31|
|10542|2015-05-20|39|1|2015-12-31|
|10543|2015-05-21|46|8|2015-12-31|
|10544|2015-05-21|48|4|2015-12-31|
|10545|2015-05-22|43|8|2015-12-31|
|10546|2015-05-23|84|1|2015-12-31|
|10547|2015-05-23|72|3|2015-12-31|
|10548|2015-05-26|79|3|2015-12-31|
|10549|2015-05-27|63|5|2015-12-31|
|10550|2015-05-28|30|7|2015-12-31|
|10551|2015-05-28|28|4|2015-12-31|
|10552|2015-05-29|35|2|2015-12-31|
|10553|2015-05-30|87|2|2015-12-31|
|10554|2015-05-30|56|4|2015-12-31|
|10555|2015-06-02|71|6|2015-12-31|
|10556|2015-06-03|73|2|2015-12-31|
|10557|2015-06-03|44|9|2015-12-31|
|10558|2015-06-04|4|1|2015-12-31|
|10559|2015-06-05|7|6|2015-12-31|
|10560|2015-06-06|25|8|2015-12-31|
|10561|2015-06-06|24|2|2015-12-31|
|10562|2015-06-09|66|1|2015-12-31|
|10563|2015-06-10|67|2|2015-12-31|
|10564|2015-06-10|65|4|2015-12-31|
|10565|2015-06-11|51|8|2015-12-31|
|10566|2015-06-12|7|9|2015-12-31|
|10567|2015-06-12|37|1|2015-12-31|
|10568|2015-06-13|29|3|2015-12-31|
|10569|2015-06-16|65|5|2015-12-31|
|10570|2015-06-17|51|3|2015-12-31|
|10571|2015-06-17|20|8|2015-12-31|
|10572|2015-06-18|5|3|2015-12-31|
|10573|2015-06-19|3|7|2015-12-31|
|10574|2015-06-19|82|4|2015-12-31|
|10575|2015-06-20|52|5|2015-12-31|
|10576|2015-06-23|80|3|2015-12-31|
|10577|2015-06-23|82|9|2015-12-31|
|10578|2015-06-24|11|4|2015-12-31|
|10579|2015-06-25|45|1|2015-12-31|
|10580|2015-06-26|56|4|2015-12-31|
|10581|2015-06-26|21|3|2015-12-31|
|10582|2015-06-27|6|3|2015-12-31|
|10583|2015-06-30|87|2|2015-12-31|
|10584|2015-06-30|7|4|2015-12-31|
|10585|2015-07-01|88|7|2015-12-31|
|10586|2015-07-02|66|9|2015-12-31|
|10587|2015-07-02|61|1|2015-12-31|
|10588|2015-07-03|63|2|2015-12-31|
|10589|2015-07-04|32|8|2015-12-31|
|10590|2015-07-07|51|4|2015-12-31|
|10591|2015-07-07|83|1|2015-12-31|
|10592|2015-07-08|44|3|2015-12-31|
|10593|2015-07-09|44|7|2015-12-31|
|10594|2015-07-09|55|3|2015-12-31|
|10595|2015-07-10|20|2|2015-12-31|
|10596|2015-07-11|89|8|2015-12-31|
|10597|2015-07-11|59|7|2015-12-31|
|10598|2015-07-14|65|1|2015-12-31|
|10599|2015-07-15|11|6|2015-12-31|
|10600|2015-07-16|36|4|2015-12-31|
|10601|2015-07-16|35|7|2015-12-31|
|10602|2015-07-17|83|8|2015-12-31|
|10603|2015-07-18|71|8|2015-12-31|
|10604|2015-07-18|28|1|2015-12-31|
|10605|2015-07-21|51|1|2015-12-31|
|10606|2015-07-22|81|4|2015-12-31|
|10607|2015-07-22|71|5|2015-12-31|
|10608|2015-07-23|79|4|2015-12-31|
|10609|2015-07-24|18|7|2015-12-31|
|10610|2015-07-25|41|8|2015-12-31|
|10611|2015-07-25|91|6|2015-12-31|
|10612|2015-07-28|71|1|2015-12-31|
|10613|2015-07-29|35|4|2015-12-31|
|10614|2015-07-29|6|8|2015-12-31|
|10615|2015-07-30|90|2|2015-12-31|
|10616|2015-07-31|32|1|2015-12-31|
|10617|2015-07-31|32|4|2015-12-31|
|10618|2015-08-01|51|1|2015-12-31|
|10619|2015-08-04|51|3|2015-12-31|
|10620|2015-08-05|42|2|2015-12-31|
|10621|2015-08-05|38|4|2015-12-31|
|10622|2015-08-06|67|4|2015-12-31|
|10623|2015-08-07|25|8|2015-12-31|
|10624|2015-08-07|78|4|2015-12-31|
|10625|2015-08-08|2|3|2015-12-31|
|10626|2015-08-11|5|1|2015-12-31|
|10627|2015-08-11|71|8|2015-12-31|
|10628|2015-08-12|7|4|2015-12-31|
|10629|2015-08-12|30|4|2015-12-31|
|10630|2015-08-13|39|1|2015-12-31|
|10631|2015-08-14|41|8|2015-12-31|
|10632|2015-08-14|86|8|2015-12-31|
|10633|2015-08-15|20|7|2015-12-31|
|10634|2015-08-15|23|4|2015-12-31|
|10635|2015-08-18|49|8|2015-12-31|
|10636|2015-08-19|87|4|2015-12-31|
|10637|2015-08-19|62|6|2015-12-31|
|10638|2015-08-20|47|3|2015-12-31|
|10639|2015-08-20|70|7|2015-12-31|
|10640|2015-08-21|86|4|2015-12-31|
|10641|2015-08-22|35|4|2015-12-31|
|10642|2015-08-22|73|7|2015-12-31|
|10643|2015-08-25|1|6|2015-12-31|
|10644|2015-08-25|88|3|2015-12-31|
|10645|2015-08-26|34|4|2015-12-31|
|10646|2015-08-27|37|9|2015-12-31|
|10647|2015-08-27|61|4|2015-12-31|
|10648|2015-08-28|67|5|2015-12-31|
|10649|2015-08-28|50|5|2015-12-31|
|10650|2015-08-29|21|5|2015-12-31|
|10651|2015-09-01|86|8|2015-12-31|
|10652|2015-09-01|31|4|2015-12-31|
|10653|2015-09-02|25|1|2015-12-31|
|10654|2015-09-02|5|5|2015-12-31|
|10655|2015-09-03|66|1|2015-12-31|
|10656|2015-09-04|32|6|2015-12-31|
|10657|2015-09-04|71|2|2015-12-31|
|10658|2015-09-05|63|4|2015-12-31|
|10659|2015-09-05|62|7|2015-12-31|
|10660|2015-09-08|36|8|2015-12-31|
|10661|2015-09-09|37|7|2015-12-31|
|10662|2015-09-09|48|3|2015-12-31|
|10663|2015-09-10|9|2|2015-12-31|
|10664|2015-09-10|28|1|2015-12-31|
|10665|2015-09-11|48|1|2015-12-31|
|10666|2015-09-12|68|7|2015-12-31|
|10667|2015-09-12|20|7|2015-12-31|
|10668|2015-09-15|86|1|2015-12-31|
|10669|2015-09-15|73|2|2015-12-31|
|10670|2015-09-16|25|4|2015-12-31|
|10671|2015-09-17|26|1|2015-12-31|
|10672|2015-09-17|5|9|2015-12-31|
|10673|2015-09-18|90|2|2015-12-31|
|10674|2015-09-18|38|4|2015-12-31|
|10675|2015-09-19|25|5|2015-12-31|
|10676|2015-09-22|80|2|2015-12-31|
|10677|2015-09-22|3|1|2015-12-31|
|10678|2015-09-23|71|7|2015-12-31|
|10679|2015-09-23|7|8|2015-12-31|
|10680|2015-09-24|55|1|2015-12-31|
|10681|2015-09-25|32|3|2015-12-31|
|10682|2015-09-25|3|3|2015-12-31|
|10683|2015-09-26|18|2|2015-12-31|
|10684|2015-09-26|56|3|2015-12-31|
|10685|2015-09-29|31|4|2015-12-31|
|10686|2015-09-30|59|2|2015-12-31|
|10687|2015-09-30|37|9|2015-12-31|
|10688|2015-10-01|83|4|2015-12-31|
|10689|2015-10-01|5|1|2015-12-31|
|10690|2015-10-02|34|1|2015-12-31|
|10691|2015-10-03|63|2|2015-12-31|
|10692|2015-10-03|1|4|2015-12-31|
|10693|2015-10-06|89|3|2015-12-31|
|10694|2015-10-06|63|8|2015-12-31|
|10695|2015-10-07|90|7|2015-12-31|
|10696|2015-10-08|89|8|2015-12-31|
|10697|2015-10-08|47|3|2015-12-31|
|10698|2015-10-09|20|4|2015-12-31|
|10699|2015-10-09|52|3|2015-12-31|
|10700|2015-10-10|71|3|2015-12-31|
|10701|2015-10-13|37|6|2015-12-31|
|10702|2015-10-13|1|4|2015-12-31|
|10703|2015-10-14|24|6|2015-12-31|
|10704|2015-10-14|62|6|2015-12-31|
|10705|2015-10-15|35|9|2015-12-31|
|10706|2015-10-16|55|8|2015-12-31|
|10707|2015-10-16|4|4|2015-12-31|
|10708|2015-10-17|77|6|2015-12-31|
|10709|2015-10-17|31|1|2015-12-31|
|10710|2015-10-20|27|1|2015-12-31|
|10711|2015-10-21|71|5|2015-12-31|
|10712|2015-10-21|37|3|2015-12-31|
|10713|2015-10-22|71|1|2015-12-31|
|10714|2015-10-22|71|5|2015-12-31|
|10715|2015-10-23|9|3|2015-12-31|
|10716|2015-10-24|64|4|2015-12-31|
|10717|2015-10-24|25|1|2015-12-31|
|10718|2015-10-27|39|1|2015-12-31|
|10719|2015-10-27|45|8|2015-12-31|
|10720|2015-10-28|61|8|2015-12-31|
|10721|2015-10-29|63|5|2015-12-31|
|10722|2015-10-29|71|8|2015-12-31|
|10723|2015-10-30|89|3|2015-12-31|
|10724|2015-10-30|51|8|2015-12-31|
|10725|2015-10-31|21|4|2015-12-31|
|10726|2015-11-03|19|4|2015-12-31|
|10727|2015-11-03|66|2|2015-12-31|
|10728|2015-11-04|62|4|2015-12-31|
|10729|2015-11-04|47|8|2015-12-31|
|10730|2015-11-05|9|5|2015-12-31|
|10731|2015-11-06|14|7|2015-12-31|
|10732|2015-11-06|9|3|2015-12-31|
|10733|2015-11-07|5|1|2015-12-31|
|10734|2015-11-07|31|2|2015-12-31|
|10735|2015-11-10|45|6|2015-12-31|
|10736|2015-11-11|37|9|2015-12-31|
|10737|2015-11-11|85|2|2015-12-31|
|10738|2015-11-12|74|2|2015-12-31|
|10739|2015-11-12|85|3|2015-12-31|
|10740|2015-11-13|89|4|2015-12-31|
|10741|2015-11-14|4|4|2015-12-31|
|10742|2015-11-14|10|3|2015-12-31|
|10743|2015-11-17|4|1|2015-12-31|
|10744|2015-11-17|83|6|2015-12-31|
|10745|2015-11-18|63|9|2015-12-31|
|10746|2015-11-19|14|1|2015-12-31|
|10747|2015-11-19|59|6|2015-12-31|
|10748|2015-11-20|71|3|2015-12-31|
|10749|2015-11-20|38|4|2015-12-31|
|10750|2015-11-21|87|9|2015-12-31|
|10751|2015-11-24|68|3|2015-12-31|
|10752|2015-11-24|53|2|2015-12-31|
|10753|2015-11-25|27|3|2015-12-31|
|10754|2015-11-25|49|6|2015-12-31|
|10755|2015-11-26|9|4|2015-12-31|
|10756|2015-11-27|75|8|2015-12-31|
|10757|2015-11-27|71|6|2015-12-31|
|10758|2015-11-28|68|3|2015-12-31|
|10759|2015-11-28|2|3|2015-12-31|
|10760|2015-12-01|50|4|2015-12-31|
|10761|2015-12-02|65|5|2015-12-31|
|10762|2015-12-02|24|3|2015-12-31|
|10763|2015-12-03|23|3|2015-12-31|
|10764|2015-12-03|20|6|2015-12-31|
|10765|2015-12-04|63|3|2015-12-31|
|10766|2015-12-05|56|4|2015-12-31|
|10767|2015-12-05|76|4|2015-12-31|
|10768|2015-12-08|4|3|2015-12-31|
|10769|2015-12-08|83|3|2015-12-31|
|10770|2015-12-09|34|8|2015-12-31|
|10771|2015-12-10|20|9|2015-12-31|
|10772|2015-12-10|44|3|2015-12-31|
|10773|2015-12-11|20|1|2015-12-31|
|10774|2015-12-11|24|4|2015-12-31|
|10775|2015-12-12|78|7|2015-12-31|
|10776|2015-12-15|20|1|2015-12-31|
|10777|2015-12-15|31|7|2015-12-31|
|10778|2015-12-16|5|3|2015-12-31|
|10779|2015-12-16|52|3|2015-12-31|
|10780|2015-12-16|46|2|2015-12-31|
|10781|2015-12-17|87|2|2015-12-31|
|10782|2015-12-17|12|9|2015-12-31|
|10783|2015-12-18|34|4|2015-12-31|
|10784|2015-12-18|49|4|2015-12-31|
|10785|2015-12-18|33|1|2015-12-31|
|10786|2015-12-19|62|8|2015-12-31|
|10787|2015-12-19|41|2|2015-12-31|
|10788|2015-12-22|63|1|2015-12-31|
|10789|2015-12-22|23|1|2015-12-31|
|10790|2015-12-22|31|6|2015-12-31|
|10791|2015-12-23|25|6|2015-12-31|
|10792|2015-12-23|91|1|2015-12-31|
|10793|2015-12-24|4|3|2015-12-31|
|10794|2015-12-24|61|6|2015-12-31|
|10795|2015-12-24|20|8|2015-12-31|
|10796|2015-12-25|35|3|2015-12-31|
|10797|2015-12-25|17|7|2015-12-31|
|10798|2015-12-26|38|2|2015-12-31|
|10799|2015-12-26|39|9|2015-12-31|
|10800|2015-12-26|72|1|2015-12-31|
|10801|2015-12-29|8|4|2015-12-31|
|10802|2015-12-29|73|4|2015-12-31|
|10803|2015-12-30|88|4|2015-12-31|
|10804|2015-12-30|72|6|2015-12-31|
|10805|2015-12-30|77|2|2015-12-31|
|10808|2016-01-01|55|2|2016-12-31|
|10809|2016-01-01|88|7|2016-12-31|
|10810|2016-01-01|42|2|2016-12-31|
|10811|2016-01-02|47|8|2016-12-31|
|10812|2016-01-02|66|5|2016-12-31|
|10813|2016-01-05|67|1|2016-12-31|
|10814|2016-01-05|84|3|2016-12-31|
|10815|2016-01-05|71|2|2016-12-31|
|10816|2016-01-06|32|4|2016-12-31|
|10817|2016-01-06|39|3|2016-12-31|
|10818|2016-01-07|49|7|2016-12-31|
|10819|2016-01-07|12|2|2016-12-31|
|10820|2016-01-07|65|3|2016-12-31|
|10821|2016-01-08|75|1|2016-12-31|
|10822|2016-01-08|82|6|2016-12-31|
|10823|2016-01-09|46|5|2016-12-31|
|10824|2016-01-09|24|8|2016-12-31|
|10825|2016-01-09|17|1|2016-12-31|
|10826|2016-01-12|7|6|2016-12-31|
|10827|2016-01-12|9|1|2016-12-31|
|10828|2016-01-13|64|9|2016-12-31|
|10829|2016-01-13|38|9|2016-12-31|
|10830|2016-01-13|81|4|2016-12-31|
|10831|2016-01-14|70|3|2016-12-31|
|10832|2016-01-14|41|2|2016-12-31|
|10833|2016-01-15|56|6|2016-12-31|
|10834|2016-01-15|81|1|2016-12-31|
|10835|2016-01-15|1|1|2016-12-31|
|10836|2016-01-16|20|7|2016-12-31|
|10837|2016-01-16|5|9|2016-12-31|
|10838|2016-01-19|47|3|2016-12-31|
|10839|2016-01-19|81|3|2016-12-31|
|10840|2016-01-19|47|4|2016-12-31|
|10841|2016-01-20|76|5|2016-12-31|
|10842|2016-01-20|80|1|2016-12-31|
|10843|2016-01-21|84|4|2016-12-31|
|10844|2016-01-21|59|8|2016-12-31|
|10845|2016-01-21|63|8|2016-12-31|
|10846|2016-01-22|76|2|2016-12-31|
|10847|2016-01-22|71|4|2016-12-31|
|10848|2016-01-23|16|7|2016-12-31|
|10849|2016-01-23|39|9|2016-12-31|
|10850|2016-01-23|84|1|2016-12-31|
|10851|2016-01-26|67|5|2016-12-31|
|10852|2016-01-26|65|8|2016-12-31|
|10853|2016-01-27|6|9|2016-12-31|
|10854|2016-01-27|20|3|2016-12-31|
|10855|2016-01-27|55|3|2016-12-31|
|10856|2016-01-28|3|3|2016-12-31|
|10857|2016-01-28|5|8|2016-12-31|
|10858|2016-01-29|40|2|2016-12-31|
|10859|2016-01-29|25|1|2016-12-31|
|10860|2016-01-29|26|3|2016-12-31|
|10861|2016-01-30|89|4|2016-12-31|
|10862|2016-01-30|44|8|2016-12-31|
|10863|2016-02-02|35|4|2016-12-31|
|10864|2016-02-02|4|4|2016-12-31|
|10865|2016-02-02|63|2|2016-12-31|
|10866|2016-02-03|5|5|2016-12-31|
|10867|2016-02-03|48|6|2016-12-31|
|10868|2016-02-04|62|7|2016-12-31|
|10869|2016-02-04|72|5|2016-12-31|
|10870|2016-02-04|91|5|2016-12-31|
|10871|2016-02-05|9|9|2016-12-31|
|10872|2016-02-05|30|5|2016-12-31|
|10873|2016-02-06|90|4|2016-12-31|
|10874|2016-02-06|30|5|2016-12-31|
|10875|2016-02-06|5|4|2016-12-31|
|10876|2016-02-09|9|7|2016-12-31|
|10877|2016-02-09|67|1|2016-12-31|
|10878|2016-02-10|63|4|2016-12-31|
|10879|2016-02-10|90|3|2016-12-31|
|10880|2016-02-10|24|7|2016-12-31|
|10881|2016-02-11|12|4|2016-12-31|
|10882|2016-02-11|71|4|2016-12-31|
|10883|2016-02-12|48|8|2016-12-31|
|10884|2016-02-12|45|4|2016-12-31|
|10885|2016-02-12|76|6|2016-12-31|
|10886|2016-02-13|34|1|2016-12-31|
|10887|2016-02-13|29|8|2016-12-31|
|10888|2016-02-16|30|1|2016-12-31|
|10889|2016-02-16|65|9|2016-12-31|
|10890|2016-02-16|18|7|2016-12-31|
|10891|2016-02-17|44|7|2016-12-31|
|10892|2016-02-17|50|4|2016-12-31|
|10893|2016-02-18|39|9|2016-12-31|
|10894|2016-02-18|71|1|2016-12-31|
|10895|2016-02-18|20|3|2016-12-31|
|10896|2016-02-19|50|7|2016-12-31|
|10897|2016-02-19|37|3|2016-12-31|
|10898|2016-02-20|54|4|2016-12-31|
|10899|2016-02-20|46|5|2016-12-31|
|10900|2016-02-20|88|1|2016-12-31|
|10901|2016-02-23|35|4|2016-12-31|
|10902|2016-02-23|24|1|2016-12-31|
|10903|2016-02-24|34|3|2016-12-31|
|10904|2016-02-24|89|3|2016-12-31|
|10905|2016-02-24|88|9|2016-12-31|
|10906|2016-02-25|91|4|2016-12-31|
|10907|2016-02-25|74|6|2016-12-31|
|10908|2016-02-26|66|4|2016-12-31|
|10909|2016-02-26|70|1|2016-12-31|
|10910|2016-02-26|90|1|2016-12-31|
|10911|2016-02-26|30|3|2016-12-31|
|10912|2016-02-26|37|2|2016-12-31|
|10913|2016-02-26|62|4|2016-12-31|
|10914|2016-02-27|62|6|2016-12-31|
|10915|2016-02-27|80|2|2016-12-31|
|10916|2016-02-27|64|1|2016-12-31|
|10917|2016-03-02|69|4|2016-12-31|
|10918|2016-03-02|10|3|2016-12-31|
|10919|2016-03-02|47|2|2016-12-31|
|10920|2016-03-03|4|4|2016-12-31|
|10921|2016-03-03|83|1|2016-12-31|
|10922|2016-03-03|34|5|2016-12-31|
|10923|2016-03-03|41|7|2016-12-31|
|10924|2016-03-04|5|3|2016-12-31|
|10925|2016-03-04|34|3|2016-12-31|
|10926|2016-03-04|2|4|2016-12-31|
|10927|2016-03-05|40|4|2016-12-31|
|10928|2016-03-05|29|1|2016-12-31|
|10929|2016-03-05|25|6|2016-12-31|
|10930|2016-03-06|76|4|2016-12-31|
|10931|2016-03-06|68|4|2016-12-31|
|10932|2016-03-06|9|8|2016-12-31|
|10933|2016-03-06|38|6|2016-12-31|
|10934|2016-03-09|44|3|2016-12-31|
|10935|2016-03-09|88|4|2016-12-31|
|10936|2016-03-09|32|3|2016-12-31|
|10937|2016-03-10|12|7|2016-12-31|
|10938|2016-03-10|63|3|2016-12-31|
|10939|2016-03-10|49|2|2016-12-31|
|10940|2016-03-11|9|8|2016-12-31|
|10941|2016-03-11|71|7|2016-12-31|
|10942|2016-03-11|66|9|2016-12-31|
|10943|2016-03-11|11|4|2016-12-31|
|10944|2016-03-12|10|6|2016-12-31|
|10945|2016-03-12|52|4|2016-12-31|
|10946|2016-03-12|83|1|2016-12-31|
|10947|2016-03-13|11|3|2016-12-31|
|10948|2016-03-13|30|3|2016-12-31|
|10949|2016-03-13|10|2|2016-12-31|
|10950|2016-03-16|49|1|2016-12-31|
|10951|2016-03-16|68|9|2016-12-31|
|10952|2016-03-16|1|1|2016-12-31|
|10953|2016-03-16|4|9|2016-12-31|
|10954|2016-03-17|47|5|2016-12-31|
|10955|2016-03-17|24|8|2016-12-31|
|10956|2016-03-17|6|6|2016-12-31|
|10957|2016-03-18|35|8|2016-12-31|
|10958|2016-03-18|54|7|2016-12-31|
|10959|2016-03-18|31|6|2016-12-31|
|10960|2016-03-19|35|3|2016-12-31|
|10961|2016-03-19|62|8|2016-12-31|
|10962|2016-03-19|63|8|2016-12-31|
|10963|2016-03-19|28|9|2016-12-31|
|10964|2016-03-20|74|3|2016-12-31|
|10965|2016-03-20|55|6|2016-12-31|
|10966|2016-03-20|14|4|2016-12-31|
|10967|2016-03-23|79|2|2016-12-31|
|10968|2016-03-23|20|1|2016-12-31|
|10969|2016-03-23|15|1|2016-12-31|
|10970|2016-03-24|8|9|2016-12-31|
|10971|2016-03-24|26|2|2016-12-31|
|10972|2016-03-24|40|4|2016-12-31|
|10973|2016-03-24|40|6|2016-12-31|
|10974|2016-03-25|75|3|2016-12-31|
|10975|2016-03-25|10|1|2016-12-31|
|10976|2016-03-25|35|1|2016-12-31|
|10977|2016-03-26|24|8|2016-12-31|
|10978|2016-03-26|50|9|2016-12-31|
|10979|2016-03-26|20|8|2016-12-31|
|10980|2016-03-27|24|4|2016-12-31|
|10981|2016-03-27|34|1|2016-12-31|
|10982|2016-03-27|10|2|2016-12-31|
|10983|2016-03-27|71|2|2016-12-31|
|10984|2016-03-30|71|1|2016-12-31|
|10985|2016-03-30|37|2|2016-12-31|
|10986|2016-03-30|54|8|2016-12-31|
|10987|2016-03-31|19|8|2016-12-31|
|10988|2016-03-31|65|3|2016-12-31|
|10989|2016-03-31|61|2|2016-12-31|
|10990|2016-04-01|20|2|2016-12-31|
|10991|2016-04-01|63|1|2016-12-31|
|10992|2016-04-01|77|1|2016-12-31|
|10993|2016-04-01|24|7|2016-12-31|
|10994|2016-04-02|83|2|2016-12-31|
|10995|2016-04-02|58|1|2016-12-31|
|10996|2016-04-02|63|4|2016-12-31|
|10997|2016-04-03|46|8|2016-12-31|
|10998|2016-04-03|91|8|2016-12-31|
|10999|2016-04-03|56|6|2016-12-31|
|11000|2016-04-06|65|2|2016-12-31|
|11001|2016-04-06|24|2|2016-12-31|
|11002|2016-04-06|71|4|2016-12-31|
|11003|2016-04-06|78|3|2016-12-31|
|11004|2016-04-07|50|3|2016-12-31|
|11005|2016-04-07|90|2|2016-12-31|
|11006|2016-04-07|32|3|2016-12-31|
|11007|2016-04-08|60|8|2016-12-31|
|11008|2016-04-08|20|7|2016-12-31|
|11009|2016-04-08|30|2|2016-12-31|
|11010|2016-04-09|66|2|2016-12-31|
|11011|2016-04-09|1|3|2016-12-31|
|11012|2016-04-09|25|1|2016-12-31|
|11013|2016-04-09|69|2|2016-12-31|
|11014|2016-04-10|47|2|2016-12-31|
|11015|2016-04-10|70|2|2016-12-31|
|11016|2016-04-10|4|9|2016-12-31|
|11017|2016-04-13|20|9|2016-12-31|
|11018|2016-04-13|48|4|2016-12-31|
|11019|2016-04-13|64|6|2016-12-31|
|11020|2016-04-14|56|2|2016-12-31|
|11021|2016-04-14|63|3|2016-12-31|
|11022|2016-04-14|34|9|2016-12-31|
|11023|2016-04-14|11|1|2016-12-31|
|11024|2016-04-15|19|4|2016-12-31|
|11025|2016-04-15|87|6|2016-12-31|
|11026|2016-04-15|27|4|2016-12-31|
|11027|2016-04-16|10|1|2016-12-31|
|11028|2016-04-16|39|2|2016-12-31|
|11029|2016-04-16|14|4|2016-12-31|
|11030|2016-04-17|71|7|2016-12-31|
|11031|2016-04-17|71|6|2016-12-31|
|11032|2016-04-17|89|2|2016-12-31|
|11033|2016-04-17|68|7|2016-12-31|
|11034|2016-04-20|55|8|2016-12-31|
|11035|2016-04-20|76|2|2016-12-31|
|11036|2016-04-20|17|8|2016-12-31|
|11037|2016-04-21|30|7|2016-12-31|
|11038|2016-04-21|76|1|2016-12-31|
|11039|2016-04-21|47|1|2016-12-31|
|11040|2016-04-22|32|4|2016-12-31|
|11041|2016-04-22|14|3|2016-12-31|
|11042|2016-04-22|15|2|2016-12-31|
|11043|2016-04-22|74|5|2016-12-31|
|11044|2016-04-23|91|4|2016-12-31|
|11045|2016-04-23|10|6|2016-12-31|
|11046|2016-04-23|86|8|2016-12-31|
|11047|2016-04-24|19|7|2016-12-31|
|11048|2016-04-24|10|7|2016-12-31|
|11049|2016-04-24|31|3|2016-12-31|
|11050|2016-04-27|24|8|2016-12-31|
|11051|2016-04-27|41|7|2016-12-31|
|11052|2016-04-27|34|3|2016-12-31|
|11053|2016-04-27|59|2|2016-12-31|
|11054|2016-04-28|12|8|2016-12-31|
|11055|2016-04-28|35|7|2016-12-31|
|11056|2016-04-28|19|8|2016-12-31|
|11057|2016-04-29|53|3|2016-12-31|
|11058|2016-04-29|6|9|2016-12-31|
|11059|2016-04-29|67|2|2016-12-31|
|11060|2016-04-30|27|2|2016-12-31|
|11061|2016-04-30|32|4|2016-12-31|
|11062|2016-04-30|66|4|2016-12-31|
|11063|2016-04-30|37|3|2016-12-31|
|11064|2016-05-01|71|1|2016-12-31|
|11065|2016-05-01|46|8|2016-12-31|
|11066|2016-05-01|89|7|2016-12-31|
|11067|2016-05-04|17|1|2016-12-31|
|11068|2016-05-04|62|8|2016-12-31|
|11069|2016-05-04|80|1|2016-12-31|
|11070|2016-05-05|44|2|2016-12-31|
|11071|2016-05-05|46|1|2016-12-31|
|11072|2016-05-05|20|4|2016-12-31|
|11073|2016-05-05|58|2|2016-12-31|
|11074|2016-05-06|73|7|2016-12-31|
|11075|2016-05-06|68|8|2016-12-31|
|11076|2016-05-06|9|4|2016-12-31|
|11077|2016-05-06|65|1|2016-12-31|

In [ ]:

-----------------------------------------------------------
--TSQLV4
-----------------------------------------------------------

--USE TSQLV4;

--SELECT orderid, orderdate, custid, empid,
--DATEFROMPARTS(YEAR(orderdate), 12, 31) AS endofyear
--FROM Sales.Orders
--WHERE orderdate <> endofyear;

-----------------------------------------------------------
--Northwinds2022TSQLV7
-----------------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT OrderID, OrderDate, CustomerID, EmployeeID,
DATEFROMPARTS(YEAR(orderdate), 12, 31) AS endofyear
FROM Sales.[Order]
WHERE orderdate <> endofyear;

When you try to run this query, you get the following error:

```
Msg 207, Level 16, State 1, Line 233Invalid column name 'endofyear'. 

```

Explain what the problem is, and suggest a valid solution.

## **_Answer:_**

               In the code given to us we see that in the _SELECT_ clause that orderid, orderdate, custid, and empid with the function of getting the last day of year from orderdate is defined as _endofyear._ However, if we look at the last line, in the _WHERE_ clause endofyear is used again. Due to logical-query processing order of SQL, there is a certain order on where which statement can reference a column alias from another statement. According to the logical-query processing order, the _WHERE_ statement comes before _SELECT_ statement. Overall, _WHERE_ is not allowed to in this case reference the alias endofyear from the _SELECT_ statement. However, this can be fixed looking at the example below.

In [ ]:

-----------------------------------------------------------
--TSQLV4
-----------------------------------------------------------

--USE TSQLV4;

--WITH Cte AS
--    (
--    SELECT *,
--        DATEFROMPARTS(YEAR(orderdate), 12, 31) AS endofyear
--    FROM Sales.Orders
--    )
--SELECT orderid, orderdate, custid, empid, endofyear
--FROM Cte
--WHERE orderdate <> endofyear;

-----------------------------------------------------------
--Northwinds2022TSQLV7
-----------------------------------------------------------

USE Northwinds2022TSQLV7;

WITH Cte AS
    (
    SELECT *,
        DATEFROMPARTS(YEAR(OrderDate), 12, 31) AS endofyear
    FROM Sales.[Order]
    )
SELECT OrderID, OrderDate, CustomerId, EmployeeId, endofyear
FROM Cte
WHERE OrderDate <> endofyear;

           In the solution above, we were able to achieve the results the question wanted without having a logical-query processing order error by using a CTE (Common Table Expression). Using the _WITH_ statement will create the CTE or basically a temporary table, in this table we _SELECT_ every column including the rows having the last day of the oderdate year _FROM_ Sales.Orders having the endofyear as alias. Now outside of the CTE we can _SELECT_ our order's information including the endofyear _FROM_ the CTE. Now we are able to use endofyear in our _WHERE_ statement which will print all order's that does not include the endofyear(last day of the year). By manipulating our code with making SQL think endofyear is a column and not a alias, we are just simply able to use endofyear as a column and are able to use it in our _WHERE_ statement error free.

# **Proposition**

## _<u>Chapter 4 Example Scalar Subquery</u>_

- Write a query that returns order's information with the maximum order ID;
- Provided tables: Sales.Orders TSQLV4
- Desired output:

**TSQLV4:**

| orderid | orderdate | empid | custid |
| --- | --- | --- | --- |
| 11077 | 2016-05-06 | 1 | 65 |

**Northwinds2022TSQLV4:**

| OrderID | OrderDate | EmployeeID | CustomerID |
| --- | --- | --- | --- |
| 11077 | 2016-05-06 | 1 | 65 |

In [ ]:
-----------------------------------------------------------
--TSQLV4
-----------------------------------------------------------

--USE TSQLV4;

--DECLARE @maxid AS INT = (SELECT MAX(orderid) 
--                         FROM Sales.Orders);

--SELECT orderid, orderdate, empid, custid 
--FROM Sales.Orders 
--WHERE orderid = @maxid;

-----------------------------------------------------------
--Northwinds2022TSQLV7
-----------------------------------------------------------

USE Northwinds2022TSQLV7;

DECLARE @MaximumID AS INT = (SELECT MAX(OrderId) 
                             FROM Sales.[Order]);

SELECT OrderId, OrderDate, EmployeeId, CustomerId 
FROM Sales.[Order] 
WHERE OrderId = @MaximumID;

## **Explanation:**

Above we were asked to make a query with order's information but the orderID must be the maximum value. In the table we end up getting only one result due to orderid being unique which is the largest value. To achieve this in the code, we must first _DECLARE_ a varible we will call maxid and it will be intilizied _AS_ a _INT_ since its a numeric digit. This variable (maxid) will equal a subquery containing a _SELECT_ statement that will use a function to get the _MAX_ value out of our orderID which will come _FROM_ the Sales.Orders table. Now that we declared our variable using a subquery, we can continue normally writing a query that will return our order information however we will filter the results by using a _WHERE_ statement that will have our orderid = the maxid variable.

## _<u>Chapter 4 Example Inner-Join Compared to Subqueries</u>_

- Write a query that returns all orderID placed by employees with a last name starting with the letter D
- Provided tables: HR.Employees and Sales.Orders TSQLV4
- Desired Output:

**TSQLV4:**

| orderid |
| --- |
| 10258 |
| 10270 |
| 10275 |
| 10285 |
| 10292 |
| 10293 |
| 10304 |
| 10306 |
| 10311 |
| 10314 |
| 10316 |
| 10325 |
| 10340 |
| 10351 |
| 10357 |
| 10361 |
| 10364 |
| 10371 |
| 10374 |
| 10376 |
| 10377 |
| 10385 |
| 10387 |
| 10393 |
| 10394 |
| 10396 |
| 10400 |
| 10401 |
| 10405 |
| 10453 |
| 10461 |
| 10465 |
| 10469 |
| 10473 |
| 10482 |
| 10486 |
| 10508 |
| 10524 |
| 10525 |
| 10537 |
| 10542 |
| 10546 |
| 10558 |
| 10562 |
| 10567 |
| 10579 |
| 10587 |
| 10591 |
| 10598 |
| 10604 |
| 10605 |
| 10612 |
| 10616 |
| 10618 |
| 10626 |
| 10630 |
| 10653 |
| 10655 |
| 10664 |
| 10665 |
| 10668 |
| 10671 |
| 10677 |
| 10680 |
| 10689 |
| 10690 |
| 10709 |
| 10710 |
| 10713 |
| 10717 |
| 10718 |
| 10733 |
| 10743 |
| 10746 |
| 10773 |
| 10776 |
| 10785 |
| 10788 |
| 10789 |
| 10792 |
| 10800 |
| 10813 |
| 10821 |
| 10825 |
| 10827 |
| 10834 |
| 10835 |
| 10842 |
| 10850 |
| 10859 |
| 10877 |
| 10886 |
| 10888 |
| 10894 |
| 10900 |
| 10902 |
| 10909 |
| 10910 |
| 10916 |
| 10921 |
| 10928 |
| 10946 |
| 10950 |
| 10952 |
| 10968 |
| 10969 |
| 10975 |
| 10976 |
| 10981 |
| 10984 |
| 10991 |
| 10992 |
| 10995 |
| 11012 |
| 11023 |
| 11027 |
| 11038 |
| 11039 |
| 11064 |
| 11067 |
| 11069 |
| 11071 |
| 11077 |
| 10255 |
| 10263 |
| 10324 |
| 10331 |
| 10386 |
| 10411 |
| 10475 |
| 10501 |
| 10506 |
| 10538 |
| 10557 |
| 10566 |
| 10577 |
| 10586 |
| 10646 |
| 10672 |
| 10687 |
| 10705 |
| 10736 |
| 10745 |
| 10750 |
| 10771 |
| 10782 |
| 10799 |
| 10828 |
| 10829 |
| 10837 |
| 10849 |
| 10853 |
| 10871 |
| 10889 |
| 10893 |
| 10905 |
| 10942 |
| 10951 |
| 10953 |
| 10963 |
| 10970 |
| 10978 |
| 11016 |
| 11017 |
| 11022 |
| 11058 |

**Northwinds2022TSQLV7:**

| OrderID |
| --- |
| 10258 |
| 10270 |
| 10275 |
| 10285 |
| 10292 |
| 10293 |
| 10304 |
| 10306 |
| 10311 |
| 10314 |
| 10316 |
| 10325 |
| 10340 |
| 10351 |
| 10357 |
| 10361 |
| 10364 |
| 10371 |
| 10374 |
| 10376 |
| 10377 |
| 10385 |
| 10387 |
| 10393 |
| 10394 |
| 10396 |
| 10400 |
| 10401 |
| 10405 |
| 10453 |
| 10461 |
| 10465 |
| 10469 |
| 10473 |
| 10482 |
| 10486 |
| 10508 |
| 10524 |
| 10525 |
| 10537 |
| 10542 |
| 10546 |
| 10558 |
| 10562 |
| 10567 |
| 10579 |
| 10587 |
| 10591 |
| 10598 |
| 10604 |
| 10605 |
| 10612 |
| 10616 |
| 10618 |
| 10626 |
| 10630 |
| 10653 |
| 10655 |
| 10664 |
| 10665 |
| 10668 |
| 10671 |
| 10677 |
| 10680 |
| 10689 |
| 10690 |
| 10709 |
| 10710 |
| 10713 |
| 10717 |
| 10718 |
| 10733 |
| 10743 |
| 10746 |
| 10773 |
| 10776 |
| 10785 |
| 10788 |
| 10789 |
| 10792 |
| 10800 |
| 10813 |
| 10821 |
| 10825 |
| 10827 |
| 10834 |
| 10835 |
| 10842 |
| 10850 |
| 10859 |
| 10877 |
| 10886 |
| 10888 |
| 10894 |
| 10900 |
| 10902 |
| 10909 |
| 10910 |
| 10916 |
| 10921 |
| 10928 |
| 10946 |
| 10950 |
| 10952 |
| 10968 |
| 10969 |
| 10975 |
| 10976 |
| 10981 |
| 10984 |
| 10991 |
| 10992 |
| 10995 |
| 11012 |
| 11023 |
| 11027 |
| 11038 |
| 11039 |
| 11064 |
| 11067 |
| 11069 |
| 11071 |
| 11077 |
| 10255 |
| 10263 |
| 10324 |
| 10331 |
| 10386 |
| 10411 |
| 10475 |
| 10501 |
| 10506 |
| 10538 |
| 10557 |
| 10566 |
| 10577 |
| 10586 |
| 10646 |
| 10672 |
| 10687 |
| 10705 |
| 10736 |
| 10745 |
| 10750 |
| 10771 |
| 10782 |
| 10799 |
| 10828 |
| 10829 |
| 10837 |
| 10849 |
| 10853 |
| 10871 |
| 10889 |
| 10893 |
| 10905 |
| 10942 |
| 10951 |
| 10953 |
| 10963 |
| 10970 |
| 10978 |
| 11016 |
| 11017 |
| 11022 |
| 11058 |

In [ ]:

-------------------------------------------------
--TSQLV4
-------------------------------------------------

--USE TSQLV4;

--SELECT O.orderid 
--FROM HR.Employees AS E 
--  INNER JOIN Sales.Orders AS O 
--    ON E.empid = O.empid 
--WHERE E.lastname LIKE N'D%';

-------------------------------------------------
--Northwinds2022TSQLV7
-------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT O.orderid 
FROM HumanResources.[Employee] AS E 
  INNER JOIN Sales.[Order] AS O 
    ON E.EmployeeID = O.EmployeeId
WHERE E.EmployeeLastName LIKE N'D%';

## **Explanation:**

                The question asked us to write a query to return all orderid that were made by a employee who's last name begins with the letter D. To achieve this we will only _SELECT_ orderID with its alias being defined _AS_ O from Sales.Orders. We also need the HR.Employees table defined _AS_ E because we need to _INNER JOIN_ with the Sales.Orders table to find correlating orders with employees. This is where we use _ON_ statement to make sure our employee id from HR.Employees match with our employee id from the Sales.Order table. Finally we filter by using a _WHERE_ statement to find the employees lastname from the HR.Employees table but we use the _LIKE_ function to search a specified pattern where in our case we use 'N' prefix (indicating it will be in Unicode format) and that our letter will 'D' as the first letter and '%' meaning it will be zero or more characters.

# _<u>Chapter 4 Correlated Subqueries</u>_

- Write a query that will return the largest orderId where the customer's id is 85
- Provided tables: Sales.Orders TSQLV4
- Desired Output:

**TSQLV4**:

|orderid|
|---|
|10248|

**Northwinds2022TSQLV7**:

|OrderId|
|---|
|10248|

In [ ]:

----------------------------------------------------------------------------
--TSQLV4
----------------------------------------------------------------------------

--USE TSQLV4;


--SELECT MAX(O2.orderid)
--FROM Sales.Orders AS O2
--WHERE O2.custid = 85;

---------------------------------------------------------------------------
--Northwinds2022TSQLV4
----------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT MAX(O2.OrderID)
FROM Sales.[Order] AS O2
WHERE O2.CustomerId = 85;

## **Explanation:** 

The question generally asks us to write a query that will get the maximum orderid of a customer with his or her id being 85. There are times where a single customer may have multiple orders so we want to find the one with the largest id number. We first find the MAX of orderid which will recieve that information FROM Sales.Orders table. We then filter thr custid from Sales.Orders table where it must equal 85. This can be generally be useful if the company wants to look at orders for a certain customer.

## _<u>Chapter 4 NULL trouble</u>_

- Insert into the Sales.Orders table a new row where we dont have a customer, we have a employee with the id as 1, order date, required date, and shipped date all set to February 12, 2022,  shipper id is 1, the freight price being $123.00, and shipping details with ship name, address, city, region, postal code, and country all set to 'abc'?
- Provided tables: Sales.Orders TSQLV4
- Desired Output:

**TSQLV4:**

| custid | empid | orderdate | requireddate | shippeddate | shipperid | freight | shipname | shipaddress | shipcity | shipregion | shippostalcode | shipcountry |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| NULL | 1 | 20220212 | 20220212 | 20220212 | 1 | 123.00 | abc | abc | abc | abc | abc | abc |

**Northwinds2022TSQLV7:**

| CustomerId | EmployeeId | OrderDate | RequiredDate | ShipToDate | ShipperId | Freight | ShipToName | ShipToAddress | ShipToCity | ShipToRegion | ShipToPostalCode | ShipToCountry |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| NULL | 1 | 20220212 | 20220212 | 20220212 | 1 | 123.00 | abc | abc | abc | abc | abc | abc |

In [ ]:

----------------------------------------------------------------------------
--TSQLV4
----------------------------------------------------------------------------

--USE TSQLV4;

--INSERT INTO Sales.Orders
--  (custid, empid, orderdate, requireddate, shippeddate, shipperid,
--   freight, shipname, shipaddress, shipcity, shipregion,
--   shippostalcode, shipcountry)
--  VALUES(NULL, 1, '20220212', '20220212',
--         '20220212', 1, 123.00, N'abc', N'abc', N'abc',
--         N'abc', N'abc', N'abc');

----------------------------------------------------------------------------
--Northwinds2022TSQLV7
----------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

INSERT INTO Sales.[Order]
  (CustomerId, EmployeeId, OrderDate, RequiredDate, ShipToDate, ShipperId,
   Freight, ShipToName, ShipToAddress, ShipToCity, ShipToRegion,
   ShipToPostalCode, ShipToCountry)
  VALUES(NULL, 1, '20220212', '20220212',
         '20220212', 1, 123.00, N'abc', N'abc', N'abc',
         N'abc', N'abc', N'abc');

## **Explanation:**

The question asked us to enter a new row into Sales.Orders with the required information provided to us above. In the code, we INSERT INTO Sales.Orders table while in parenthesis we indicate all attributes in Sales.Orders which include custid, empid, orderdate, requireddate, shippeddate, shipperid, freight, shipname, shipaddress, shipcity, shipregion, shippostalcode, shipcountry. Then we indicate the VALUES which in parenthesis includes NULL, 1, '20220212', '20220212','20220212', 1, 123.00, N'abc', N'abc', N'abc',N'abc', N'abc', N'abc' and these all correlate with the attributes in that order. The N also indicates it will be a Unicode. This code will overall add a new row into our table. This can be useful to learn more about Insertion when it comes to sql and how having NULL on certain primary keys can cause a problem in the database.

## _<u>Chapter 4 Null Trouble:</u>_

- Write a query that will return all customer ids and Company name that are NOT in the Sales.Orders table. Following returns an empty set.
- Tables Included: Sales.Customers TSQLV4
- Desired Output:

**TSQLV4:**

| custid | companyname |
| --- | --- |
|  |  |

**Northwinds2022TSQLV7:**

| CustomerID | CustomerCompanyName |
| --- | --- |
|  |  |

In [ ]:

----------------------------------------------------------------------------
--TSQLV4
----------------------------------------------------------------------------

--USE TSQLV4;

--SELECT custid, companyname 
--FROM Sales.Customers 
--WHERE custid NOT IN(SELECT O.custid FROM Sales.Orders AS O);

----------------------------------------------------------------------------
--Northwinds2022TSQLV7
----------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT CustomerID, CustomerCompanyName 
FROM Sales.[Customer]
WHERE CustomerID NOT IN(SELECT O.CustomerID FROM Sales.[Order] AS O);

## **Explanation:**

  The code above, we would first SELECT the custid, companyname FROM the Sales.Customers table. However, we will filter the results by including WHERE custid will NOT IN which means will not be in and will equal a subquery. This subquery is where we select all custid FROM Sales.Orders and defined as O. However, we will get a empty result due to the fact that there are customer id that are NULL and since we used NOT IN against a subquery that has at least one NULL, it will return a empty set. This query could be useful to understand more about subquery and NOT IN statement, also for a company to see if they have any errors in the database where there are customers without a ID.

# _Chapter 5_

- Write a query that will return the 3 most recent orders for each customer.
- Tables Involved: Sales.Customers, Sales.Orders TSQLV4
- Desired Output:

**TSQLV4:**

| custid | orderid | orderdate |
| --- | --- | --- |
| 1 | 11011 | 2016-04-09 |
| 1 | 10952 | 2016-03-16 |
| 1 | 10835 | 2016-01-15 |
| 2 | 10926 | 2016-03-04 |
| 2 | 10759 | 2015-11-28 |
| 2 | 10625 | 2015-08-08 |
| 3 | 10856 | 2016-01-28 |
| 3 | 10682 | 2015-09-25 |
| 3 | 10677 | 2015-09-22 |
| 4 | 11016 | 2016-04-10 |
| 4 | 10953 | 2016-03-16 |
| 4 | 10920 | 2016-03-03 |
| 5 | 10924 | 2016-03-04 |
| 5 | 10875 | 2016-02-06 |
| 5 | 10866 | 2016-02-03 |
| 6 | 11058 | 2016-04-29 |
| 6 | 10956 | 2016-03-17 |
| 6 | 10853 | 2016-01-27 |
| 7 | 10826 | 2016-01-12 |
| 7 | 10679 | 2015-09-23 |
| 7 | 10628 | 2015-08-12 |
| 8 | 10970 | 2016-03-24 |
| 8 | 10801 | 2015-12-29 |
| 8 | 10326 | 2014-10-10 |
| 9 | 11076 | 2016-05-06 |
| 9 | 10940 | 2016-03-11 |
| 9 | 10932 | 2016-03-06 |
| 11 | 11023 | 2016-04-14 |
| 11 | 10947 | 2016-03-13 |
| 11 | 10943 | 2016-03-11 |
| 12 | 11054 | 2016-04-28 |
| 12 | 10937 | 2016-03-10 |
| 12 | 10881 | 2016-02-11 |
| 13 | 10259 | 2014-07-18 |
| 14 | 11041 | 2016-04-22 |
| 14 | 11029 | 2016-04-16 |
| 14 | 10966 | 2016-03-20 |
| 16 | 10848 | 2016-01-23 |
| 16 | 10462 | 2015-03-03 |
| 16 | 10435 | 2015-02-04 |
| 17 | 11067 | 2016-05-04 |
| 17 | 11036 | 2016-04-20 |
| 17 | 10825 | 2016-01-09 |
| 18 | 10890 | 2016-02-16 |
| 18 | 10683 | 2015-09-26 |
| 18 | 10609 | 2015-07-24 |
| 19 | 11056 | 2016-04-28 |
| 19 | 11047 | 2016-04-24 |
| 19 | 11024 | 2016-04-15 |
| 20 | 11072 | 2016-05-05 |
| 20 | 11017 | 2016-04-13 |
| 20 | 11008 | 2016-04-08 |
| 23 | 10789 | 2015-12-22 |
| 23 | 10763 | 2015-12-03 |
| 23 | 10634 | 2015-08-15 |
| 24 | 11050 | 2016-04-27 |
| 24 | 11001 | 2016-04-06 |
| 24 | 10993 | 2016-04-01 |
| 25 | 11012 | 2016-04-09 |
| 25 | 10929 | 2016-03-05 |
| 25 | 10859 | 2016-01-29 |
| 26 | 10971 | 2016-03-24 |
| 26 | 10860 | 2016-01-29 |
| 26 | 10671 | 2015-09-17 |
| 27 | 11060 | 2016-04-30 |
| 27 | 11026 | 2016-04-15 |
| 27 | 10807 | 2015-12-31 |
| 28 | 10963 | 2016-03-19 |
| 28 | 10664 | 2015-09-10 |
| 28 | 10604 | 2015-07-18 |
| 29 | 10928 | 2016-03-05 |
| 29 | 10887 | 2016-02-13 |
| 29 | 10568 | 2015-06-13 |
| 30 | 11037 | 2016-04-21 |
| 30 | 11009 | 2016-04-08 |
| 30 | 10948 | 2016-03-13 |
| 39 | 11028 | 2016-04-16 |
| 39 | 10893 | 2016-02-18 |
| 39 | 10849 | 2016-01-23 |
| 40 | 10973 | 2016-03-24 |
| 40 | 10972 | 2016-03-24 |
| 40 | 10927 | 2016-03-05 |
| 41 | 11051 | 2016-04-27 |
| 41 | 10923 | 2016-03-03 |
| 41 | 10832 | 2016-01-14 |
| 44 | 11070 | 2016-05-05 |
| 44 | 10934 | 2016-03-09 |
| 44 | 10891 | 2016-02-17 |
| 49 | 10950 | 2016-03-16 |
| 49 | 10939 | 2016-03-10 |
| 49 | 10818 | 2016-01-07 |
| 50 | 11004 | 2016-04-07 |
| 50 | 10978 | 2016-03-26 |
| 50 | 10896 | 2016-02-19 |
| 52 | 10945 | 2016-03-12 |
| 52 | 10779 | 2015-12-16 |
| 52 | 10699 | 2015-10-09 |
| 53 | 11057 | 2016-04-29 |
| 53 | 10752 | 2015-11-24 |
| 53 | 10517 | 2015-04-24 |
| 54 | 10986 | 2016-03-30 |
| 54 | 10958 | 2016-03-18 |
| 54 | 10898 | 2016-02-20 |
| 56 | 11020 | 2016-04-14 |
| 56 | 10999 | 2016-04-03 |
| 56 | 10833 | 2016-01-15 |
| 58 | 11073 | 2016-05-05 |
| 58 | 10995 | 2016-04-02 |
| 58 | 10502 | 2015-04-10 |
| 59 | 11053 | 2016-04-27 |
| 59 | 10844 | 2016-01-21 |
| 59 | 10747 | 2015-11-19 |
| 60 | 11007 | 2016-04-08 |
| 60 | 10477 | 2015-03-17 |
| 60 | 10433 | 2015-02-03 |
| 63 | 11021 | 2016-04-14 |
| 63 | 10996 | 2016-04-02 |
| 63 | 10991 | 2016-04-01 |
| 64 | 11019 | 2016-04-13 |
| 64 | 10916 | 2016-02-27 |
| 64 | 10828 | 2016-01-13 |
| 66 | 11062 | 2016-04-30 |
| 66 | 11010 | 2016-04-09 |
| 66 | 10942 | 2016-03-11 |
| 68 | 11075 | 2016-05-06 |
| 68 | 11033 | 2016-04-17 |
| 68 | 10951 | 2016-03-16 |
| 69 | 11013 | 2016-04-09 |
| 69 | 10917 | 2016-03-02 |
| 69 | 10306 | 2014-09-16 |
| 70 | 11015 | 2016-04-10 |
| 70 | 10909 | 2016-02-26 |
| 70 | 10831 | 2016-01-14 |
| 72 | 10869 | 2016-02-04 |
| 72 | 10804 | 2015-12-30 |
| 72 | 10800 | 2015-12-26 |
| 73 | 11074 | 2016-05-06 |
| 73 | 10802 | 2015-12-29 |
| 73 | 10669 | 2015-09-15 |
| 74 | 11043 | 2016-04-22 |
| 74 | 10964 | 2016-03-20 |
| 74 | 10907 | 2016-02-25 |
| 76 | 11038 | 2016-04-21 |
| 76 | 11035 | 2016-04-20 |
| 76 | 10930 | 2016-03-06 |
| 79 | 10967 | 2016-03-23 |
| 79 | 10608 | 2015-07-23 |
| 79 | 10548 | 2015-05-26 |
| 80 | 11069 | 2016-05-04 |
| 80 | 10915 | 2016-02-27 |
| 80 | 10842 | 2016-01-20 |
| 83 | 10994 | 2016-04-02 |
| 83 | 10946 | 2016-03-12 |
| 83 | 10921 | 2016-03-03 |
| 84 | 10850 | 2016-01-23 |
| 84 | 10843 | 2016-01-21 |
| 84 | 10814 | 2016-01-05 |
| 85 | 10739 | 2015-11-12 |
| 85 | 10737 | 2015-11-11 |
| 85 | 10295 | 2014-09-02 |
| 86 | 11046 | 2016-04-23 |
| 86 | 10668 | 2015-09-15 |
| 86 | 10651 | 2015-09-01 |
| 87 | 11025 | 2016-04-15 |
| 87 | 10781 | 2015-12-17 |
| 87 | 10750 | 2015-11-21 |
| 90 | 11005 | 2016-04-07 |
| 90 | 10910 | 2016-02-26 |
| 90 | 10879 | 2016-02-10 |
| 91 | 11044 | 2016-04-23 |
| 91 | 10998 | 2016-04-03 |
| 91 | 10906 | 2016-02-25 |
| 55 | 11034 | 2016-04-20 |
| 55 | 10965 | 2016-03-20 |
| 55 | 10855 | 2016-01-27 |
| 10 | 11048 | 2016-04-24 |
| 10 | 11045 | 2016-04-23 |
| 10 | 11027 | 2016-04-16 |
| 42 | 10810 | 2016-01-01 |
| 42 | 10620 | 2015-08-05 |
| 42 | 10495 | 2015-04-03 |
| 45 | 10884 | 2016-02-12 |
| 45 | 10735 | 2015-11-10 |
| 45 | 10719 | 2015-10-27 |
| 37 | 11063 | 2016-04-30 |
| 37 | 10985 | 2016-03-30 |
| 37 | 10912 | 2016-02-26 |
| 33 | 10785 | 2015-12-18 |
| 33 | 10268 | 2014-07-30 |
| 71 | 11064 | 2016-05-01 |
| 71 | 11031 | 2016-04-17 |
| 71 | 11030 | 2016-04-17 |
| 38 | 10933 | 2016-03-06 |
| 38 | 10829 | 2016-01-13 |
| 38 | 10798 | 2015-12-26 |
| 46 | 11071 | 2016-05-05 |
| 46 | 11065 | 2016-05-01 |
| 46 | 10997 | 2016-04-03 |
| 78 | 11003 | 2016-04-06 |
| 78 | 10775 | 2015-12-12 |
| 78 | 10624 | 2015-08-07 |
| 65 | 11077 | 2016-05-06 |
| 65 | 11000 | 2016-04-06 |
| 65 | 10988 | 2016-03-31 |
| 47 | 11039 | 2016-04-21 |
| 47 | 11014 | 2016-04-10 |
| 47 | 10954 | 2016-03-17 |
| 32 | 11061 | 2016-04-30 |
| 32 | 11040 | 2016-04-22 |
| 32 | 11006 | 2016-04-07 |
| 36 | 10660 | 2015-09-08 |
| 36 | 10600 | 2015-07-16 |
| 36 | 10415 | 2015-01-15 |
| 48 | 11018 | 2016-04-13 |
| 48 | 10883 | 2016-02-12 |
| 48 | 10867 | 2016-02-03 |
| 77 | 10992 | 2016-04-01 |
| 77 | 10805 | 2015-12-30 |
| 77 | 10708 | 2015-10-17 |
| 51 | 10724 | 2015-10-30 |
| 51 | 10619 | 2015-08-04 |
| 51 | 10618 | 2015-08-01 |
| 34 | 11052 | 2016-04-27 |
| 34 | 11022 | 2016-04-14 |
| 34 | 10981 | 2016-03-27 |
| 61 | 10989 | 2016-03-31 |
| 61 | 10794 | 2015-12-24 |
| 61 | 10720 | 2015-10-28 |
| 67 | 11059 | 2016-04-29 |
| 67 | 10877 | 2016-02-09 |
| 67 | 10851 | 2016-01-26 |
| 15 | 11042 | 2016-04-22 |
| 15 | 10969 | 2016-03-23 |
| 15 | 10494 | 2015-04-02 |
| 21 | 10725 | 2015-10-31 |
| 21 | 10650 | 2015-08-29 |
| 21 | 10581 | 2015-06-26 |
| 31 | 11049 | 2016-04-24 |
| 31 | 10959 | 2016-03-18 |
| 31 | 10790 | 2015-12-22 |
| 62 | 11068 | 2016-05-04 |
| 62 | 10961 | 2016-03-19 |
| 62 | 10914 | 2016-02-27 |
| 81 | 10839 | 2016-01-19 |
| 81 | 10834 | 2016-01-15 |
| 81 | 10830 | 2016-01-13 |
| 88 | 10935 | 2016-03-09 |
| 88 | 10905 | 2016-02-24 |
| 88 | 10900 | 2016-02-20 |
| 35 | 11055 | 2016-04-28 |
| 35 | 10976 | 2016-03-25 |
| 35 | 10960 | 2016-03-19 |
| 43 | 10545 | 2015-05-22 |
| 43 | 10482 | 2015-03-21 |
| 82 | 10822 | 2016-01-08 |
| 82 | 10577 | 2015-06-23 |
| 82 | 10574 | 2015-06-19 |
| 89 | 11066 | 2016-05-01 |
| 89 | 11032 | 2016-04-17 |
| 89 | 10904 | 2016-02-24 |
| 75 | 10974 | 2016-03-25 |
| 75 | 10821 | 2016-01-08 |
| 75 | 10756 | 2015-11-27 |

**Northwinds2022TSQLV7:**

| CustomerID | OrderID | OrderDate |
| --- | --- | --- |
| 1 | 11011 | 2016-04-09 |
| 1 | 10952 | 2016-03-16 |
| 1 | 10835 | 2016-01-15 |
| 2 | 10926 | 2016-03-04 |
| 2 | 10759 | 2015-11-28 |
| 2 | 10625 | 2015-08-08 |
| 3 | 10856 | 2016-01-28 |
| 3 | 10682 | 2015-09-25 |
| 3 | 10677 | 2015-09-22 |
| 4 | 11016 | 2016-04-10 |
| 4 | 10953 | 2016-03-16 |
| 4 | 10920 | 2016-03-03 |
| 5 | 10924 | 2016-03-04 |
| 5 | 10875 | 2016-02-06 |
| 5 | 10866 | 2016-02-03 |
| 6 | 11058 | 2016-04-29 |
| 6 | 10956 | 2016-03-17 |
| 6 | 10853 | 2016-01-27 |
| 7 | 10826 | 2016-01-12 |
| 7 | 10679 | 2015-09-23 |
| 7 | 10628 | 2015-08-12 |
| 8 | 10970 | 2016-03-24 |
| 8 | 10801 | 2015-12-29 |
| 8 | 10326 | 2014-10-10 |
| 9 | 11076 | 2016-05-06 |
| 9 | 10940 | 2016-03-11 |
| 9 | 10932 | 2016-03-06 |
| 11 | 11023 | 2016-04-14 |
| 11 | 10947 | 2016-03-13 |
| 11 | 10943 | 2016-03-11 |
| 12 | 11054 | 2016-04-28 |
| 12 | 10937 | 2016-03-10 |
| 12 | 10881 | 2016-02-11 |
| 13 | 10259 | 2014-07-18 |
| 14 | 11041 | 2016-04-22 |
| 14 | 11029 | 2016-04-16 |
| 14 | 10966 | 2016-03-20 |
| 16 | 10848 | 2016-01-23 |
| 16 | 10462 | 2015-03-03 |
| 16 | 10435 | 2015-02-04 |
| 17 | 11067 | 2016-05-04 |
| 17 | 11036 | 2016-04-20 |
| 17 | 10825 | 2016-01-09 |
| 18 | 10890 | 2016-02-16 |
| 18 | 10683 | 2015-09-26 |
| 18 | 10609 | 2015-07-24 |
| 19 | 11056 | 2016-04-28 |
| 19 | 11047 | 2016-04-24 |
| 19 | 11024 | 2016-04-15 |
| 20 | 11072 | 2016-05-05 |
| 20 | 11017 | 2016-04-13 |
| 20 | 11008 | 2016-04-08 |
| 23 | 10789 | 2015-12-22 |
| 23 | 10763 | 2015-12-03 |
| 23 | 10634 | 2015-08-15 |
| 24 | 11050 | 2016-04-27 |
| 24 | 11001 | 2016-04-06 |
| 24 | 10993 | 2016-04-01 |
| 25 | 11012 | 2016-04-09 |
| 25 | 10929 | 2016-03-05 |
| 25 | 10859 | 2016-01-29 |
| 26 | 10971 | 2016-03-24 |
| 26 | 10860 | 2016-01-29 |
| 26 | 10671 | 2015-09-17 |
| 27 | 11060 | 2016-04-30 |
| 27 | 11026 | 2016-04-15 |
| 27 | 10807 | 2015-12-31 |
| 28 | 10963 | 2016-03-19 |
| 28 | 10664 | 2015-09-10 |
| 28 | 10604 | 2015-07-18 |
| 29 | 10928 | 2016-03-05 |
| 29 | 10887 | 2016-02-13 |
| 29 | 10568 | 2015-06-13 |
| 30 | 11037 | 2016-04-21 |
| 30 | 11009 | 2016-04-08 |
| 30 | 10948 | 2016-03-13 |
| 39 | 11028 | 2016-04-16 |
| 39 | 10893 | 2016-02-18 |
| 39 | 10849 | 2016-01-23 |
| 40 | 10973 | 2016-03-24 |
| 40 | 10972 | 2016-03-24 |
| 40 | 10927 | 2016-03-05 |
| 41 | 11051 | 2016-04-27 |
| 41 | 10923 | 2016-03-03 |
| 41 | 10832 | 2016-01-14 |
| 44 | 11070 | 2016-05-05 |
| 44 | 10934 | 2016-03-09 |
| 44 | 10891 | 2016-02-17 |
| 49 | 10950 | 2016-03-16 |
| 49 | 10939 | 2016-03-10 |
| 49 | 10818 | 2016-01-07 |
| 50 | 11004 | 2016-04-07 |
| 50 | 10978 | 2016-03-26 |
| 50 | 10896 | 2016-02-19 |
| 52 | 10945 | 2016-03-12 |
| 52 | 10779 | 2015-12-16 |
| 52 | 10699 | 2015-10-09 |
| 53 | 11057 | 2016-04-29 |
| 53 | 10752 | 2015-11-24 |
| 53 | 10517 | 2015-04-24 |
| 54 | 10986 | 2016-03-30 |
| 54 | 10958 | 2016-03-18 |
| 54 | 10898 | 2016-02-20 |
| 56 | 11020 | 2016-04-14 |
| 56 | 10999 | 2016-04-03 |
| 56 | 10833 | 2016-01-15 |
| 58 | 11073 | 2016-05-05 |
| 58 | 10995 | 2016-04-02 |
| 58 | 10502 | 2015-04-10 |
| 59 | 11053 | 2016-04-27 |
| 59 | 10844 | 2016-01-21 |
| 59 | 10747 | 2015-11-19 |
| 60 | 11007 | 2016-04-08 |
| 60 | 10477 | 2015-03-17 |
| 60 | 10433 | 2015-02-03 |
| 63 | 11021 | 2016-04-14 |
| 63 | 10996 | 2016-04-02 |
| 63 | 10991 | 2016-04-01 |
| 64 | 11019 | 2016-04-13 |
| 64 | 10916 | 2016-02-27 |
| 64 | 10828 | 2016-01-13 |
| 66 | 11062 | 2016-04-30 |
| 66 | 11010 | 2016-04-09 |
| 66 | 10942 | 2016-03-11 |
| 68 | 11075 | 2016-05-06 |
| 68 | 11033 | 2016-04-17 |
| 68 | 10951 | 2016-03-16 |
| 69 | 11013 | 2016-04-09 |
| 69 | 10917 | 2016-03-02 |
| 69 | 10306 | 2014-09-16 |
| 70 | 11015 | 2016-04-10 |
| 70 | 10909 | 2016-02-26 |
| 70 | 10831 | 2016-01-14 |
| 72 | 10869 | 2016-02-04 |
| 72 | 10804 | 2015-12-30 |
| 72 | 10800 | 2015-12-26 |
| 73 | 11074 | 2016-05-06 |
| 73 | 10802 | 2015-12-29 |
| 73 | 10669 | 2015-09-15 |
| 74 | 11043 | 2016-04-22 |
| 74 | 10964 | 2016-03-20 |
| 74 | 10907 | 2016-02-25 |
| 76 | 11038 | 2016-04-21 |
| 76 | 11035 | 2016-04-20 |
| 76 | 10930 | 2016-03-06 |
| 79 | 10967 | 2016-03-23 |
| 79 | 10608 | 2015-07-23 |
| 79 | 10548 | 2015-05-26 |
| 80 | 11069 | 2016-05-04 |
| 80 | 10915 | 2016-02-27 |
| 80 | 10842 | 2016-01-20 |
| 83 | 10994 | 2016-04-02 |
| 83 | 10946 | 2016-03-12 |
| 83 | 10921 | 2016-03-03 |
| 84 | 10850 | 2016-01-23 |
| 84 | 10843 | 2016-01-21 |
| 84 | 10814 | 2016-01-05 |
| 85 | 10739 | 2015-11-12 |
| 85 | 10737 | 2015-11-11 |
| 85 | 10295 | 2014-09-02 |
| 86 | 11046 | 2016-04-23 |
| 86 | 10668 | 2015-09-15 |
| 86 | 10651 | 2015-09-01 |
| 87 | 11025 | 2016-04-15 |
| 87 | 10781 | 2015-12-17 |
| 87 | 10750 | 2015-11-21 |
| 90 | 11005 | 2016-04-07 |
| 90 | 10910 | 2016-02-26 |
| 90 | 10879 | 2016-02-10 |
| 91 | 11044 | 2016-04-23 |
| 91 | 10998 | 2016-04-03 |
| 91 | 10906 | 2016-02-25 |
| 55 | 11034 | 2016-04-20 |
| 55 | 10965 | 2016-03-20 |
| 55 | 10855 | 2016-01-27 |
| 10 | 11048 | 2016-04-24 |
| 10 | 11045 | 2016-04-23 |
| 10 | 11027 | 2016-04-16 |
| 42 | 10810 | 2016-01-01 |
| 42 | 10620 | 2015-08-05 |
| 42 | 10495 | 2015-04-03 |
| 45 | 10884 | 2016-02-12 |
| 45 | 10735 | 2015-11-10 |
| 45 | 10719 | 2015-10-27 |
| 37 | 11063 | 2016-04-30 |
| 37 | 10985 | 2016-03-30 |
| 37 | 10912 | 2016-02-26 |
| 33 | 10785 | 2015-12-18 |
| 33 | 10268 | 2014-07-30 |
| 71 | 11064 | 2016-05-01 |
| 71 | 11031 | 2016-04-17 |
| 71 | 11030 | 2016-04-17 |
| 38 | 10933 | 2016-03-06 |
| 38 | 10829 | 2016-01-13 |
| 38 | 10798 | 2015-12-26 |
| 46 | 11071 | 2016-05-05 |
| 46 | 11065 | 2016-05-01 |
| 46 | 10997 | 2016-04-03 |
| 78 | 11003 | 2016-04-06 |
| 78 | 10775 | 2015-12-12 |
| 78 | 10624 | 2015-08-07 |
| 65 | 11077 | 2016-05-06 |
| 65 | 11000 | 2016-04-06 |
| 65 | 10988 | 2016-03-31 |
| 47 | 11039 | 2016-04-21 |
| 47 | 11014 | 2016-04-10 |
| 47 | 10954 | 2016-03-17 |
| 32 | 11061 | 2016-04-30 |
| 32 | 11040 | 2016-04-22 |
| 32 | 11006 | 2016-04-07 |
| 36 | 10660 | 2015-09-08 |
| 36 | 10600 | 2015-07-16 |
| 36 | 10415 | 2015-01-15 |
| 48 | 11018 | 2016-04-13 |
| 48 | 10883 | 2016-02-12 |
| 48 | 10867 | 2016-02-03 |
| 77 | 10992 | 2016-04-01 |
| 77 | 10805 | 2015-12-30 |
| 77 | 10708 | 2015-10-17 |
| 51 | 10724 | 2015-10-30 |
| 51 | 10619 | 2015-08-04 |
| 51 | 10618 | 2015-08-01 |
| 34 | 11052 | 2016-04-27 |
| 34 | 11022 | 2016-04-14 |
| 34 | 10981 | 2016-03-27 |
| 61 | 10989 | 2016-03-31 |
| 61 | 10794 | 2015-12-24 |
| 61 | 10720 | 2015-10-28 |
| 67 | 11059 | 2016-04-29 |
| 67 | 10877 | 2016-02-09 |
| 67 | 10851 | 2016-01-26 |
| 15 | 11042 | 2016-04-22 |
| 15 | 10969 | 2016-03-23 |
| 15 | 10494 | 2015-04-02 |
| 21 | 10725 | 2015-10-31 |
| 21 | 10650 | 2015-08-29 |
| 21 | 10581 | 2015-06-26 |
| 31 | 11049 | 2016-04-24 |
| 31 | 10959 | 2016-03-18 |
| 31 | 10790 | 2015-12-22 |
| 62 | 11068 | 2016-05-04 |
| 62 | 10961 | 2016-03-19 |
| 62 | 10914 | 2016-02-27 |
| 81 | 10839 | 2016-01-19 |
| 81 | 10834 | 2016-01-15 |
| 81 | 10830 | 2016-01-13 |
| 88 | 10935 | 2016-03-09 |
| 88 | 10905 | 2016-02-24 |
| 88 | 10900 | 2016-02-20 |
| 35 | 11055 | 2016-04-28 |
| 35 | 10976 | 2016-03-25 |
| 35 | 10960 | 2016-03-19 |
| 43 | 10545 | 2015-05-22 |
| 43 | 10482 | 2015-03-21 |
| 82 | 10822 | 2016-01-08 |
| 82 | 10577 | 2015-06-23 |
| 82 | 10574 | 2015-06-19 |
| 89 | 11066 | 2016-05-01 |
| 89 | 11032 | 2016-04-17 |
| 89 | 10904 | 2016-02-24 |
| 75 | 10974 | 2016-03-25 |
| 75 | 10821 | 2016-01-08 |
| 75 | 10756 | 2015-11-27 |

In [ ]:

------------------------------------------------------------------------
--TSQLV4
------------------------------------------------------------------------

--USE TSQLV4;

--SELECT C.custid, A.orderid, A.orderdate 
--FROM Sales.Customers AS C 
--CROSS APPLY ( SELECT TOP (3) orderid, empid, orderdate, requireddate 
--              FROM Sales.Orders AS O 
--                 WHERE O.custid = C.custid 
--                   ORDER BY orderdate DESC, orderid DESC) AS A;

------------------------------------------------------------------------
--Northwinds2022TSQLV7
------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

SELECT C.CustomerId, A.OrderId, A.OrderDate 
FROM Sales.[Customer] AS C 
CROSS APPLY ( SELECT TOP (3) orderid, EmployeeId, orderdate, requireddate 
              FROM Sales.[Order] AS O 
                 WHERE O.CustomerId = C.CustomerId 
                   ORDER BY orderdate DESC, orderid DESC) AS A;

## **Explanation:**

The code above starts with a SELECT statement that retrieves customer IDs, order IDs , and order dates where the schemas are later defined. This is done using a CROSS APPLY operation, indicating that a correlated subquery will be applied to each row of the outer table. Within the CROSS APPLY, a subquery is utilized to fetch the top 3 orders for each customer. This subquery will SELECT order information (including required date) from the Sales.Orders table. It then filters orders based customer ID ensuring the orders are associated with each correlating customer. The subquery uses the TOP (3) clause to restrict query to only  top 3 orders for each customer based on id. These orders are then ordered by order date in descending order, ensuring that the most recent orders are shown first. Finally, outside of the subquery we see how the SELECT statement retrieves the customer ID from the Sales.Customers table, and how the order ID and order date  gets the results of the subquery 'A'.

## _<u>Chapter 5</u>_

- Create a view called 'USACusts' in the Sales schema which will include all attributes from the Sales.Customers table, however we will filter only those who are from 'USA'. Then create a query that will return the customer's id, company name, and region from the newly created view.  
- Tables Provided: Sales.Customers TSQLV4
- Desired Output:

**TSQLV4:**

| custid | companyname | region |
| --- | --- | --- |
| 32 | Customer YSIQX | OR |
| 36 | Customer LVJSO | OR |
| 43 | Customer UISOJ | WA |
| 45 | Customer QXPPT | CA |
| 48 | Customer DVFMB | OR |
| 55 | Customer KZQZT | AK |
| 65 | Customer NYUHS | NM |
| 71 | Customer LCOUJ | ID |
| 75 | Customer XOJYP | WY |
| 77 | Customer LCYBZ | OR |
| 78 | Customer NLTYP | MT |
| 82 | Customer EYHKM | WA |
| 89 | Customer YBQTI | WA |

**Northwinds2022TSQLV7:**

| CustomerID | CustomerCompanyName | CustomerRegion |
| --- | --- | --- |
| 32 | Customer YSIQX | OR |
| 36 | Customer LVJSO | OR |
| 43 | Customer UISOJ | WA |
| 45 | Customer QXPPT | CA |
| 48 | Customer DVFMB | OR |
| 55 | Customer KZQZT | AK |
| 65 | Customer NYUHS | NM |
| 71 | Customer LCOUJ | ID |
| 75 | Customer XOJYP | WY |
| 77 | Customer LCYBZ | OR |
| 78 | Customer NLTYP | MT |
| 82 | Customer EYHKM | WA |
| 89 | Customer YBQTI | WA |

In [ ]:
----------------------------------------------------------------------------
--TSQLV4
----------------------------------------------------------------------------

--USE TSQLV4;

--DROP VIEW IF EXISTS Sales.USACusts;
--GO
--CREATE OR ALTER VIEW Sales.USACusts
--AS
--SELECT
--custid, companyname, contactname, contacttitle, address,
--city, region, postalcode, country, phone, fax
--FROM Sales.Customers
--WHERE country = N'USA';
--GO

--SELECT custid, companyname, region
--FROM Sales.USACusts;

----------------------------------------------------------------------------
--Northwinds2022TSQLV7
----------------------------------------------------------------------------

USE Northwinds2022TSQLV7;

DROP VIEW IF EXISTS Sales.USACusts;
GO
CREATE OR ALTER VIEW Sales.USACusts
AS
SELECT
CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.[Customer]
WHERE CustomerCountry = N'USA';
GO

SELECT CustomerId, CustomerCompanyName, CustomerRegion
FROM Sales.USACusts;

## **Explanation:** 

Firstly, we will check if there is any table called Sales.USACusts that exist and if it does it will be deleted which is what DROP VIEW will achieve. Then we CREATE VIEW called Sales.USACusts which will create a new view FROM the Sales.\[Customers\] and SELECT all attributes from that table. However, we will filter it WHERE Customer's country must equal N'USA', N meaning Unicode and USA meaning the country USA. Then we run that batch with GO. Finally, we SELECT customer's id, customer's company name, and customer's region to test if it all worked.

## _<u>Views and ORDER BY</u>_

- Create a view called 'USACusts' in the Sales schema which will include all attributes from the Sales.Customers table, however we will filter only those who are from 'USA' and we will sort the customer's region from ascending order.  Then create a query that will return the customer's id, company name, and region from the newly created view.  
- <span style="color: var(--vscode-foreground);">Tables Provided: Sales.Customers TSQLV4</span>
- Desired Output:

**TSQLV4:**
|custid|companyname|region|
|---|---|---|
|55|Customer KZQZT|AK|
|45|Customer QXPPT|CA|
|71|Customer LCOUJ|ID|
|78|Customer NLTYP|MT|
|65|Customer NYUHS|NM|
|48|Customer DVFMB|OR|
|32|Customer YSIQX|OR|
|36|Customer LVJSO|OR|
|77|Customer LCYBZ|OR|
|82|Customer EYHKM|WA|
|89|Customer YBQTI|WA|
|43|Customer UISOJ|WA|
|75|Customer XOJYP|WY|

**Northwinds2022TSQLV7:**
|CustomerID|CustomerCompanyName|CustomerRegion|
|---|---|---|
|55|Customer KZQZT|AK|
|45|Customer QXPPT|CA|
|71|Customer LCOUJ|ID|
|78|Customer NLTYP|MT|
|65|Customer NYUHS|NM|
|48|Customer DVFMB|OR|
|32|Customer YSIQX|OR|
|36|Customer LVJSO|OR|
|77|Customer LCYBZ|OR|
|82|Customer EYHKM|WA|
|89|Customer YBQTI|WA|
|43|Customer UISOJ|WA|
|75|Customer XOJYP|WY|

In [ ]:
------------------------------------------
--TSQLV4
------------------------------------------


--USE TSQLV4;

--DROP VIEW IF EXISTS Sales.USACusts;
--GO
--CREATE OR ALTER VIEW Sales.USACusts
--AS
--SELECT 
--  custid, companyname, contactname, contacttitle, address,
--  city, region, postalcode, country, phone, fax
--FROM Sales.Customers
--WHERE country = N'USA'
--ORDER BY region
--OFFSET 0 ROWS;
--GO

--SELECT custid, companyname, region
--FROM Sales.USACusts;
--GO

------------------------------------------
--Northwinds2022TSQLV7
------------------------------------------


USE Northwinds2022TSQLV7;

DROP VIEW IF EXISTS Sales.USACusts;
GO

CREATE OR ALTER VIEW Sales.USACusts
AS
SELECT
CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.[Customer]
WHERE CustomerCountry = N'USA'
ORDER BY CustomerRegion
OFFSET 0 ROWS;
GO


SELECT CustomerId, CustomerCompanyName, CustomerRegion
FROM Sales.USACusts;
GO

## **Explanation:**

Firstly, we will check if there is any table called Sales.USACusts that exist and if it does it will be deleted which is what DROP VIEW will achieve. Then we CREATE VIEW called Sales.USACusts which will create a new view FROM the Sales.\[Customers\] and SELECT all attributes from that table. However, we will filter it WHERE Customer's country must equal N'USA', N meaning Unicode and USA meaning the country USA. Also the code above sorts the customer's region in ascending order but we also use OFFSET 0 ROWS to ensure that it starts sorting from the first row. Then we run that batch with GO. Finally, we SELECT customer's id, customer's company name, and customer's region to test if it all worked.

## _Chapter 5 Assigning Column Aisles_

- Write a query where we get the number of customers of each year using a derived table.
- Provided tables: Sales.Orders TSQLV4
- Desired Output:

**TSQLV4:** 

| orderyear | numcusts |
| --- | --- |
| 2014 | 67 |
| 2015 | 86 |
| 2016 | 81 |

**Northwinds2022TSQLV7:**

| OrderYear | NumberCustomers |
| --- | --- |
| 2014 | 67 |
| 2015 | 86 |
| 2016 | 81 |

In [ ]:
---------------------------------
--TSQLV4
---------------------------------

--USE TSQLV4;

--SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
--FROM (SELECT YEAR(orderdate), custid
--      FROM Sales.Orders) AS D(orderyear, custid)
--GROUP BY orderyear;
--GO

---------------------------------
--Northwinds2022TSQLV7
---------------------------------

USE Northwinds2022TSQLV7;

SELECT OrderYear, COUNT(DISTINCT CustomerId) AS NumCustomers
FROM (SELECT YEAR(orderdate), CustomerId
      FROM Sales.[Order]) AS D(OrderYear, CustomerId)
GROUP BY OrderYear;
GO

## **Explanation:** 

In the query above, we are going to SELECT from OrderYear which is from the derived table 'D', the DISTINCT number of customer id which also comes from the derived table 'D', AS numcust or number of customers. This is all coming FROM a subquery where we are getting the YEAR from orderdate and customerid FROM Sales.Orders and we define the derived table. At the end we GROUP BY order year which will group each of the year per row.

## _Chapter 5 Assigning Column Aliases_

- Write a query where we get the number of customers of each year
- Tables Provided: Sales.Orders TSQLV4
- Desired Output:

**TSQLV4:**

| orderyear | numcusts |
| --- | --- |
| 2014 | 67 |
| 2015 | 86 |
| 2016 | 81 |

**Northwinds2022TSQLV7:**

| OrderYear | NumberCustomers |
| --- | --- |
| 2014 | 67 |
| 2015 | 86 |
| 2016 | 81 |

In [ ]:
---------------------------------
--TSQLV4
---------------------------------

--USE TSQLV4;

--SELECT YEAR(orderdate) AS orderyear, COUNT(DISTINCT custid) AS numcusts 
--FROM Sales.Orders 
--GROUP BY YEAR(orderdate);


---------------------------------
--Northwinds2022TSQLV7
---------------------------------

USE Northwinds2022TSQLV7;

SELECT YEAR(OrderDate) AS OrderYear, COUNT(DISTINCT CustomerId) AS NumCustomers 
FROM Sales.[Order]
GROUP BY YEAR(OrderDate);

## **Explanation:**

In the code above, we are selecting only the YEAR from orderdate which comes from the Sales.Orders table and it will be called orderyear, then COUNT the distinct amount of customer id that are in Sales.Orders, and it will be called AS numcusts. Then we GROUP BY YEAR the orderdate to group each year orders were made and the corresponding tuple will be the amount of customers from that year.