# Top 5 Queries

# Top 1 - Chapter 4 Exercise 4

- Write a query that returns employees who did not place orders on or after May 1, 2016:
- Tables involved: HR.Employees and Sales.Orders

Desired Output:

| empid | FirstName | lastname |
| --- | --- | --- |
| 3 | Judy | Lew |
| 5 | Sven | Mortensen |
| 6 | Paul | Suurs |
| 9 | Patricia | Doyle |

In [ ]:

-- Chapter 4 Exercise 3
USE TSQLV4
SELECT empid, FirstName, lastname from HR.Employees
where empid not in
(select empid from Sales.Orders
where orderdate >= '20160501')

USE Northwinds2022TSQLV7
SELECT EmployeeId, EmployeeFirstName, EmployeeLastName from HumanResources.Employee
where EmployeeId not in
(select EmployeeId from Sales.[Order]
where orderdate >= '20160501')

### Explanation:

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">The proposition is to w</span>rite a query that returns employees who did not place orders on or after May 1, 2016<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">. We use the select clause to select EmpId, FirstName, and LastName from the HR.Employees table. The subquery uses the select clause to get the empid from the sales.ordes table with a where clause predicate that checks if the orders that the employees worked with were placed on the correct date using the orderdate column. The predicate in the overall query is our where clause and it ensures only employess that did not placed orders on that date get returned with their id and names.</span>

# Top 2- Chapter 5 Exercise 2-2

- <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Encapsulate the query from exercise 2-1 in a derived table&nbsp;</span>
- <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Write a join query between the derived table and the Sales.Orders table to return the orders with the maximum order date for each employee&nbsp;</span>
-  Tables involved: Sales.Orders

Desired Output:

| empid | orderdate | orderid | custid |
| --- | --- | --- | --- |
| 9 | 2016-04-29 | 11058 | 6 |
| 8 | 2016-05-06 | 11075 | 68 |
| 7 | 2016-05-06 | 11074 | 73 |
| 6 | 2016-04-23 | 11045 | 10 |
| 5 | 2016-04-22 | 11043 | 74 |
| 4 | 2016-05-06 | 11076 | 9 |
| 3 | 2016-04-30 | 11063 | 37 |
| 2 | 2016-05-05 | 11073 | 58 |
| 2 | 2016-05-05 | 11070 | 44 |
| 1 | 2016-05-06 | 11077 | 65 |

In [ ]:
-- Chapter 5 Exercise 2-2
use TSQLV6
select o1.empid, orderdate, orderid, custid from Sales.Orders o1
join (select empid,  MAX(orderdate) maxorderdate
from Sales.Orders
GROUP by empid) o2 on o2.empid =o1.empid and o2.maxorderdate = o1.orderdate

use Northwinds2022TSQLV7
select o1.Employeeid, orderdate, orderid, customerid from Sales.[Order] o1
join (select EmployeeId,  MAX(orderdate) maxorderdate
from Sales.[Order]
GROUP by EmployeeId) o2 on o2.EmployeeId =o1.EmployeeId and o2.maxorderdate = o1.orderdate

### Explanation:

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">The proposition is to e</span>ncapsulate the query from exercise 2-1 in a derived table and w<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">rite a join query between the derived table and the Orders table to return the orders with the maximum order date for each employee</span><span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">. We use the select clause to select EmpId, orderdate, orderid, and custid from the Sales.orders table. Then use&nbsp; the join operator to match the orders from the first query with the max orderdate orders from the previous exercise and only return the deatils of those orders.&nbsp;</span>

## <u>TOP 3 - Chapter 4 Q1 -<span style="color: rgb(0, 0, 0); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Self-contained scalar subquery</span></u>

- <span style="color: #000000;">Return orders placed by employees whose last names start with A</span>
- Tables Included: Sales.orders, HR.Employees

0 Rows Affected

In [ ]:
--Q1
--use TSQLV6
--SELECT orderid FROM Sales.Orders
--WHERE empid = (SELECT E.empid FROM HR.Employees AS E WHERE E.lastname LIKE N'A%');

use Northwinds2022TSQLV7
SELECT orderid FROM Sales.[Order]
WHERE employeeid = (SELECT E.employeeid FROM HumanResources.Employee AS E WHERE E.employeelastname LIKE N'A%');

### Explanation:

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">The proposition is to return orders placed&nbsp; employees whose last name start with A</span><span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">. We use the select clause to select the orderid from the Sales.orders table. Then use the where predicate to check if the employee id of the order placed matches the id from the subquery. The subquery returns employee id if the last name start with A using the LIKE predicate from the lastname column of the HR.employees table.</span>

## <u>Top 4- Chapter 4 Q3 - The Exists Predicate (with not)</u>

- Return Customers from Spain who didn't place orders
- Tables Included: Sales.Customers, Sales.Orders

<span style="color: rgb(0, 0, 0); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">1 Row Affected</span>

In [ ]:

-- The EXISTS predicate
-- Customers from Spain who didn't place Orders
--use TSQLV6
--SELECT custid, companyname FROM Sales.Customers AS C
--WHERE country = N'Spain' AND
--NOT EXISTS (SELECT * FROM Sales.Orders AS O WHERE O.custid = C.custid);

use Northwinds2022TSQLV7
SELECT customerid, CustomerCompanyName FROM Sales.Customer AS C
WHERE CustomerCountry = N'Spain' AND
NOT EXISTS (SELECT * FROM Sales.[Order] AS O WHERE O.customerid = C.customerid);

### Explanation:

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">The proposition is to return customers from Spain who didn't place orders</span><span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">. We use the select clause to select the columns custid and companyname from the Sales.Customers table. Then use the where predicate to check if the country of the csutomer are from Spain and with the Exists predicate check if there are any customers from the outer query that are no in the sales.orders table at all.</span>

## Top 5 - Chapter 5 Q6-The Apply Operator

- Return with OFFSET-FETCH the three most recent orders for each customer
- Tables Included: Sales.Customers, Sales.Orders

263 Rows Affected

In [ ]:


-- **Chapter 5**

-- With OFFSET-FETCH return the three most recent orders for each customer
--use TSQLV6
--SELECT C.custid, A.orderid, A.orderdate FROM Sales.Customers AS C
--CROSS APPLY
--(SELECT orderid, empid, orderdate, requireddate FROM Sales.Orders AS O
--WHERE O.custid = C.custid
--ORDER BY orderdate DESC, orderid DESC
--OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY) AS A;

use Northwinds2022TSQLV7
SELECT C.customerid, A.orderid, A.orderdate FROM Sales.Customer AS C
CROSS APPLY
(SELECT orderid, employeeid, orderdate, requireddate FROM Sales.[Order] AS O
WHERE O.customerid = C.customerid
ORDER BY orderdate DESC, orderid DESC
OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY) AS A;

### Explanation:

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">The proposition is to return the three most recent orders from each customer</span><span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">. We use the select clause to select the columns custid from the Sales.Customers table and the orderid and orderdate from the inner query that uses the sales.orders table. Then use the cross apply operator to get the results of the inner query for each row in the left table if it is not empty. The inner query gets the top 3 rows of the orderid, empid, orderdate, and requireddate from the sales.orders table if the customerid from the orders table matches the customerid of the customers tables that is outside this query and it gets ordered by the date and the orderid to get the most recent orders. All together returns each employee's three most recent orders.</span>

Chapter 4 Q2

- Return orders placed by US customers
- Tables Included: Sales.Orders, Sales.Customers

In [ ]:

Q2:
-- Self-contained multivalued subquery examples
-- Orders placed by US customers
--use TSQLV6
--SELECT custid, orderid, orderdate, empid FROM Sales.Orders
--WHERE custid IN (SELECT C.custid FROM Sales.Customers AS C WHERE C.country = N'USA');


use Northwinds2022TSQLV7
SELECT customerid, orderid, orderdate, employeeid FROM Sales.[Order]
WHERE customerid IN (SELECT C.customerid FROM Sales.Customer AS C WHERE C.CustomerCountry = N'USA');

Explanaition: The query generates the orders placed by U.S customers using a subquery that returns customers id with a country of USA in the sales.customers table. The subquery is placed in the where predicate which makes sure that the customer id from the subquery are returned in the outer query select clause that returns the custid, orderid, orderdate, and empid from the sales.orders table.

Chapter 4 Q4

- Return customers who didn't place orders using the Not IN Predicate
- Tables Included: sales.customers, Sales.orders

In [ ]:
Q4:
-- Using NOT IN return customers who didn't place orders
--use TSQLV6
--SELECT custid, companyname FROM Sales.Customers WHERE custid NOT IN(SELECT O.custid FROM Sales.Orders AS O);

use Northwinds2022TSQLV7
SELECT customerid, CustomerCompanyName FROM Sales.Customer WHERE customerid NOT IN(SELECT O.customerid FROM Sales.[Order] AS O);

Explanaition: Generate the custid and company name from the sales.customers table if the custid is not in the results of the subquery that returns all custid in the sales.orders table. This filters out all the customers that placed ordes and keps the ones that did not.

Chapter 4 Q5

- Return the shippers who shipped orders to customer 43
- Tables Included: Sales.orders and created sales.MyShippers

2 rows affected but 3 rows returned becuase of a bug

In [ ]:


Q5:
-- Shippers who shipped orders to customer 43
DROP TABLE IF EXISTS Sales.MyShippers;

CREATE TABLE Sales.MyShippers
(
  shipper_id  INT          NOT NULL,
  companyname NVARCHAR(40) NOT NULL,
  phone       NVARCHAR(24) NOT NULL,
  CONSTRAINT PK_MyShippers PRIMARY KEY(shipper_id)
);

INSERT INTO Sales.MyShippers(shipper_id, companyname, phone)
  VALUES(1, N'Shipper GVSUA', N'(503) 555-0137'),
	      (2, N'Shipper ETYNR', N'(425) 555-0136'),
				(3, N'Shipper ZHISN', N'(415) 555-0138');
GO

-- Bug
use TSQLV6
SELECT shipper_id, companyname FROM Sales.MyShippers
WHERE shipper_id IN (SELECT shipper_id FROM Sales.Orders WHERE custid = 43);

Explanation: After creating and populating the sales.shippers table we generate the shipper\_id and company name from that table if the id is in the sales.orders table when the customer id is 43. This should only return two shippers but a bug in the subquery uses the wrong column name that is sales.orders where a unnecessary underscore is placed. returing 3 shippers instead of 2.

Chapter 5 Q7

- Generate a table where all the shippers are assigned to every employee
- Tables Included: Sales.shippers, HR. Employees

In [ ]:

--Q7:
--use TSQLV6
--SELECT S.shipperid, E.empid FROM Sales.Shippers AS S CROSS JOIN HR.Employees AS E;

use Northwinds2022TSQLV7
SELECT S.shipperid, E.employeeid FROM Sales.Shipper AS S CROSS JOIN HumanResources.Employee AS E;

Explanaition: Using a cross join we create all the rows where each shipper id from the sales.shippers table aliased as S is matched to an employee id from the HR.Employees table aliased as E,  which is inheriantly ordered by the shipper id.

Chapter 5 Q8

- Alter the view sales.USACusts using Encryption option

In [ ]:
--USE TSQLV4
--DROP VIEW IF EXISTS Sales.USACusts;
--GO
--CREATE VIEW Sales.USACusts
--AS
--SELECT
--custid, companyname, contactname, contacttitle, address,
--city, region, postalcode, country, phone, fax
--FROM Sales.customers
--WHERE country = N'USA';
--GO

USE Northwinds2022TSQLV7
DROP VIEW IF EXISTS Sales.USACusts;
GO
CREATE VIEW Sales.USACusts
AS

SELECT
  CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,
  CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber, CustomerFaxNumber
FROM Sales.Customer
WHERE CustomerCountry = N'USA';
GO

In [ ]:
--Q8:
--use TSQLV6
--SELECT OBJECT_DEFINITION(OBJECT_ID('Sales.USACusts'));

use Northwinds2022TSQLV7
SELECT OBJECT_DEFINITION(OBJECT_ID('Sales.USACusts'));

(No column name)
"CREATE VIEW Sales.USACusts AS SELECT custid, companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax FROM Sales.customers WHERE country = N'USA';"

In [ ]:
--Q8 (cont.)
ALTER VIEW Sales.USACusts WITH ENCRYPTION AS

SELECT custid, companyname, contactname, contacttitle, address, city, region, postalcode, country, phone, fax FROM Sales.Customers
WHERE country = N'USA';

In [ ]:
--Q8 (cont.)
EXEC sp_helptext 'Sales.USACusts';
SELECT OBJECT_DEFINITION(OBJECT_ID('Sales.USACusts'));

(No column name)
NULL

Explanation: After creating the view of Sales.USACusts using columns from the Sales.customers table we check the definition of the view which returns the query that was used to create the view. We then alter the view without changing anything excpet when we alter we use the Encryption option to encrypt the view so most people will not be able to view it through regular means. We can check the encyption with exec and when we find the definiton of the view we get returned null.

Chapter 5 Q9:

- Create a CTE that gets the customer from sales.customers if the customer is from USA and generate all the rows from that CTE.

In [ ]:

--Q9:
--use TSQLV6
--;WITH USACusts AS ( SELECT custid, companyname FROM Sales.Customers WHERE country = N'USA' ) SELECT * FROM USACusts;

use Northwinds2022TSQLV7
;WITH USACusts AS ( SELECT customerid, customercompanyname FROM Sales.Customer WHERE customercountry = N'USA' ) SELECT * FROM USACusts;

Explanation: The query starts with creating a CTE using With + the name of the table + as and inside the query that retirves U.S customers. The regular query refrences the cte and returns all the rows inside.

Chapter 5 Q10

- Return the number of unique customers for each year
- Tables Included: Sales.orders

In [ ]:

Q10:
--use TSQLV6
--SELECT orderyear, COUNT(DISTINCT custid) AS numcusts FROM
--(SELECT YEAR(orderdate) AS orderyear, custid FROM Sales.Orders) AS D
--GROUP BY orderyear;

use Northwinds2022TSQLV7
SELECT orderyear, COUNT(DISTINCT customerid) AS numcusts FROM
(SELECT YEAR(orderdate) AS orderyear, customerid FROM Sales.[Order]) AS D
GROUP BY orderyear;

Explanation: The query defines a derived table that returns the customer id and the year of the orderdate giving it an alias of orderyear from the sales.orders table. The outer part of the query refrences the alias in its select clause and the group by adding the count of the customer id's together for that year.