# Problem Homework 1: Exercises 1-4

## _<u>Exercise 1:</u>_

- Return orders placed in June 2015
    
- Tables involved: TSQLV4 database, Sales.Orders
    

<span style="color: var(--vscode-foreground);">Desired output:</span>

| orderid | orderdate | custid | empid |
| --- | --- | --- | --- |
| 10555 | 2015-06-02 | 71 | 6 |
| 10556 | 2015-06-03 | 73 | 2 |
| 10557 | 2015-06-03 | 44 | 9 |
| 10558 | 2015-06-04 | 4 | 1 |
| 10559 | 2015-06-05 | 7 | 6 |
| 10560 | 2015-06-06 | 25 | 8 |
| 10561 | 2015-06-06 | 24 | 2 |
| 10562 | 2015-06-09 | 66 | 1 |
| 10563 | 2015-06-10 | 67 | 2 |
| 10564 | 2015-06-10 | 65 | 4 |
| 10565 | 2015-06-11 | 51 | 8 |
| 10566 | 2015-06-12 | 7 | 9 |
| 10567 | 2015-06-12 | 37 | 1 |
| 10568 | 2015-06-13 | 29 | 3 |
| 10569 | 2015-06-16 | 65 | 5 |
| 10570 | 2015-06-17 | 51 | 3 |
| 10571 | 2015-06-17 | 20 | 8 |
| 10572 | 2015-06-18 | 5 | 3 |
| 10573 | 2015-06-19 | 3 | 7 |
| 10574 | 2015-06-19 | 82 | 4 |
| 10575 | 2015-06-20 | 52 | 5 |
| 10576 | 2015-06-23 | 80 | 3 |
| 10577 | 2015-06-23 | 82 | 9 |
| 10578 | 2015-06-24 | 11 | 4 |
| 10579 | 2015-06-25 | 45 | 1 |
| 10580 | 2015-06-26 | 56 | 4 |
| 10581 | 2015-06-26 | 21 | 3 |
| 10582 | 2015-06-27 | 6 | 3 |
| 10583 | 2015-06-30 | 87 | 2 |
| 10584 | 2015-06-30 | 7 | 4<br> |

<span style="color: var(--vscode-foreground);">...</span>

<span style="color: var(--vscode-foreground);">(30 row(s) affected)</span>

In [6]:
SELECT OrderId AS orderid,
    OrderDate AS orderdate,
     CustomerId AS custid,
      EmployeeId AS empid 
FROM Sales.[Order] WHERE YEAR(OrderDate) = 2015 AND MONTH(orderdate) = 6;

orderid,orderdate,custid,empid
10555,2015-06-02,71,6
10556,2015-06-03,73,2
10557,2015-06-03,44,9
10558,2015-06-04,4,1
10559,2015-06-05,7,6
10560,2015-06-06,25,8
10561,2015-06-06,24,2
10562,2015-06-09,66,1
10563,2015-06-10,67,2
10564,2015-06-10,65,4
10565,2015-06-11,51,8
10566,2015-06-12,7,9
10567,2015-06-12,37,1
10568,2015-06-13,29,3
10569,2015-06-16,65,5
10570,2015-06-17,51,3
10571,2015-06-17,20,8
10572,2015-06-18,5,3
10573,2015-06-19,3,7
10574,2015-06-19,82,4
10575,2015-06-20,52,5
10576,2015-06-23,80,3
10577,2015-06-23,82,9
10578,2015-06-24,11,4
10579,2015-06-25,45,1
10580,2015-06-26,56,4
10581,2015-06-26,21,3
10582,2015-06-27,6,3
10583,2015-06-30,87,2
10584,2015-06-30,7,4

### **Explanation:**

The SQL code performs a query on a "Sales" database table, specifically "Order" to retrieve four columns: "OrderId," "OrderDate," "CustomerId," and "EmployeeId." The AS keyword provides aliases for the selected columns, while the FROM clause specifies the table to retrieve data from. The WHERE clause filters the rows based on a condition, ensuring only rows with the year "OrderDate" in 2015 and the month "June" are included in the result set.

## <u>_Exercise 2:_</u>

- Return orders placed on the last day of the month
    
- Tables involved: Sales.Orders
    

Desired output:

| orderid | orderdate | custid | empid |
| --- | --- | --- | --- |
| 10269 | 2014-07-31 | 89 | 5 |
| 10317 | 2014-09-30 | 48 | 6 |
| 10343 | 2014-10-31 | 44 | 4 |
| 10399 | 2014-12-31 | 83 | 8 |
| 10432 | 2015-01-31 | 75 | 3 |
| 10460 | 2015-02-28 | 24 | 8 |
| 10461 | 2015-02-28 | 46 | 1 |
| 10490 | 2015-03-31 | 35 | 7 |
| 10491 | 2015-03-31 | 28 | 8 |
| 10522 | 2015-04-30 | 44 | 4 |
| 10583 | 2015-06-30 | 87 | 2 |
| 10584 | 2015-06-30 | 7 | 4 |
| 10616 | 2015-07-31 | 32 | 1 |
| 10617 | 2015-07-31 | 32 | 4 |
| 10686 | 2015-09-30 | 59 | 2 |
| 10687 | 2015-09-30 | 37 | 9 |
| 10725 | 2015-10-31 | 21 | 4 |
| 10806 | 2015-12-31 | 84 | 3 |
| 10807 | 2015-12-31 | 27 | 4 |
| 10987 | 2016-03-31 | 19 | 8 |
| 10988 | 2016-03-31 | 65 | 3 |
| 10989 | 2016-03-31 | 61 | 2 |
| 11060 | 2016-04-30 | 27 | 2 |
| 11061 | 2016-04-30 | 32 | 4 |
| 11062 | 2016-04-30 | 66 | 4 |
| 11063 | 2016-04-30 | 37 | 3 |

<span style="color: var(--vscode-foreground);">...</span>

<span style="color: var(--vscode-foreground);">(26 row(s) affected)</span>

In [7]:
SELECT  OrderId AS orderid,
        OrderDate AS orderdate,
        CustomerId AS custid,
        EmployeeId AS empid 
FROM Sales.[Order] WHERE OrderDate = EOMONTH(OrderDate);

orderid,orderdate,custid,empid
10269,2014-07-31,89,5
10317,2014-09-30,48,6
10343,2014-10-31,44,4
10399,2014-12-31,83,8
10432,2015-01-31,75,3
10460,2015-02-28,24,8
10461,2015-02-28,46,1
10490,2015-03-31,35,7
10491,2015-03-31,28,8
10522,2015-04-30,44,4
10583,2015-06-30,87,2
10584,2015-06-30,7,4
10616,2015-07-31,32,1
10617,2015-07-31,32,4
10686,2015-09-30,59,2
10687,2015-09-30,37,9
10725,2015-10-31,21,4
10806,2015-12-31,84,3
10807,2015-12-31,27,4
10987,2016-03-31,19,8
10988,2016-03-31,65,3
10989,2016-03-31,61,2
11060,2016-04-30,27,2
11061,2016-04-30,32,4
11062,2016-04-30,66,4
11063,2016-04-30,37,3

### **Explanation:**

"OrderId", "OrderDate", "CustomerId", and "EmployeeId" are the four columns that are chosen when the SQL code runs a query on the "Order" database table in the "Sales" schema. Whereas the "FROM clause" defines the table from which data should be retrieved, the AS keyword offers aliases for the chosen columns. To guarantee that only orders placed on the last day of the month are included in the result set, the WHERE clause filters the rows according to point of comparison.

## <u>_Exercise 3:_</u>

- Return employees with the last name containing the letter 'e' twice or more
    
- Tables involved: HR.Employees table
    

Desired output:

| empid | firstname | lastname |
| --- | --- | --- |
| 4 | Yael | Peled |
| 5 | Sven | Mortensen |

(2 row(s) affected)

In [8]:
SELECT EmployeeId AS empid, 
	EmployeeFirstName AS firstname,
	EmployeeLastName AS lastname 
FROM HumanResources.Employee WHERE EmployeeLastName LIKE '%e%e%';

empid,firstname,lastname
4,Yael,Peled
5,Sven,Mortensen

### **Explanation:**

Three columns are selected in the SQL code query on the "Employee" database table within the "HumanResources" schema: "EmployeeId," "EmployeeFirstName," and "EmployeeLastName." The table from which to extract data is specified in the FROM clause, and aliases for the selected columns are provided by the AS keyword. The WHERE clause filters the rows based on criteria, guaranteeing that the result set only contains rows with two 'e' letters separated by any number of characters.

## <u>_Exercise 4:_</u>

- Return orders with total value(qty \* unitprice) greater than 10,000
    
- Sorted by total value
    
- Tables involved: Sales.OrderDetails
    

Desired output:

| orderid | totalvalue |
| --- | --- |
| 10865 | 17250.00 |
| 11030 | 16321.90 |
| 10981 | 15810.00 |
| 10372 | 12281.20 |
| 10424 | 11493.20 |
| 10817 | 11490.70 |
| 10889 | 11380.00 |
| 10417 | 11283.20 |
| 10897 | 10835.24 |
| 10353 | 10741.60 |
| 10515 | 10588.50 |
| 10479 | 10495.60 |
| 10540 | 10191.70 |
| 10691 | 10164.80 |

(14 row(s) affected)

In [4]:
SELECT  OrderId AS orderid,
	    SUM(Quantity * UnitPrice) AS totalvalue 
FROM Sales.OrderDetail GROUP BY OrderId HAVING SUM(Quantity * UnitPrice) > 10000 ORDER BY totalvalue DESC;

orderid,totalvalue
10865,17250.00
11030,16321.90
10981,15810.00
10372,12281.20
10424,11493.20
10817,11490.70
10889,11380.00
10417,11283.20
10897,10835.24
10353,10741.60
10515,10588.50
10479,10495.60
10540,10191.70
10691,10164.80

### **Explanation:**

The "OrderDetail" table in the "Sales" schema is the basis of the data that the SQL code queries, choosing two columns: "OrderId" and "SUM(Quantity \* UnitPrice)," which represents the total calculated value of each order. An alias for the calculated column "totalvalue" is provided via the AS keyword. The "OrderId" column is used in the GROUP BY clause to group the rows according to a distinct order. Orders totaling more than $10,000 are included in the categories that are filtered by the HAVING clause. Descending order is applied to the result set using the ORDER BY clause.

## <u>_Proposition:_</u>

- Show top 10 most expensive orders with total value(qty \* unitprice)
    
- Sort top 10 list by most expensive starting at the top
    
- Show CustomerId, OrderId, TotalValue, and Country they are from columns
    
- Tables involved: Sales.OrderDetail, Sales.Order
    

Desired output:

| CustomerId | OrderId | TotalValue | Country |
| --- | --- | --- | --- |
| 63 | 10865 | 17250.00 | Germany |
| 71 | 11030 | 16321.90 | USA |
| 34 | 10981 | 15810.00 | Brazil |
| 62 | 10372 | 12281.20 | Brazil |
| 51 | 10424 | 11493.20 | Canada |
| 39 | 10817 | 11490.70 | Germany |
| 65 | 10889 | 11380.00 | USA |
| 73 | 10417 | 11283.20 | Denmark |
| 37 | 10897 | 10835.24 | Ireland |
| 59 | 10353 | 10741.60 | Austria |

(10 rows affected)

In [5]:
SELECT TOP(10) 
    Sales.[Order].CustomerId,
    Sales.[Order].OrderId,
    SUM(Quantity * UnitPrice) AS TotalValue, 
    ShipToCountry AS Country
FROM 
    Sales.OrderDetail 
JOIN 
    Sales.[Order] ON Sales.OrderDetail.OrderId = Sales.[Order].orderid 
GROUP BY 
    Sales.[Order].CustomerId,
    Sales.[Order].orderid, 
    ShipToCountry 
HAVING 
    SUM(Quantity * UnitPrice) > 10000 
ORDER BY 
    totalvalue DESC;

CustomerId,OrderId,TotalValue,Country
63,10865,17250.00,Germany
71,11030,16321.90,USA
34,10981,15810.00,Brazil
62,10372,12281.20,Brazil
51,10424,11493.20,Canada
39,10817,11490.70,Germany
65,10889,11380.00,USA
73,10417,11283.20,Denmark
37,10897,10835.24,Ireland
59,10353,10741.60,Austria

### **Explanation:**

The SQL query effectively collects and ranks the top ten orders based on total value, taking into account both the number and unit pricing of each order's contents. The query consists of a select statement, a FROM clause, an inner join, a GROUP BY clause, a HAVING clause, and an ORDER BY clause. The quantity of each item in the order multiplied by its unit price yields the overall value. In a business context, analyzing sales performance is crucial for businesses to identify high-value customers, optimize inventory management, and make strategic decisions. By analyzing the top 10 orders based on their total value, businesses can segment their customers, optimize marketing efforts, and manage customer relationships. This data can also help businesses evaluate sales strategies, identify bestselling products, and optimize pricing and promotions. By monitoring and analyzing high-value orders, businesses can detect potential fraudulent activities and implement fraud detection measures. Performance benchmarking can also help businesses identify strengths and areas for improvement, guiding strategic initiatives towards sustainable growth and profitability.