# **Problem Homework 1**: Exercises 5-7 + Proposition

<u>Exercise 5:
</u>
- Write a query against the HR.Employees table that returns employees With a last name that starts with a lower case letter. 
- Remember that the collation of the sample database is case insensitive (Latin1_General_CI_AS). 
- For simplicity, you can assume that only English letters are used in the employee last names. Tables involved: Sales.OrderDetails table

Desired output:

empid       lastname


(0 row(s) affected)

In [1]:
SELECT EmployeeId AS empid, EmployeeLastName AS lastname
FROM HumanResources.Employee
WHERE EmployeeLastName COLLATE Latin1_General_CS_AS LIKE N'[abcdefghijklmnopqrstuvwxyz]%';

**Explanation:** <span style="color: var(--vscode-foreground);">The proposition in this query is to get information about employees whose last names start with a lowercase letter.</span>

The table contains information about employees, and we are specifically interested in the EmployeeID and LastName columns. The <mark>SELECT</mark> clause specifies the columns to be included in the output. In this case, we select EmployeeID and alias it as empid, and LastName as lastname. <span style="color: var(--vscode-foreground);"><br></span>

```
SELECT EmployeeId AS empid, EmployeeLastName AS lastname
FROM HumanResources.Employees

```

The <mark>WHERE</mark> clause contains the predicate that defines the condition for filtering rows and ensures that the last names being retrieved have a first character that is a lowercase English letter. To return the lastnames if they the first letter is lowercase, we use _WHERE_ to filter rows looking at the lastnames. We use _COLLATE_ to specify the collation used for comparison and _Latin1\_General\_CS\_AS_ for case-sensitive comparison. Finally, using _LIKE N'\[abcdefghijklmnopqrstuvwxyz\]%_ The N indicates that it is a unicode string and in the brackets it specifies first char of lastname must be lowercase with english letters only.

```
WHERE EmployeeLastName COLLATE Latin1_General_CS_AS LIKE N'[abcdefghijklmnopqrstuvwxyz]%';

```

<u>Exercise 6:</u>

Explain the difference between the following two queries

<font color=#0317fc> Query 1 <br>
    SELECT empid, COUNT(\*) AS numorders  
    FROM Sales.Orders  
    WHERE orderdate \< '20160501'  
    GROUP BY empid; </font>

Explanation:  
The proposition of this query is to calculate the number of orders for each employee in the Sales.Orders table. The table involved is Sales.Orders and the selected columns are empid and COUNT() as numorders. The WHERE clause is the predicate, filtering rows where the orderdate is less than '20160501'. 

**Difference:** <span style="color: var(--vscode-foreground);">This query filters rows from the Sales.Orders table based on the condition orderdate &lt; '20160501' using the WHERE clause. It then groups the results by empid using GROUP BY, calculating the count of orders for each employee. <span style="background-color: yellow;">This query filters before performing the grouping.</span></span>

<font color=#fcca03>Query 2 <br>
    SELECT empid, COUNT(\*) AS numorders  
    FROM Sales.Orders  
    GROUP BY empid  
    HAVING MAX(orderdate) \< '20160501'; </font>

Explanation:  
The proposition of this query is calculating the number of orders for each employee in Sales.Orders table. The selected columns are empid and COUNT(\*) as numorders, same as in Query 1. The HAVING acts as the predicate, filtering the grouped results. It checks that the maximum orderdate for each employee is less than '20160501'.   

**Difference:** <span style="color: var(--vscode-foreground);">In contrast to Query 1, Query 2 first groups orders by empid using GROUP BY. The HAVING clause is then used to filter the grouped results based on the maximum orderdate condition 'MAX(orderdate) &lt; '20160501''. <span style="background-color: yellow;">This query filters after performing the grouping.</span></span>

In [2]:
-- Testing QUERY 1
SELECT EmployeeId AS empid, COUNT(*) AS numorders
FROM Sales.[Order]
WHERE orderdate < '20160501'
GROUP BY EmployeeId;

empid,numorders
9,43
3,127
6,67
7,70
1,118
4,154
5,42
2,94
8,101

In [3]:
-- Testing Query 2
SELECT EmployeeId AS empid, COUNT(*) AS numorders
FROM Sales.[Order]
GROUP BY EmployeeId
HAVING MAX(orderdate) < '20160501';

empid,numorders
9,43
3,127
6,67
5,42

<u>Exercise 7: </u>

- Return the three ship countries with the highest average freight for orders placed in 2015
- Tables involved: Sales.Orders table

Desired output: 

shipcountry     avgfreight<br>
Austria         178.3642 <br>
Switzerland     117.1775 <br>
Sweden          105.16


(3 row(s) affected)

In [4]:
SELECT TOP 3 ShipToCountry AS shipcountry, 
AVG(freight) AS avgfreight
FROM Sales.[Order]
WHERE YEAR(orderdate) = 2015
GROUP BY ShipToCountry
ORDER BY avgfreight DESC;

shipcountry,avgfreight
Austria,178.3642
Switzerland,117.1775
Sweden,105.16

**Explanation:**  
The proposition of this query is to retrieve the three ship countries with the highest average freight for orders placed in the year 2015. The table involved is Sales.\[Order\]. The selected columns are ShipToCountry (aliased as shipcountry) and the average freight cost (AVG(freight), aliased as avgfreight). 

```
SELECT TOP 3 hipToCountry AS shipcountry, AVG(freight) AS avgfreight
FROM Sales.[Order]

```

The <mark>WHERE</mark> clause acts as the predicate, filtering rows where the order date's year is 2015. We use _<mark>GROUP BY</mark>_ to group the results by the shipcountry column. Finally, we use _<mark>ORDER BY</mark>_ to see the results in descending order based on average, so highest will be listed first.

```
WHERE YEAR(orderdate) = 2015
GROUP BY ShipToCountry
ORDER BY avgfreight DESC;

```

<u>Proposition Against Northwinds:</u>

This query aims to identify and highlight the top three cities that received the highest number of orders during the year 2015. By calculating the count of orders for each city and presenting the top three performers.

In [4]:
SELECT TOP 3 ShipToCity AS shipcity, COUNT(*) AS order_count
FROM Sales.[Order]
WHERE YEAR(OrderDate)=2015
GROUP BY ShipToCity
ORDER BY order_count DESC;

shipcity,order_count
London,18
Boise,17
Sao Paulo,16

**Explanation:** The proposition emphasizes the order of distribution in the year 2015 and the identification of cities with the highest order counts. The table involved is Sales.Orders. 

The <mark>SELECT</mark> clause specifies two columns to be included in the output. <span style="color: var(--vscode-foreground);">ShipCity which represents the city to which the orders were shipped and&nbsp;</span> <span style="color: var(--vscode-foreground);">COUNT(*) AS order_count that calculates the number of orders for each city.</span>

```
SELECT TOP 3 ShipToCity AS shipcity, COUNT(*) AS order_count
FROM Sales.[Order]

```

<span style="color: var(--vscode-foreground);">The <span style="background-color: yellow;">WHERE</span> clause acts as the predicate, filtering orders based on the condition of 2015 year.&nbsp;</span>  <span style="color: var(--vscode-foreground);">The <span style="background-color: yellow;">GROUP BY</span> groups the results based on ShipCity. This grouping allows the query to analyze order distribution on a city-by-city basis.&nbsp;The <span style="background-color: yellow;">ORDER BY</span> arranges the results to identify and present the top three cities with the highest order counts first.</span>

```
WHERE YEAR(OrderDate)=2015
GROUP BY ShipToCity
ORDER BY order_count DESC;

```