# Top 5 Queries

# Top 1 - Chapter 6 Exercise 6

\-- You are given the following query:

```
SELECT country, region, city
FROM HR.Employees

UNION ALL

SELECT country, region, city
FROM Production.Suppliers;

```

You are asked to add logic to the query such that it would guarantee that the rows from Employee  would be returned in the output before the rows from Supplier, and within each segment, the rows should be sorted by country, region, city

Tables Involved: HumanResources.Employee, Production.Supplier

Desired Output:

| country | region | city |
| --- | --- | --- |
| UK | NULL | London |
| UK | NULL | London |
| UK | NULL | London |
| UK | NULL | London |
| USA | WA | Kirkland |
| USA | WA | Redmond |
| USA | WA | Seattle |
| USA | WA | Seattle |
| USA | WA | Tacoma |
| Australia | NSW | Sydney |
| Australia | Victoria | Melbourne |
| Brazil | NULL | Sao Paulo |
| Canada | Québec | Montréal |
| Canada | Québec | Ste-Hyacinthe |
| Denmark | NULL | Lyngby |
| Finland | NULL | Lappeenranta |
| France | NULL | Annecy |
| France | NULL | Montceau |
| France | NULL | Paris |
| Germany | NULL | Berlin |
| Germany | NULL | Cuxhaven |
| Germany | NULL | Frankfurt |
| Italy | NULL | Ravenna |
| Italy | NULL | Salerno |
| Japan | NULL | Osaka |
| Japan | NULL | Tokyo |
| Netherlands | NULL | Zaandam |
| Norway | NULL | Sandvika |
| Singapore | NULL | Singapore |
| Spain | Asturias | Oviedo |
| Sweden | NULL | Göteborg |
| Sweden | NULL | Stockholm |
| UK | NULL | London |
| UK | NULL | Manchester |
| USA | LA | New Orleans |
| USA | MA | Boston |
| USA | MI | Ann Arbor |
| USA | OR | Bend |

(38 row(s) affected)

In [ ]:
use TSQLV6
select country, region, city from 
(SELECT 1 sort,country, region, city
FROM HR.Employees

UNION ALL

SELECT 2 sort,country, region, city
FROM Production.Suppliers) s
order by sort,country, region, city;

use Northwinds2022TSQLV7
select country, region, city from 
(SELECT 1 sort,EmployeeCountry country, EmployeeRegion region, EmployeeCity city
FROM HumanResources.Employee

UNION ALL

SELECT 2 sort, SupplierCountry, SupplierRegion, SupplierCity
FROM Production.Supplier) s
order by sort,country, region, city;

### Explanation:

The proposition is to add logic to the query such that it would guarantee that the rows from HumanResources.Employee would be returned in the output before the rows from Production.Supplier, and within each segment, the rows should be sorted by country, region, city. The initial query didn't change except adding a column used to sort the Employee table before the Supplier table using 1 and 2 respectively. That new query is gonna be the inner query as we don't want to return the sorting column. The outer query selects only the country, region, and city columns from the subquery and then orders the results by the sorting column first so that employees comes before suppliers, which ends with order of country, region, and city.

# Top 2- Chapter 6 Q1- Circumventing unsupported logical phases

- Write a query that returns the distinct number of employees or customer locations for each country
- Tables Included: HumanResources.Employees, Sales.Customer

Desired Output:

| country | numlocations |
| --- | --- |
| Argentina | 1 |
| Austria | 2 |
| Belgium | 2 |
| Brazil | 4 |
| Canada | 3 |
| Denmark | 2 |
| Finland | 2 |
| France | 9 |
| Germany | 11 |
| Ireland | 1 |
| Italy | 3 |
| Mexico | 1 |
| Norway | 1 |
| Poland | 1 |
| Portugal | 1 |
| Spain | 3 |
| Sweden | 2 |
| Switzerland | 2 |
| UK | 2 |
| USA | 14 |
| Venezuela | 4 |

In [12]:
use TSQLV6
SELECT country, COUNT(*) AS numlocations
FROM (SELECT country, region, city FROM HR.Employees
      UNION
      SELECT country, region, city FROM Sales.Customers) AS U
GROUP BY country;

use Northwinds2022TSQLV7
SELECT country, COUNT(*) AS numlocations
FROM (SELECT employeecountry country, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
      UNION
      SELECT CustomerCountry country, CustomerRegion, CustomerCity FROM Sales.Customer) AS U
GROUP BY country;

### Explanation:

The proposition is to w<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">rite a query that returns the number of employees or customer locations for each country</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">. The inner query unions the country, region, and city for both tables to get rid of any duplicates between the two tables to get the distinct locations of employees and customers. The outer query takes only the list of countries and the total count of rows inside the inner query. After getting the count we need to get the count for each country and we use the group by clause onto the country column to get the count of employee and customer locations in each country.</span>

# Top 3- Chapter 6 Q2- Circumventing unsupported logical phases

- Write a query that returns the two most recent orders for employees 3 and 5
- Tables Included: Sales.Order

Desired Output:

| empid | orderid | orderdate |
| --- | --- | --- |
| 3 | 11063 | 2016-04-30 |
| 3 | 11057 | 2016-04-29 |
| 5 | 11043 | 2016-04-22 |
| 5 | 10954 | 2016-03-17 |

In [ ]:
use TSQLV6
SELECT empid, orderid, orderdate
FROM (SELECT TOP (2) empid, orderid, orderdate
      FROM Sales.Orders
      WHERE empid = 3
      ORDER BY orderdate DESC, orderid DESC) AS D1

UNION ALL

SELECT empid, orderid, orderdate
FROM (SELECT TOP (2) empid, orderid, orderdate
      FROM Sales.Orders
      WHERE empid = 5
      ORDER BY orderdate DESC, orderid DESC) AS D2;

use Northwinds2022TSQLV7
SELECT employeeid, orderid, orderdate
FROM (SELECT TOP (2) employeeid, orderid, orderdate
      FROM Sales.[Order]
      WHERE employeeid = 3
      ORDER BY orderdate DESC, orderid DESC) AS D1

UNION ALL

SELECT employeeid, orderid, orderdate
FROM (SELECT TOP (2) employeeid, orderid, orderdate
      FROM Sales.[Order]
      WHERE employeeid = 5
      ORDER BY orderdate DESC, orderid DESC) AS D2;

### Explanation:

The proposition is to <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Write a query t</span> returns the two most recent orders for employees 3 and 5<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">. We will union two queries together as we need to join the top 2 rows for both employees. The query selects top 2 rows of&nbsp; the employeeid, orderid, and orderdate from the sales.order table. We then have a predicate that only gets the employees if their id is 3 for one table and 5 for the other table. Then to get the most recent orders we use order by clause on orderdate in descending order to get the closest date orders. Those are the inner queries as we need to unify both tables, so the outer query will select the&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">empid, orderid, and orderdate of the inner queries and we then unify both tables together so employees 3 and 5 two most recent orders are in one return.</span>

# Top 4 - Chapter 6 Exercise 4

- Write a query that returns customer and employee pairs that had order activity in both January 2016 and February 2016
- Tables Included: Sales.Order

Desired Output:
custid      |empid
-----------| -----------
20     |     3
39      |    9
46       |   5
67        |  1
71         | 4

In [ ]:
use TSQLV4
select custid, empid from Sales.Orders
where orderdate >= '20160101' AND orderdate < '20160201'
INTERSECT
select custid, empid from Sales.Orders
where orderdate >= '20160201' AND orderdate < '20160301'


use Northwinds2022TSQLV7
select customerid, employeeid from Sales.[Order]
where orderdate >= '20160101' AND orderdate < '20160201'
INTERSECT
select customerid, employeeid from Sales.[Order]
where orderdate >= '20160201' AND orderdate < '20160301'

### Explanation:

The proposition asks us to write a query that returns the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">customer and employee pairs that had order activity in both January 2016 and February 2016. There is two queries that have almost the same layout except for the predicate. They both select the customerid and employeeid from the sales.order table and then create a predicate to get the range of dates that gets activity from the month of January 2016 in one table and Febuary 2016 in the other. After the two queries are made we intersect them to combine the results into one table that shows the customer and employee of orders in the two months. Also, since the dates are specific they are present in northwinds database but not in tsqlv6 so I had to switch it back to tsqlv4.</span>

# Top 5- Chapter 6 Q3- INTERSECT Precedes EXCEPT

- Write a query that returns the locations that are supplier locations, but not locations that are both employee and customer locations
- Tables Included: Sales.Customer, Production.Supplier, HumanResources.Employee

Desired Output:

| country | region | city |
| --- | --- | --- |
| Australia | NSW | Sydney |
| Australia | Victoria | Melbourne |
| Brazil | NULL | Sao Paulo |
| Canada | Québec | Montréal |
| Canada | Québec | Ste-Hyacinthe |
| Denmark | NULL | Lyngby |
| Finland | NULL | Lappeenranta |
| France | NULL | Annecy |
| France | NULL | Montceau |
| France | NULL | Paris |
| Germany | NULL | Berlin |
| Germany | NULL | Cuxhaven |
| Germany | NULL | Frankfurt |
| Italy | NULL | Ravenna |
| Italy | NULL | Salerno |
| Japan | NULL | Osaka |
| Japan | NULL | Tokyo |
| Netherlands | NULL | Zaandam |
| Norway | NULL | Sandvika |
| Singapore | NULL | Singapore |
| Spain | Asturias | Oviedo |
| Sweden | NULL | Göteborg |
| Sweden | NULL | Stockholm |
| UK | NULL | Manchester |
| USA | LA | New Orleans |
| USA | MA | Boston |
| USA | MI | Ann Arbor |
| USA | OR | Bend |

(28 row(s) affected)

In [ ]:
USE TSQLV6
SELECT country, region, city FROM Production.Suppliers
EXCEPT
SELECT country, region, city FROM HR.Employees
INTERSECT
SELECT country, region, city FROM Sales.Customers;

use Northwinds2022TSQLV7
SELECT SupplierCountry, SupplierRegion, SupplierCity FROM Production.Supplier
EXCEPT
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
INTERSECT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;

### Explanation:

The proposition asks to w<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">rite a query that returns the locations that are supplier locations, but not locations that are both employee and customer locations. To get the locations from all the tables we select the country, region, and city from the supplier, employee, and customer tables. But, to include and exclude the certain tables we use the intersect and except operators. We are excluding both the location in the employee and customer tables so we place the intersect operator between them. As we including only the supplier locations not in the previous intersection we place the except operator after the supplier table but before the intersection as the intersect operator takes precedence over the except operator no matter where its placed in the query order. We got the locations in the supplier table only.</span>