# Damaris Campos PHW4: Chapter 6 + Propositions

## **<mark>Top 5 Queries:</mark>**

### **TOP 1 - Chapter 6: Exercise 5**

- Write a query that returns customer and employee pairs that had order activity in both January 2016 and February 2016 but not in 2015
- Tables involved: TSQLV4 database, Orders table

Desired output

| custid | empid |
| --- | --- |
| 67 |  1 |
| 46 | 5 |


(2 row(s) affected)

In [6]:
USE TSQLV6
(SELECT custid, empid 
FROM Sales.Orders
WHERE orderdate >= '20220101' AND orderdate < '20220201'

INTERSECT

SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20220201' AND orderdate < '20220301')

EXCEPT

SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20210101' AND orderdate < '20220101';

----------------------------------------------------------

USE Northwinds2022TSQLV7
(SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE OrderDate >= '20160101' AND OrderDate < '20160201'

INTERSECT

SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE OrderDate >= '20160201' AND OrderDate < '20160301')

EXCEPT

SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE OrderDate >= '20150101' AND OrderDate < '20160101';

custid,empid
67,1
46,5

CustomerId,EmployeeId
67,1
46,5

Explanation: <br>
We want to return customer and employee pairs that had order activity in both January 2016 but not in 2015. To achieve this, we combine two queries with the INSERSECT operation. For the first query we specify the table we want to get the information from which is the Sales.[Order] table and include the columns we want to return from there which are the CustomerId and the EmployeeId. We set the predicate in the where clasue to get the OrderDate to be inclusive '20160101' and exclusive '20160201'. For our second query our table and columns remain the same from the firsy query, however, for our predicate in the where clause sets OrderDate inclusive '20160201' and exclusive '20160301'. These two queries use parentheses to have the highest precedence and be evaluated first before using the EXCEPT operator. These two queries using INTERSECT returns only the distinct rows that appear in both input query results. Now the EXCEPT operator will go forth after and operate on the two input queries and returns rows that appear in the first input and not the second. Meaning that what we had before we have the intersection of January 2016 and February 2016 and the EXCEPT operator will only return that input and not any date from 2015. In that query the table and columns are the same from the previous queries and our predicate in the where clause sets OrderDate to be inclusive '20150101' and exclusive '20160101', these dates will be extempt from the results.

## Propositions

### **TOP 2 - Chapter 6 Precedence Example**

- Write a query that returns the country, region and city paris forÂ  Production.Suppliers that emtempt from the intersection of the paris in HR.Employees and Sales.Customers.
- Tables involved: TSQLV6 database, Production.Suppliers, HR.Employees, Sales.Customers

In [8]:
---------------------------------------------------------------------
-- Precedence
---------------------------------------------------------------------
USE TSQLV6
-- INTERSECT Precedes EXCEPT
SELECT country, region, city FROM Production.Suppliers
EXCEPT
SELECT country, region, city FROM HR.Employees
INTERSECT
SELECT country, region, city FROM Sales.Customers;

---------------------------------------------------------------------------------

USE Northwinds2022TSQLV7
SELECT SupplierCountry, SupplierRegion, SupplierCity FROM Production.Supplier
EXCEPT
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
INTERSECT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer

country,region,city
Australia,NSW,Sydney
Australia,Victoria,Melbourne
Brazil,NULL,Sao Paulo
Canada,QuÃ©bec,MontrÃ©al
Canada,QuÃ©bec,Ste-Hyacinthe
Denmark,NULL,Lyngby
Finland,NULL,Lappeenranta
France,NULL,Annecy
France,NULL,Montceau
France,NULL,Paris
Germany,NULL,Berlin
Germany,NULL,Cuxhaven
Germany,NULL,Frankfurt
Italy,NULL,Ravenna
Italy,NULL,Salerno
Japan,NULL,Osaka
Japan,NULL,Tokyo
Netherlands,NULL,Zaandam
Norway,NULL,Sandvika
Singapore,NULL,Singapore
Spain,Asturias,Oviedo
Sweden,NULL,GÃ¶teborg
Sweden,NULL,Stockholm
UK,NULL,Manchester
USA,LA,New Orleans
USA,MA,Boston
USA,MI,Ann Arbor
USA,OR,Bend

SupplierCountry,SupplierRegion,SupplierCity
Australia,NSW,Sydney
Australia,Victoria,Melbourne
Brazil,NULL,Sao Paulo
Canada,QuÃ©bec,MontrÃ©al
Canada,QuÃ©bec,Ste-Hyacinthe
Denmark,NULL,Lyngby
Finland,NULL,Lappeenranta
France,NULL,Annecy
France,NULL,Montceau
France,NULL,Paris
Germany,NULL,Berlin
Germany,NULL,Cuxhaven
Germany,NULL,Frankfurt
Italy,NULL,Ravenna
Italy,NULL,Salerno
Japan,NULL,Osaka
Japan,NULL,Tokyo
Netherlands,NULL,Zaandam
Norway,NULL,Sandvika
Singapore,NULL,Singapore
Spain,Asturias,Oviedo
Sweden,NULL,GÃ¶teborg
Sweden,NULL,Stockholm
UK,NULL,Manchester
USA,LA,New Orleans
USA,MA,Boston
USA,MI,Ann Arbor
USA,OR,Bend

Explanation:  
We are trying to get the country, region, and city pairs from Production.Supplier that are not with HR.Employees and Sales.Customers. The first query retrieves data from the Supplier table in the Production schema. It select SupplierCountry, SupplierReegion, and SupplierCity. The EXCEPT operator is used to combine the results of the first SELECT statement with the following INTERSECT operation while excluding any rows that are common between them. The second query uses data from the Employee in the HumanResources schema and uses EmployeeCountry, EmployeeRegion, and EmployeeCity. The INTERSECT operator is used to combine the results of the second query with the third query that uses data from Customer in Sales schema and uses CustomerCountry, CustomerRegion, and CustomerCity. Since there is precedence, the INTERSECT operation will perform first, intersecting query 2 and 3 with distinct values and then query 1 will EXCEPT the combination from the intersection of 2 and 3

### **TOP 3 - Chapter 6**

- Return locations that are supplier locations but not employee locations and that are also customer locations
- Tables involved: TSQLV6, Production.Suppliers, HR.Employees, Sales.Customers

In [10]:
-- Using Parenthesis
USE TSQLV6
(SELECT country, region, city FROM Production.Suppliers
 EXCEPT
 SELECT country, region, city FROM HR.Employees)
INTERSECT
SELECT country, region, city FROM Sales.Customers;

-----------------------------------------------------------------------

USE Northwinds2022TSQLV7
(SELECT SupplierCountry, SupplierRegion, SupplierCity FROM Production.Supplier
 EXCEPT
 SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee)
INTERSECT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;

country,region,city
Canada,QuÃ©bec,MontrÃ©al
France,NULL,Paris
Germany,NULL,Berlin

SupplierCountry,SupplierRegion,SupplierCity
Canada,QuÃ©bec,MontrÃ©al
France,NULL,Paris
Germany,NULL,Berlin

Explanation: <br>
We want to return the locations that are supplier locations but not employee locations and that are also customer locations. By the order of evaluation of set operators, we start off with parenthesis because they have the highest precedence. Inside these paretheses is the first query that retrieves data from Production.Suppliers table and selects country, region, and city columns. We are then faced with a EXCEPT operator that returns the first input but not the second one. In this case the second input retrieves data from the HR.Employees selecting country, region, and city. Outside the parenthesis there is a INTERSECT operation which returns the rows only in common to results of the two input queries. So the first input query in this case is the results from Production.Suppliers that does not include data from HR.Employees and intersects this with the this query that returns data from Sales.Customers selecting country, region, and city.

### **TOP 4**

- Return all the intersected country, region, and city values for the table HR.Employees and Sales.Customers
- Tables involved: TSQLV6, HR.Employees, Sales.Customers

In [19]:
USE TSQLV6
-- The INTERSECT ALL Multiset Operator (Optional, Advanced)
SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY country, region, city
         ORDER     BY (SELECT 0)) AS rownum,
  country, region, city
FROM HR.Employees

INTERSECT

SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY country, region, city
         ORDER     BY (SELECT 0)),
  country, region, city
FROM Sales.Customers;

---------------------------------------------------------

USE Northwinds2022TSQLV7;
SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY EmployeeCountry, EmployeeRegion, EmployeeCity
         ORDER     BY (SELECT 0)) AS rownum,
  EmployeeCountry, EmployeeRegion, EmployeeCity
FROM HumanResources.Employee

INTERSECT

SELECT
  ROW_NUMBER() 
    OVER(PARTITION BY CustomerCountry, CustomerRegion, CustomerCity
         ORDER     BY (SELECT 0)),
  CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer;

rownum,country,region,city
1,UK,NULL,London
1,USA,WA,Kirkland
1,USA,WA,Seattle
2,UK,NULL,London
3,UK,NULL,London
4,UK,NULL,London

rownum,EmployeeCountry,EmployeeRegion,EmployeeCity
1,UK,NULL,London
1,USA,WA,Kirkland
1,USA,WA,Seattle
2,UK,NULL,London
3,UK,NULL,London
4,UK,NULL,London

Explanation: <br>
We want to return all locations that are both employee locations and customer locations. Since the intersect all operation has not been implemented in T-SQL, we use the ROW_NUMBER function to number the occurances of each row in each input query. With the PARTITION BY clause we specify the country, region, city columns. Using the ORDER BY (SELECT 0) will indicate that order does not matter and we alias this as rownum. We do this for the two queries, one for the data from HR.Employees and the second one for Sales.Customers. We apply the INTERSECT operator between the two queries with the ROW_NUMBER function and since the rows are numbered, the intersection is based on row numbers.

### **TOP 5**

- Return all the intersected country, region, and city values for the table HR.Employees and Sales.Customers
- Tables involved: TSQLV6, HR.Employees, Sales.Customers

In [20]:
USE TSQLV6;
WITH INTERSECT_ALL
AS
(
  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY country, region, city
           ORDER BY (SELECT 0)) AS rownum,
    country, region, city
  FROM HR.Employees

  INTERSECT

  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY country, region, city
           ORDER BY (SELECT 0)),
    country, region, city
  FROM Sales.Customers
)
SELECT country, region, city
FROM INTERSECT_ALL;

--------------------------------------------------------------------

USE Northwinds2022TSQLV7;
WITH INTERSECT_ALL
AS
(
  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY EmployeeCountry, EmployeeRegion, EmployeeCity
           ORDER BY (SELECT 0)) AS rownum,
    EmployeeCountry, EmployeeRegion, EmployeeCity
  FROM HumanResources.Employee

  INTERSECT

  SELECT
    ROW_NUMBER() 
      OVER(PARTITION BY CustomerCountry, CustomerRegion, CustomerCity
           ORDER BY (SELECT 0)),
    CustomerCountry, CustomerRegion, CustomerCity
  FROM Sales.Customer
)
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity
FROM INTERSECT_ALL;

country,region,city
UK,NULL,London
USA,WA,Kirkland
USA,WA,Seattle
UK,NULL,London
UK,NULL,London
UK,NULL,London

EmployeeCountry,EmployeeRegion,EmployeeCity
UK,NULL,London
USA,WA,Kirkland
USA,WA,Seattle
UK,NULL,London
UK,NULL,London
UK,NULL,London

Explanation: <br>
We want to return all locations that are both employee locations and customer locations. Since the intersect all operator is not supposed to return any row numbers, to exclude rownum we define a table expression. We define this table expression with WITH clause and name this temporary table INTERSECT_ALL. Inside this table expression we do the same as from previous question. We use the ROW_NUMBER function to number the occurances of each row in each input query. With the PARTITION BY clause we specify the country, region, city columns. Using the ORDER BY (SELECT 0) will indicate that order does not matter and we alias this as rownum. We do this for the two queries, one for the data from HR.Employees and the second one for Sales.Customers. We apply the INTERSECT operator between the two queries with the ROW_NUMBER function and since the rows are numbered, the intersection is based on row numbers. In the outer query we select attributes we want to return which are country, region, and city from INTERSECT_ALL.