# **TOP 5 Queries**

## _TOP 1: UNION OPERATOR_

- Create a query that will return the employee's country, region, and city combined with customer's country, region, and city including duplicates.
- Tables Given: HR.Employes and Sales.Customers from TSQLV6
- Desired Output:

  

**TSQLV6:**                                        

|country|region|city|                                                                          
|---|---|---|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|UK|NULL|London|
|UK|NULL|London|
|UK|NULL|London|
|USA|WA|Seattle|
|UK|NULL|London|
|Germany|NULL|Berlin|
|Mexico|NULL|M&#233;xico D.F.|
|Mexico|NULL|M&#233;xico D.F.|
|UK|NULL|London|
|Sweden|NULL|Lule&#229;|
|Germany|NULL|Mannheim|
|France|NULL|Strasbourg|
|Spain|NULL|Madrid|
|France|NULL|Marseille|
|Canada|BC|Tsawassen|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|Mexico|NULL|M&#233;xico D.F.|
|Switzerland|NULL|Bern|
|Brazil|SP|Sao Paulo|
|UK|NULL|London|
|Germany|NULL|Aachen|
|France|NULL|Nantes|
|UK|NULL|London|
|Austria|NULL|Graz|
|Brazil|SP|Sao Paulo|
|Spain|NULL|Madrid|
|France|NULL|Lille|
|Sweden|NULL|Br&#228;cke|
|Germany|NULL|M&#252;nchen|
|France|NULL|Nantes|
|Italy|NULL|Torino|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Sevilla|
|Brazil|SP|Campinas|
|USA|OR|Eugene|
|Venezuela|DF|Caracas|
|Brazil|RJ|Rio de Janeiro|
|Venezuela|T&#225;chira|San Crist&#243;bal|
|USA|OR|Elgin|
|Ireland|Co. Cork|Cork|
|UK|Isle of Wight|Cowes|
|Germany|NULL|Brandenburg|
|France|NULL|Versailles|
|France|NULL|Toulouse|
|Canada|BC|Vancouver|
|USA|WA|Walla Walla|
|Germany|NULL|Frankfurt a.M.|
|USA|CA|San Francisco|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|USA|OR|Portland|
|Italy|NULL|Bergamo|
|Belgium|NULL|Bruxelles|
|Canada|Qu&#233;bec|Montr&#233;al|
|Germany|NULL|Leipzig|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|USA|AK|Anchorage|
|Germany|NULL|K&#246;ln|
|France|NULL|Paris|
|Mexico|NULL|M&#233;xico D.F.|
|Austria|NULL|Salzburg|
|Portugal|NULL|Lisboa|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Sao Paulo|
|Germany|NULL|Cunewalde|
|Argentina|NULL|Buenos Aires|
|USA|NM|Albuquerque|
|Italy|NULL|Reggio Emilia|
|Brazil|RJ|Rio de Janeiro|
|Switzerland|NULL|Gen&#232;ve|
|Spain|NULL|Madrid|
|Norway|NULL|Stavern|
|USA|ID|Boise|
|UK|NULL|London|
|Denmark|NULL|Kobenhavn|
|France|NULL|Paris|
|USA|WY|Lander|
|Belgium|NULL|Charleroi|
|USA|OR|Portland|
|USA|MT|Butte|
|Germany|NULL|M&#252;nster|
|Mexico|NULL|M&#233;xico D.F.|
|Brazil|SP|Sao Paulo|
|USA|WA|Kirkland|
|Denmark|NULL|&#197;rhus|
|France|NULL|Lyon|
|France|NULL|Reims|
|Germany|NULL|Stuttgart|
|Finland|NULL|Oulu|
|Brazil|SP|Resende|
|USA|WA|Seattle|
|Finland|NULL|Helsinki|
|Poland|NULL|Warszawa|

**NorthWinds2022TSQLV7:**                                        

|EmployeeCountry|EmployeeRegion|EmployeeCity|                                                                          
|---|---|---|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|UK|NULL|London|
|UK|NULL|London|
|UK|NULL|London|
|USA|WA|Seattle|
|UK|NULL|London|
|Germany|NULL|Berlin|
|Mexico|NULL|M&#233;xico D.F.|
|Mexico|NULL|M&#233;xico D.F.|
|UK|NULL|London|
|Sweden|NULL|Lule&#229;|
|Germany|NULL|Mannheim|
|France|NULL|Strasbourg|
|Spain|NULL|Madrid|
|France|NULL|Marseille|
|Canada|BC|Tsawassen|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|Mexico|NULL|M&#233;xico D.F.|
|Switzerland|NULL|Bern|
|Brazil|SP|Sao Paulo|
|UK|NULL|London|
|Germany|NULL|Aachen|
|France|NULL|Nantes|
|UK|NULL|London|
|Austria|NULL|Graz|
|Brazil|SP|Sao Paulo|
|Spain|NULL|Madrid|
|France|NULL|Lille|
|Sweden|NULL|Br&#228;cke|
|Germany|NULL|M&#252;nchen|
|France|NULL|Nantes|
|Italy|NULL|Torino|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Sevilla|
|Brazil|SP|Campinas|
|USA|OR|Eugene|
|Venezuela|DF|Caracas|
|Brazil|RJ|Rio de Janeiro|
|Venezuela|T&#225;chira|San Crist&#243;bal|
|USA|OR|Elgin|
|Ireland|Co. Cork|Cork|
|UK|Isle of Wight|Cowes|
|Germany|NULL|Brandenburg|
|France|NULL|Versailles|
|France|NULL|Toulouse|
|Canada|BC|Vancouver|
|USA|WA|Walla Walla|
|Germany|NULL|Frankfurt a.M.|
|USA|CA|San Francisco|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|USA|OR|Portland|
|Italy|NULL|Bergamo|
|Belgium|NULL|Bruxelles|
|Canada|Qu&#233;bec|Montr&#233;al|
|Germany|NULL|Leipzig|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|USA|AK|Anchorage|
|Germany|NULL|K&#246;ln|
|France|NULL|Paris|
|Mexico|NULL|M&#233;xico D.F.|
|Austria|NULL|Salzburg|
|Portugal|NULL|Lisboa|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Sao Paulo|
|Germany|NULL|Cunewalde|
|Argentina|NULL|Buenos Aires|
|USA|NM|Albuquerque|
|Italy|NULL|Reggio Emilia|
|Brazil|RJ|Rio de Janeiro|
|Switzerland|NULL|Gen&#232;ve|
|Spain|NULL|Madrid|
|Norway|NULL|Stavern|
|USA|ID|Boise|
|UK|NULL|London|
|Denmark|NULL|Kobenhavn|
|France|NULL|Paris|
|USA|WY|Lander|
|Belgium|NULL|Charleroi|
|USA|OR|Portland|
|USA|MT|Butte|
|Germany|NULL|M&#252;nster|
|Mexico|NULL|M&#233;xico D.F.|
|Brazil|SP|Sao Paulo|
|USA|WA|Kirkland|
|Denmark|NULL|&#197;rhus|
|France|NULL|Lyon|
|France|NULL|Reims|
|Germany|NULL|Stuttgart|
|Finland|NULL|Oulu|
|Brazil|SP|Resende|
|USA|WA|Seattle|
|Finland|NULL|Helsinki|
|Poland|NULL|Warszawa|

In [ ]:
-- The UNION ALL Multiset Operator

---------------------------------------------------
--TSQLV6
---------------------------------------------------
USE TSQLV6;

SELECT country, region, city FROM HR.Employees
UNION ALL
SELECT country, region, city FROM Sales.Customers;

---------------------------------------------------
--Converted to Northwinds database
--------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.[Employee]
UNION ALL
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.[Customer];

### **Explanation:**

The code above shows us _SELECT_ country, region, city _FROM_ the table HR.Employees. However, we use _UNION_ _ALL_ which will combine all the columns from HR.Employees with Sales.Customers which where we are combining the customers country,region, and city. Overall we will get a result that will give us all the rows including duplicates. Using _UNION ALL_ can be useful to learn how to simply combine two tables into one overall seing the results of two tables.

## _TOP 2: UNION OPERATOR_

- Create a query that will return the employee's country, region, and city combined with customer's country, region, and city without any duplicates.
- Tables Given: HR.Employes and Sales.Customers from TSQLV6
- Desired Output:

  

**TSQLV6:**

|country|region|city|
|---|---|---|
|Argentina|NULL|Buenos Aires|
|Austria|NULL|Graz|
|Austria|NULL|Salzburg|
|Belgium|NULL|Bruxelles|
|Belgium|NULL|Charleroi|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Campinas|
|Brazil|SP|Resende|
|Brazil|SP|Sao Paulo|
|Canada|BC|Tsawassen|
|Canada|BC|Vancouver|
|Canada|Qu&#233;bec|Montr&#233;al|
|Denmark|NULL|&#197;rhus|
|Denmark|NULL|Kobenhavn|
|Finland|NULL|Helsinki|
|Finland|NULL|Oulu|
|France|NULL|Lille|
|France|NULL|Lyon|
|France|NULL|Marseille|
|France|NULL|Nantes|
|France|NULL|Paris|
|France|NULL|Reims|
|France|NULL|Strasbourg|
|France|NULL|Toulouse|
|France|NULL|Versailles|
|Germany|NULL|Aachen|
|Germany|NULL|Berlin|
|Germany|NULL|Brandenburg|
|Germany|NULL|Cunewalde|
|Germany|NULL|Frankfurt a.M.|
|Germany|NULL|K&#246;ln|
|Germany|NULL|Leipzig|
|Germany|NULL|Mannheim|
|Germany|NULL|M&#252;nchen|
|Germany|NULL|M&#252;nster|
|Germany|NULL|Stuttgart|
|Ireland|Co. Cork|Cork|
|Italy|NULL|Bergamo|
|Italy|NULL|Reggio Emilia|
|Italy|NULL|Torino|
|Mexico|NULL|M&#233;xico D.F.|
|Norway|NULL|Stavern|
|Poland|NULL|Warszawa|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Madrid|
|Spain|NULL|Sevilla|
|Sweden|NULL|Br&#228;cke|
|Sweden|NULL|Lule&#229;|
|Switzerland|NULL|Bern|
|Switzerland|NULL|Gen&#232;ve|
|UK|NULL|London|
|UK|Isle of Wight|Cowes|
|USA|AK|Anchorage|
|USA|CA|San Francisco|
|USA|ID|Boise|
|USA|MT|Butte|
|USA|NM|Albuquerque|
|USA|OR|Elgin|
|USA|OR|Eugene|
|USA|OR|Portland|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Walla Walla|
|USA|WY|Lander|
|Venezuela|DF|Caracas|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|Venezuela|T&#225;chira|San Crist&#243;bal|

**Northwinds2022TSQLV7:**

|EmployeeCountry|EmployeeRegion|EmployeeCity|
|---|---|---|
|Argentina|NULL|Buenos Aires|
|Austria|NULL|Graz|
|Austria|NULL|Salzburg|
|Belgium|NULL|Bruxelles|
|Belgium|NULL|Charleroi|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Campinas|
|Brazil|SP|Resende|
|Brazil|SP|Sao Paulo|
|Canada|BC|Tsawassen|
|Canada|BC|Vancouver|
|Canada|Qu&#233;bec|Montr&#233;al|
|Denmark|NULL|&#197;rhus|
|Denmark|NULL|Kobenhavn|
|Finland|NULL|Helsinki|
|Finland|NULL|Oulu|
|France|NULL|Lille|
|France|NULL|Lyon|
|France|NULL|Marseille|
|France|NULL|Nantes|
|France|NULL|Paris|
|France|NULL|Reims|
|France|NULL|Strasbourg|
|France|NULL|Toulouse|
|France|NULL|Versailles|
|Germany|NULL|Aachen|
|Germany|NULL|Berlin|
|Germany|NULL|Brandenburg|
|Germany|NULL|Cunewalde|
|Germany|NULL|Frankfurt a.M.|
|Germany|NULL|K&#246;ln|
|Germany|NULL|Leipzig|
|Germany|NULL|Mannheim|
|Germany|NULL|M&#252;nchen|
|Germany|NULL|M&#252;nster|
|Germany|NULL|Stuttgart|
|Ireland|Co. Cork|Cork|
|Italy|NULL|Bergamo|
|Italy|NULL|Reggio Emilia|
|Italy|NULL|Torino|
|Mexico|NULL|M&#233;xico D.F.|
|Norway|NULL|Stavern|
|Poland|NULL|Warszawa|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Madrid|
|Spain|NULL|Sevilla|
|Sweden|NULL|Br&#228;cke|
|Sweden|NULL|Lule&#229;|
|Switzerland|NULL|Bern|
|Switzerland|NULL|Gen&#232;ve|
|UK|NULL|London|
|UK|Isle of Wight|Cowes|
|USA|AK|Anchorage|
|USA|CA|San Francisco|
|USA|ID|Boise|
|USA|MT|Butte|
|USA|NM|Albuquerque|
|USA|OR|Elgin|
|USA|OR|Eugene|
|USA|OR|Portland|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Walla Walla|
|USA|WY|Lander|
|Venezuela|DF|Caracas|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|Venezuela|T&#225;chira|San Crist&#243;bal|

In [ ]:
-- The UNION Multiset Operator

---------------------------------------------------
--TSQLV6
---------------------------------------------------
USE TSQLV6;

SELECT country, region, city FROM HR.Employees
UNION
SELECT country, region, city FROM Sales.Customers;

---------------------------------------------------
--Converted to Northwinds database
--------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.[Employee]
UNION
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.[Customer];

### **Explanation:**

The SQL code above shows us _SELECT_ country, region, city _FROM_ the table HR.Employees. However, we use _UNION_ which will combine all the columns from HR.Employees with Sales.Customers which where we are combining the customers country, region, and city. However, since we are only using _UNION_ it will eliminate any rows that show up more than one. Using _UNION_ can be useful to learn how to simply combine two tables into one overall seing the results of two tables without having to see duplicated rows.

## _TOP 3: EXCEPT OPERATOR_

- Create a query where we retreieve the country, region, and city from the employees table that are NOT included in the customer's table.
- Table provided: HR.Employees and Sales.Customers From TSQLV6
- Desired Output:

**TSQLV6:**

| country | region | city |
| --- | --- | --- |
| USA | WA | Redmond |
| USA | WA | Tacoma |

**Northwinds2022TSQLV7**

| EmployeesCountry | EmployeeRegion | EmployeeCity |
| --- | --- | --- |
| USA | WA | Redmond |
| USA | WA | Tacoma |

In [ ]:
------------------------------------------------------------------
-- TSQLV6
------------------------------------------------------------------
USE TSQLV6;

SELECT country, region, city FROM HR.Employees
EXCEPT
SELECT country, region, city FROM Sales.Customers;

------------------------------------------------------------------
-- NorthwindsTSQLV7
------------------------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.[Employee]
EXCEPT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.[Customer];

### **Explanation:**

In the code above, we are first _SELECT_ country, region, and city FROM our HR.Employees table. However, we use a operator called _EXCEPT_ which will return out any rows that are not present in our Sales.Customer's table. We do this by _SELECT_ the customer's country, region and city _FROM_ the Sales.Customers table. This query can be very useful for filtering out results to trackdown specific statistical needs when trying to see your Employees compared to your Customers.

## _TOP 4: Using Parenthesis_

- Create a query that returns the locations of the supplier that are NOT similar to the employee 's location BUT that are similar to the customer's location. This should include the country, region, and city of these tables.
- Tables Involved: Production.Suppliers, HR.Employees, and Sales.Customers from TSQLV6
- Desired Output:

**TSQLV6:**

| country | region | city |
| --- | --- | --- |
| Canada | Québec | Montréal |
| France | NULL | Paris |
| Germany | NULL | Berlin |

**Northwinds2022TSQLV7:**

| SupplierCountry | SupplierRegion | SupplierCity |
| --- | --- | --- |
| Canada | Québec | Montréal |
| France | NULL | Paris |
| Germany | NULL | Berlin |

In [ ]:
------------------------------
--TSQLV6
------------------------------

USE TSQLV6;

(SELECT country, region, city FROM Production.Suppliers
 EXCEPT
 SELECT country, region, city FROM HR.Employees)
INTERSECT
SELECT country, region, city FROM Sales.Customers;

------------------------------
--TSQLV6
------------------------------

USE Northwinds2022TSQLV7;

(SELECT SupplierCountry, SupplierRegion, SupplierCity FROM Production.[Supplier]
 EXCEPT
 SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.[Employee])
INTERSECT
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.[Customer];

### **Explanation:**

The sql code above we are going to _SELECT_ the country, region and city _FROM_ Production.Suppliers which is the suppliers location. However, we are using the _EXCEPT_ operator to not have any similar rows with HR.Employees table which includes the country, region, and city rows. We then put _parenthesis_ to do this part of the execution of the query first. After that is filtered out then we use the _INTERSECT_ operator to match any similar rows the _parenthesis_ result has with Sales.Customers table which includes rows from country, region, and city columns. This is very useful because we can learn how to decrease chances of having any errors due to parenthesis having the highest precendence so it will execute whatever inside the _parenthesis_ first. Also it improves readability of the code.

## _TOP 5: Circumventing Unsupported Logical Phases_

- Create a query that provides a table with the distinct number of locations for each country that are from either the employees or customers table
- Tables Provided: HR.Employees, Sales.Customers from TSQLV6
- Desired Output:

  

**TSQLV6:**

|country|numlocations|
|---|---|
|Argentina|1|
|Austria|2|
|Belgium|2|
|Brazil|4|
|Canada|3|
|Denmark|2|
|Finland|2|
|France|9|
|Germany|11|
|Ireland|1|
|Italy|3|
|Mexico|1|
|Norway|1|
|Poland|1|
|Portugal|1|
|Spain|3|
|Sweden|2|
|Switzerland|2|
|UK|2|
|USA|14|
|Venezuela|4|



**NORTHWINDS2022TSQV7:**

|EmployeeCountry|NumberLocations|
|---|---|
|Argentina|1|
|Austria|2|
|Belgium|2|
|Brazil|4|
|Canada|3|
|Denmark|2|
|Finland|2|
|France|9|
|Germany|11|
|Ireland|1|
|Italy|3|
|Mexico|1|
|Norway|1|
|Poland|1|
|Portugal|1|
|Spain|3|
|Sweden|2|
|Switzerland|2|
|UK|2|
|USA|14|
|Venezuela|4|

In [ ]:
-----------------------------------
--TSQLV6
-----------------------------------


USE TSQLV6;

SELECT country, COUNT(*) AS numlocations
FROM (SELECT country, region, city FROM HR.Employees
      UNION
      SELECT country, region, city FROM Sales.Customers) AS U
GROUP BY country;

-----------------------------------
--Northwinds2022TSQLV7
-----------------------------------


USE Northwinds2022TSQLV7;

SELECT EmployeeCity, COUNT(*) AS NumberLocations
FROM (SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.[Employee]
      UNION
      SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.[Customer]) AS U
GROUP BY EmployeeCity;

### **Explanation:**

In the sql code above, we are going to _SELECT_ country, a operator _COUNT(\*)_ where \* will come _FROM_ the parenthesis where we _SELECT_ country, region, city _FROM_ our HR.Employees tables and it will use only _UNION_ with Sales.Customers using the country, region, and city to remove any duplicated rows and only return unique rows. Finally we _GROUP BY_ country so we only get results of country. Since we are doing _GROUP BY_ the country, the _COUNT(\*)_ will add to count the amount of unique locations by country and it will be called numlocations. This can be very helpful when trying to learn different variations of how _COUN_T works when we are selecting _FROM_ a parenthesis statement.

# **EXCERCISE CHAPTER 6**

## _Excercise 1 Chapter 6:_

- Explain the difference between the UNION ALL and UNION operators. In what cases are the two equivalent? When they are equivalent, which one should you use?

  

### **Solution:**

 The difference between _UNION ALL_ and _UNION_ operators is how _UNION ALL_ operator will combine two tables regardless of rows that have the same exact values which is basically duplicated. In the _UNION_ operator, it will filter and remove any rows that have the same exact values overall eliminating any duplicates. A case where both of these operators are equivalent is when both tables that are being combined already does NOT have any rows with identical values from each other tables. Between choosing UNION ALL and UNION, choosing UNION would be the perferred way due to most queries in the real world would not want any duplicates and it would overall avoid more work being done to check unless the query does not care about duplicates coming up in the results.

# **Propositions**

## _UNION ALL OPERATOR_

- Create a query that will return the employee's country, region, and city combined with customer's country, region, and city including duplicates.
- Tables Given: HR.Employes and Sales.Customers from TSQLV6
- Desired Output:

  

**TSQLV6:**                                        

|country|region|city|                                                                          
|---|---|---|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|UK|NULL|London|
|UK|NULL|London|
|UK|NULL|London|
|USA|WA|Seattle|
|UK|NULL|London|
|Germany|NULL|Berlin|
|Mexico|NULL|M&#233;xico D.F.|
|Mexico|NULL|M&#233;xico D.F.|
|UK|NULL|London|
|Sweden|NULL|Lule&#229;|
|Germany|NULL|Mannheim|
|France|NULL|Strasbourg|
|Spain|NULL|Madrid|
|France|NULL|Marseille|
|Canada|BC|Tsawassen|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|Mexico|NULL|M&#233;xico D.F.|
|Switzerland|NULL|Bern|
|Brazil|SP|Sao Paulo|
|UK|NULL|London|
|Germany|NULL|Aachen|
|France|NULL|Nantes|
|UK|NULL|London|
|Austria|NULL|Graz|
|Brazil|SP|Sao Paulo|
|Spain|NULL|Madrid|
|France|NULL|Lille|
|Sweden|NULL|Br&#228;cke|
|Germany|NULL|M&#252;nchen|
|France|NULL|Nantes|
|Italy|NULL|Torino|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Sevilla|
|Brazil|SP|Campinas|
|USA|OR|Eugene|
|Venezuela|DF|Caracas|
|Brazil|RJ|Rio de Janeiro|
|Venezuela|T&#225;chira|San Crist&#243;bal|
|USA|OR|Elgin|
|Ireland|Co. Cork|Cork|
|UK|Isle of Wight|Cowes|
|Germany|NULL|Brandenburg|
|France|NULL|Versailles|
|France|NULL|Toulouse|
|Canada|BC|Vancouver|
|USA|WA|Walla Walla|
|Germany|NULL|Frankfurt a.M.|
|USA|CA|San Francisco|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|USA|OR|Portland|
|Italy|NULL|Bergamo|
|Belgium|NULL|Bruxelles|
|Canada|Qu&#233;bec|Montr&#233;al|
|Germany|NULL|Leipzig|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|USA|AK|Anchorage|
|Germany|NULL|K&#246;ln|
|France|NULL|Paris|
|Mexico|NULL|M&#233;xico D.F.|
|Austria|NULL|Salzburg|
|Portugal|NULL|Lisboa|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Sao Paulo|
|Germany|NULL|Cunewalde|
|Argentina|NULL|Buenos Aires|
|USA|NM|Albuquerque|
|Italy|NULL|Reggio Emilia|
|Brazil|RJ|Rio de Janeiro|
|Switzerland|NULL|Gen&#232;ve|
|Spain|NULL|Madrid|
|Norway|NULL|Stavern|
|USA|ID|Boise|
|UK|NULL|London|
|Denmark|NULL|Kobenhavn|
|France|NULL|Paris|
|USA|WY|Lander|
|Belgium|NULL|Charleroi|
|USA|OR|Portland|
|USA|MT|Butte|
|Germany|NULL|M&#252;nster|
|Mexico|NULL|M&#233;xico D.F.|
|Brazil|SP|Sao Paulo|
|USA|WA|Kirkland|
|Denmark|NULL|&#197;rhus|
|France|NULL|Lyon|
|France|NULL|Reims|
|Germany|NULL|Stuttgart|
|Finland|NULL|Oulu|
|Brazil|SP|Resende|
|USA|WA|Seattle|
|Finland|NULL|Helsinki|
|Poland|NULL|Warszawa|

**NorthWinds2022TSQLV7:**                                        

|EmployeeCountry|EmployeeRegion|EmployeeCity|                                                                          
|---|---|---|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|UK|NULL|London|
|UK|NULL|London|
|UK|NULL|London|
|USA|WA|Seattle|
|UK|NULL|London|
|Germany|NULL|Berlin|
|Mexico|NULL|M&#233;xico D.F.|
|Mexico|NULL|M&#233;xico D.F.|
|UK|NULL|London|
|Sweden|NULL|Lule&#229;|
|Germany|NULL|Mannheim|
|France|NULL|Strasbourg|
|Spain|NULL|Madrid|
|France|NULL|Marseille|
|Canada|BC|Tsawassen|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|Mexico|NULL|M&#233;xico D.F.|
|Switzerland|NULL|Bern|
|Brazil|SP|Sao Paulo|
|UK|NULL|London|
|Germany|NULL|Aachen|
|France|NULL|Nantes|
|UK|NULL|London|
|Austria|NULL|Graz|
|Brazil|SP|Sao Paulo|
|Spain|NULL|Madrid|
|France|NULL|Lille|
|Sweden|NULL|Br&#228;cke|
|Germany|NULL|M&#252;nchen|
|France|NULL|Nantes|
|Italy|NULL|Torino|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Sevilla|
|Brazil|SP|Campinas|
|USA|OR|Eugene|
|Venezuela|DF|Caracas|
|Brazil|RJ|Rio de Janeiro|
|Venezuela|T&#225;chira|San Crist&#243;bal|
|USA|OR|Elgin|
|Ireland|Co. Cork|Cork|
|UK|Isle of Wight|Cowes|
|Germany|NULL|Brandenburg|
|France|NULL|Versailles|
|France|NULL|Toulouse|
|Canada|BC|Vancouver|
|USA|WA|Walla Walla|
|Germany|NULL|Frankfurt a.M.|
|USA|CA|San Francisco|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|USA|OR|Portland|
|Italy|NULL|Bergamo|
|Belgium|NULL|Bruxelles|
|Canada|Qu&#233;bec|Montr&#233;al|
|Germany|NULL|Leipzig|
|UK|NULL|London|
|Argentina|NULL|Buenos Aires|
|USA|AK|Anchorage|
|Germany|NULL|K&#246;ln|
|France|NULL|Paris|
|Mexico|NULL|M&#233;xico D.F.|
|Austria|NULL|Salzburg|
|Portugal|NULL|Lisboa|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Sao Paulo|
|Germany|NULL|Cunewalde|
|Argentina|NULL|Buenos Aires|
|USA|NM|Albuquerque|
|Italy|NULL|Reggio Emilia|
|Brazil|RJ|Rio de Janeiro|
|Switzerland|NULL|Gen&#232;ve|
|Spain|NULL|Madrid|
|Norway|NULL|Stavern|
|USA|ID|Boise|
|UK|NULL|London|
|Denmark|NULL|Kobenhavn|
|France|NULL|Paris|
|USA|WY|Lander|
|Belgium|NULL|Charleroi|
|USA|OR|Portland|
|USA|MT|Butte|
|Germany|NULL|M&#252;nster|
|Mexico|NULL|M&#233;xico D.F.|
|Brazil|SP|Sao Paulo|
|USA|WA|Kirkland|
|Denmark|NULL|&#197;rhus|
|France|NULL|Lyon|
|France|NULL|Reims|
|Germany|NULL|Stuttgart|
|Finland|NULL|Oulu|
|Brazil|SP|Resende|
|USA|WA|Seattle|
|Finland|NULL|Helsinki|
|Poland|NULL|Warszawa|

In [ ]:
-- The UNION ALL Multiset Operator

---------------------------------------------------
--TSQLV6
---------------------------------------------------
USE TSQLV6;

SELECT country, region, city FROM HR.Employees
UNION ALL
SELECT country, region, city FROM Sales.Customers;

---------------------------------------------------
--Converted to Northwinds database
--------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.[Employee]
UNION ALL
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.[Customer];

### **Explanation:**

The code above shows us _SELECT_ country, region, city _FROM_ the table HR.Employees. However, we use _UNION_ _ALL_ which will combine all the columns from HR.Employees with Sales.Customers which where we are combining the customers country,region, and city. Overall we will get a result that will give us all the rows including duplicates. Using _UNION ALL_ can be useful to learn how to simply combine two tables into one overall seing the results of two tables.

## _Union Operator_

- Create a query that will return the employee's country, region, and city combined with customer's country, region, and city without any duplicates.
- Tables Given: HR.Employes and Sales.Customers from TSQLV6
- Desired Output:

  

**TSQLV6:**

|country|region|city|
|---|---|---|
|Argentina|NULL|Buenos Aires|
|Austria|NULL|Graz|
|Austria|NULL|Salzburg|
|Belgium|NULL|Bruxelles|
|Belgium|NULL|Charleroi|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Campinas|
|Brazil|SP|Resende|
|Brazil|SP|Sao Paulo|
|Canada|BC|Tsawassen|
|Canada|BC|Vancouver|
|Canada|Qu&#233;bec|Montr&#233;al|
|Denmark|NULL|&#197;rhus|
|Denmark|NULL|Kobenhavn|
|Finland|NULL|Helsinki|
|Finland|NULL|Oulu|
|France|NULL|Lille|
|France|NULL|Lyon|
|France|NULL|Marseille|
|France|NULL|Nantes|
|France|NULL|Paris|
|France|NULL|Reims|
|France|NULL|Strasbourg|
|France|NULL|Toulouse|
|France|NULL|Versailles|
|Germany|NULL|Aachen|
|Germany|NULL|Berlin|
|Germany|NULL|Brandenburg|
|Germany|NULL|Cunewalde|
|Germany|NULL|Frankfurt a.M.|
|Germany|NULL|K&#246;ln|
|Germany|NULL|Leipzig|
|Germany|NULL|Mannheim|
|Germany|NULL|M&#252;nchen|
|Germany|NULL|M&#252;nster|
|Germany|NULL|Stuttgart|
|Ireland|Co. Cork|Cork|
|Italy|NULL|Bergamo|
|Italy|NULL|Reggio Emilia|
|Italy|NULL|Torino|
|Mexico|NULL|M&#233;xico D.F.|
|Norway|NULL|Stavern|
|Poland|NULL|Warszawa|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Madrid|
|Spain|NULL|Sevilla|
|Sweden|NULL|Br&#228;cke|
|Sweden|NULL|Lule&#229;|
|Switzerland|NULL|Bern|
|Switzerland|NULL|Gen&#232;ve|
|UK|NULL|London|
|UK|Isle of Wight|Cowes|
|USA|AK|Anchorage|
|USA|CA|San Francisco|
|USA|ID|Boise|
|USA|MT|Butte|
|USA|NM|Albuquerque|
|USA|OR|Elgin|
|USA|OR|Eugene|
|USA|OR|Portland|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Walla Walla|
|USA|WY|Lander|
|Venezuela|DF|Caracas|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|Venezuela|T&#225;chira|San Crist&#243;bal|

**Northwinds2022TSQLV7:**

|EmployeeCountry|EmployeeRegion|EmployeeCity|
|---|---|---|
|Argentina|NULL|Buenos Aires|
|Austria|NULL|Graz|
|Austria|NULL|Salzburg|
|Belgium|NULL|Bruxelles|
|Belgium|NULL|Charleroi|
|Brazil|RJ|Rio de Janeiro|
|Brazil|SP|Campinas|
|Brazil|SP|Resende|
|Brazil|SP|Sao Paulo|
|Canada|BC|Tsawassen|
|Canada|BC|Vancouver|
|Canada|Qu&#233;bec|Montr&#233;al|
|Denmark|NULL|&#197;rhus|
|Denmark|NULL|Kobenhavn|
|Finland|NULL|Helsinki|
|Finland|NULL|Oulu|
|France|NULL|Lille|
|France|NULL|Lyon|
|France|NULL|Marseille|
|France|NULL|Nantes|
|France|NULL|Paris|
|France|NULL|Reims|
|France|NULL|Strasbourg|
|France|NULL|Toulouse|
|France|NULL|Versailles|
|Germany|NULL|Aachen|
|Germany|NULL|Berlin|
|Germany|NULL|Brandenburg|
|Germany|NULL|Cunewalde|
|Germany|NULL|Frankfurt a.M.|
|Germany|NULL|K&#246;ln|
|Germany|NULL|Leipzig|
|Germany|NULL|Mannheim|
|Germany|NULL|M&#252;nchen|
|Germany|NULL|M&#252;nster|
|Germany|NULL|Stuttgart|
|Ireland|Co. Cork|Cork|
|Italy|NULL|Bergamo|
|Italy|NULL|Reggio Emilia|
|Italy|NULL|Torino|
|Mexico|NULL|M&#233;xico D.F.|
|Norway|NULL|Stavern|
|Poland|NULL|Warszawa|
|Portugal|NULL|Lisboa|
|Spain|NULL|Barcelona|
|Spain|NULL|Madrid|
|Spain|NULL|Sevilla|
|Sweden|NULL|Br&#228;cke|
|Sweden|NULL|Lule&#229;|
|Switzerland|NULL|Bern|
|Switzerland|NULL|Gen&#232;ve|
|UK|NULL|London|
|UK|Isle of Wight|Cowes|
|USA|AK|Anchorage|
|USA|CA|San Francisco|
|USA|ID|Boise|
|USA|MT|Butte|
|USA|NM|Albuquerque|
|USA|OR|Elgin|
|USA|OR|Eugene|
|USA|OR|Portland|
|USA|WA|Kirkland|
|USA|WA|Redmond|
|USA|WA|Seattle|
|USA|WA|Tacoma|
|USA|WA|Walla Walla|
|USA|WY|Lander|
|Venezuela|DF|Caracas|
|Venezuela|Lara|Barquisimeto|
|Venezuela|Nueva Esparta|I. de Margarita|
|Venezuela|T&#225;chira|San Crist&#243;bal|

In [ ]:
-- The UNION ALL Multiset Operator

---------------------------------------------------
--TSQLV6
---------------------------------------------------
USE TSQLV6;

SELECT country, region, city FROM HR.Employees
UNION ALL
SELECT country, region, city FROM Sales.Customers;

---------------------------------------------------
--Converted to Northwinds database
--------------------------------------------------
USE Northwinds2022TSQLV7;

SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.[Employee]
UNION ALL
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.[Customer];

### **Explanation:**

The SQL code above shows us _SELECT_ country, region, city _FROM_ the table HR.Employees. However, we use _UNION_ which will combine all the columns from HR.Employees with Sales.Customers which where we are combining the customers country, region, and city. However, since we are only using _UNION_ it will eliminate any rows that show up more than one. Using _UNION_ can be useful to learn how to simply combine two tables into one overall seing the results of two tables without having to see duplicated rows.